Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

fix: remove unnecessary TaintedTransactionStatus::Boosted
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

fix: add is_vote_desired()
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

fix: retry with search history enabled after some attempts
  engine/src/sol/retry_rpc.rs
Owners: none

chore: increase number of retries
  engine/src/sol/retry_rpc.rs
Owners: none

chore: better not contributing error message (#5368)
  engine/src/elections.rs
Owners: none

test: Added more tests
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

chore: fix cargo fmt
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

feature/PRO-1712/reject-tx (#5332)
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/any.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

fix: separate lp account for lp api (#5354)
  bouncer/commands/run_test.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/lp_api_test.ts
  localnet/init/keys/LP_1
  localnet/init/keys/LP_API
  localnet/init/scripts/start-lp-api.sh
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @kylezs, @chainflip-io/platform, @dandanlen

fix: features for test-externalities (#5365)
  Cargo.toml
  state-chain/test-utilities/Cargo.toml
Owners: @dandanlen

Update localnet polkadot runtime to v1.3.3 (#5337)
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

fix: remove is_vote_valid (#5363)
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: add sol chain tracking metric (#5366)
  engine/src/witness/sol.rs
Owners: @kylezs

fix: clippy, tests, benchmarks
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: remove dupe test
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

chore: bouncer fixes
  bouncer/shared/vault_swap.ts
Owners: @martin-chainflip

fix: make boost detection more accurate (#5369)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

chore: prevent rpc call if empty list
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

Removed redundant files
  state-chain/runtime-utilities/README.md
  state-chain/runtime-utilities/src/helper_functions.rs
  state-chain/runtime-utilities/src/migration_template.rs
Owners: @dandanlen

Updated docs on Migration tools
  state-chain/runtime-utilities/README.md
Owners: @dandanlen

refactor: move private channel extrinsics to cf_swapping
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

refactor: factor out next channel id allocation
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: fix merge and clippy
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: added current status
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: restored
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: fix issues all around
  .cargo/config.toml
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/chains/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: fix lint
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @dandanlen

chore: remove prints
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix: always sweep on fetch free balance
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: added current status
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: address comment
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

Feat: Expand Solana Vault Swap functionality and fix bouncer (#5375)
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  localnet/docker-compose.yml
  state-chain/chains/src/lib.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @kylezs, @chainflip-io/platform, @dandanlen

chore: remove unused stream utils
  engine/src/lib.rs
  engine/src/stream_utils.rs
Owners: none

fix: always sweep on RPC free balance (#5376)
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: subscription return types
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

doc: fix comment
  engine/src/sol/retry_rpc.rs
Owners: none

chore: remove unused stream_utils (#5373)
  engine/src/lib.rs
  engine/src/stream_utils.rs
Owners: none

fix: rpc subscription return types (#5374)
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix: retry with search history enabled after some attempts (#5370)
  engine/src/sol/retry_rpc.rs
Owners: none

chore: added current state
  bouncer/shared/send_btc.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
