Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

chore: consistent naming prewitnessed (#5351)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: small improvements
  state-chain/chains/src/btc.rs
  state-chain/chains/src/lib.rs
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

fix: ignore dust underflows in order fills rpc (#5352)
  state-chain/custom-rpc/src/order_fills.rs
Owners: @dandanlen

use //LP_API
  localnet/init/keys/LP_API
Owners: @chainflip-io/platform

chore: add address to solana logging (#5353)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

setup lp account
  bouncer/shared/upgrade_network.ts
  state-chain/node/src/chain_spec/testnet.rs
Owners: @kylezs, @dandanlen

fix: simplify cf params decoding
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

wip: change depositDetails for btc to utxo
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

feat: add/update parameters to contract swaps
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: small refactor
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

feat: solana vault swaps elections
  engine/src/elections/voter_api.rs
  engine/src/witness/sol.rs
  state-chain/chains/src/address.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual/composite.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: use EthAsset alias
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @kylezs, @dandanlen

feat: broker fees parameter for contract swaps
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @kylezs, @dandanlen

fix: address RuntimeCall size limit (again)
  engine/src/witness/btc/smart_contract.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @kylezs, @dandanlen

feat: deprecate old contract swap calls
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: downgrade error -> warning
  engine/src/witness/evm/vault.rs
Owners: @kylezs

fix: ignore dust underflow
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Update state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations.rs
Owners: @dandanlen

feat: add/update contract swaps parameters (#5343)
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @kylezs, @dandanlen

chore: add address to solana logging (#5353)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

fix: expire all previous epochs (#5279)
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: rename contract swaps -> vault swaps
  api/lib/src/lib.rs
  engine/src/witness/arb.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: rename contract swaps -> vault swaps
  api/lib/src/lib.rs
  bouncer/shared/swapping.ts
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/rotation_barrier.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

test: fix submission watcher test
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher/tests.rs
Owners: none

feat: Add retry to lp-api test rpcs
  bouncer/shared/json_rpc.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

Make Refund parameter's address to be consistent with the destination_address
  Cargo.lock
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

chore: bump sdk with new broker_fees type
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  engine/src/witness/common/cf_parameters.rs
Owners: @martin-chainflip, @kylezs

Revert "wip: change depositDetails for btc to utxo"
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

feat: account closing tracking in elections
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: fix failing test
  bouncer/shared/contract_swap.ts
  bouncer/shared/swap_context.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

chore: clippy
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @kylezs, @dandanlen

chore: minor
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: remove previous impl
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

chore: bump sdk
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

chore: lint
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

refactor: added current status of tx_id refactor
  state-chain/chains/src/any.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

keep into account only active suspensions
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

filter out duplicates and properly count keygen suspensions
  state-chain/pallets/cf-validator/src/rotation_state.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

tests: Moved screening feature tests to own file and test against btc
  state-chain/chains/src/evm.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

addressed comments
  state-chain/runtime/src/lib.rs
Owners: @dandanlen
