Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

tmp: build 1.3 with release
  .github/workflows/release-sisyphos.yml
Owners: none

chore: minor import warnings (#4740)
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

build fixes
  .github/workflows/_24_docker.yml
  .github/workflows/release-sisyphos.yml
  engine-dylib/Cargo.toml
Owners: none

fix: clippy
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

add dylib to workspace
  Cargo.lock
  Cargo.toml
Owners: none

add dylib to workspace
  Cargo.toml
Owners: none

chore: replace panic with warn to allow try-runtime to pass
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @dandanlen

fix: import arb
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @dandanlen

fix: log don't error in try-runtime
  state-chain/pallets/cf-pools/src/migrations/v4.rs
Owners: @dandanlen

feat: make price impact limit configurable per pool (#4750)
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
  state-chain/pallets/cf-pools/src/migrations/v4.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @dandanlen

Added request_redemption for v1/v2
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

chore: add skip test for upgrade test
  bouncer/shared/broker_fee_collection.ts
Owners: @martin-chainflip

chore: use success instead of completed
  .github/actions/get-workflow-commit/action.yml
Owners: none

chore: use sisyphos job for upgrade-test
  .github/workflows/ci-nightly.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: update cli commands
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
Owners: none

chore: Moved start/stop bidding from Funding to Validator pallet. (#4727) (#4727)
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/chains/src/btc/deposit_address.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/active_bidders.rs
  state-chain/runtime/src/migrations/vanity_names.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/epoch_info.rs
  state-chain/traits/src/mocks/funding_info.rs
Owners: @dandanlen

chore: log that concurrent test fails
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

chore: lint
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

Added other price format (price, sqrt_price and tick) to pool_depth rpc
  state-chain/amm/src/common.rs
  state-chain/amm/src/lib.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

feat: add boost pool created event
  bouncer/shared/submit_runtime_upgrade.ts
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
Owners: @martin-chainflip, @dandanlen

chore: use success runs (#4759)
  .github/actions/get-workflow-commit/action.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/upgrade-test.yml
  bouncer/tests/all_concurrent_tests.ts
Owners: @kylezs, @martin-chainflip

runtime debug log
  localnet/init/scripts/start-node.sh
Owners: @chainflip-io/platform

doc: use latest successful workflow run
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: use arbeth consistently
  bouncer/commands/get_arbeth_balance.ts
  bouncer/commands/send_arbeth.ts
Owners: @martin-chainflip

fix: add init values for ingress egress pallet
  .github/workflows/upgrade-test.yml
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @kylezs, @dandanlen

fix: initialise ingress egress pallet values for arbitrum (#4762)
  .github/workflows/upgrade-test.yml
  bouncer/commands/get_arbeth_balance.ts
  bouncer/commands/send_arbeth.ts
  localnet/init/scripts/start-node.sh
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @kylezs, @martin-chainflip, @chainflip-io/platform, @dandanlen

feat: write snapshot if try runtime check fails (#4657)
  .github/workflows/upgrade-test.yml
  bouncer/commands/upgrade_network.ts
  bouncer/shared/try_runtime_upgrade.ts
  bouncer/shared/upgrade_network.ts
  bouncer/shared/utils/exec_with_log.ts
Owners: @kylezs, @martin-chainflip

chore: address comments
  bouncer/commands/get_sol_balance.ts
  bouncer/commands/get_solusdc_balance.ts
  bouncer/commands/new_sol_address.ts
Owners: @martin-chainflip

chore: remove ubuntu 20.04 support 👋
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/docker-build-rust-base.yml
  ci/docker/development/rust-base.Dockerfile
Owners: none

fix: setup arb vault separately
  bouncer/commands/setup_arb_vault.ts
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/upgrade_network.ts
Owners: @martin-chainflip, @kylezs

fix: setup arb vault separately
  bouncer/commands/setup_arb_vault.ts
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/upgrade_network.ts
Owners: @martin-chainflip, @kylezs

use Vec instead of BTreeSet
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/signer_nomination.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/mock.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/runtime/src/chainflip/decompose_recompose.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/epoch_info.rs
Owners: @dandanlen

revert test change
  state-chain/cf-integration-tests/src/funding.rs
Owners: @dandanlen

add migration
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

add missing migration
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

fmt
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

remove debug println
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

"manually" migrate using storage aliases
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

fix migrations
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

update migrations
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen
