Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

chore: repr(C) CStrArray and pass it around
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: factor out unsafe malloc
  engine-upgrade-utils/src/lib.rs
Owners: none

fix: move package scripts to runner-bin
  engine-runner-bin/package/berghain/chainflip-engine.service
  engine-runner-bin/package/perseverance/chainflip-engine.service
  engine-runner-bin/package/preinst-tests/mocks/mock_commands.sh
  engine-runner-bin/package/preinst-tests/tests/setup.bats
  engine-runner-bin/package/preinst-tests/tests/test_preinst.bats
  engine-runner-bin/package/sisyphos/chainflip-engine.service
  engine-runner-bin/package/test/chainflip-engine.service
Owners: none

remove export from test
  .github/workflows/_10_test.yml
Owners: none

chore: remove export for build
  .github/workflows/_20_build.yml
Owners: none

use 1.3.3
  engine-runner-bin/Cargo.toml
  engine-upgrade-utils/src/lib.rs
Owners: none

move exit status to top level
  engine/src/lib.rs
  utilities/src/with_std/logging.rs
Owners: none

use from and better names
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: use array instead of iter
  engine-proc-macros/src/lib.rs
Owners: none

chore: remove stale comment
  engine-runner-bin/src/main.rs
Owners: none

move new dylib to searched location
  .github/workflows/upgrade-test.yml
  engine-upgrade-utils/src/lib.rs
Owners: @kylezs

doc: Add Chainflip Engine Runner docs
  README.md
  engine-runner-bin/README.md
Owners: none

chore: add LD_LIBRARY_PATH to test service file
  engine-runner-bin/package/test/chainflip-engine.service
Owners: none

chore: remove LD_LIBRARY_PATH from start localnet
  .github/workflows/_40_post_check.yml
Owners: none

chore: re-inline panic str
  utilities/src/with_std/logging.rs
Owners: none

doc: improve cargo deb comment
  engine-runner-bin/Cargo.toml
Owners: none

doc: fix comment
  engine-upgrade-utils/src/lib.rs
Owners: none

doc: fix typo
  engine-runner-bin/README.md
Owners: none

doc: clarifying comment
  engine-runner-bin/Cargo.toml
Owners: none

fix: Clone correctly
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: remove stale set_fee_multiplier from bad merge
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
Owners: @dandanlen

chore: use prefix consts
  engine-dylib/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/build.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: better deb asset check message
  engine-runner-bin/build.rs
Owners: none

feat: smaller macros
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: factor out toml and version parsing
  Cargo.lock
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/build_helpers.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/build.rs
Owners: none

chore: remove unused wait_for_required_version
  api/bin/chainflip-ingress-egress-tracker/src/witnessing.rs
  api/lib/src/lib.rs
  api/lib/src/queries.rs
  engine/src/lib.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/sc_observer/tests.rs
  engine/src/witness/evm/key_manager.rs
Owners: @chainflip-io/web, @kylezs, @AlastairHolmes

Refactored RangeOrderSizeJson to fit old and new encoding
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Simplied mock bidding mechanism in Fund pallet's tests Added unit test for Redemption checker and auction phase
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/epoch_info.rs
Owners: @dandanlen

feat: Add boost events
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

chore: add channel_id to DepositFinalised
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

Revert "fix: Wait for ThresholdSignature success before switching to NewKeysActivated (#4534)"
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/broadcaster.rs
Owners: @dandanlen

Revert "fix: Wait for ThresholdSignature success before switching to NewKeysActivated (#4534)"
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/broadcaster.rs
Owners: @dandanlen

fix: use new perseverance genesis hash
  state-chain/runtime-upgrade-utilities/src/lib.rs
Owners: @dandanlen

fix: runtime upgrade triggers resign of failed eth broadcast 3348
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: add changelog
  CHANGELOG.md
Owners: none

chore: version bumps for 1.3.3
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

fix: use new perseverance genesis hash (#4748)
  state-chain/runtime-upgrade-utilities/src/lib.rs
Owners: @dandanlen

chore: version bumps for 1.3.3
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

Revert "fix: Wait for ThresholdSignature success before switching to NewKeysActivated (#4534)"
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/broadcaster.rs
Owners: @dandanlen

chore: add changelog
  CHANGELOG.md
Owners: none
