Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @chainflip-io/web, @chainflip-io/platform, @kylezs, @AlastairHolmes, @msgmaxim, @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip
/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/multisig/ @msgmaxim
/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes
/state-chain/ @dandanlen
/utilities/with_std/task_scope @AlastairHolmes
/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/retrier.rs @kylezs

addressed comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

Solana Address Derivation (for SOL)
  Cargo.lock
  state-chain/chains/Cargo.toml
  state-chain/chains/src/address.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/address.rs
  state-chain/chains/src/sol/consts.rs
  state-chain/chains/src/sol/public_key.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/address_derivation/sol.rs
Owners: @dandanlen

addressed comments
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

Solana address derivation tests
  state-chain/chains/src/sol/address.rs
Owners: @dandanlen

chore: auto pick
  .github/workflows/ci-cherry-pick.yml
Owners: none

fix: correct env
  .github/workflows/ci-cherry-pick.yml
Owners: none

change
  .github/workflows/ci-cherry-pick.yml
Owners: none

change (#4499)
  .github/workflows/ci-cherry-pick.yml
Owners: none

change
  .github/workflows/ci-cherry-pick.yml
Owners: none

change
  .github/workflows/ci-cherry-pick.yml
Owners: none

change (#4501)
  .github/workflows/ci-cherry-pick.yml
Owners: none

fix: Evm Vault Activator
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/all_vault_activator.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

[pick]
  .github/pull_request_template.md
  .github/workflows/ci-cherry-pick.yml
Owners: none

[pick]
  .github/pull_request_template.md
  .github/workflows/ci-cherry-pick.yml
Owners: none

[pick]
  .github/workflows/ci-cherry-pick.yml
Owners: none

[pick]
  .github/workflows/ci-cherry-pick.yml
Owners: none

[pick]
  .github/workflows/ci-cherry-pick.yml
Owners: none

[pick]
  .github/workflows/ci-cherry-pick.yml
Owners: none

feat: arbitrum initialization extrinsic
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

test: update env rpc serialization test
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @dandanlen

chore: simplify migration for swaps
  state-chain/pallets/cf-swapping/src/migrations/schedule_swaps.rs
Owners: @dandanlen

refactor: schedule_swap_internal computes execute_at internally
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: rename method
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

refactor: remove some nesting
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: magic number -> const
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

test: check that failing swaps get rescheduled
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

feat: add boost fee field to DepositChannelDetails (#4492)
  engine/src/witness/btc/btc_deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/btc_deposit_channels.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @kylezs, @AlastairHolmes, @dandanlen

no need really for @solana-developers/helpers in bouncer
  bouncer/package.json
Owners: @martin-chainflip

fix: continuous adapter
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

fix: not equal
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

fix: integration tests and unit test
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Owners: @dandanlen

chore: minor
  engine/src/constants.rs
  engine/src/settings.rs
  state-chain/pallets/cf-chain-tracking/src/lib.rs
Owners: @dandanlen
