Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

refactor:
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

chore: rearranged imports
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

fix: consensus
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: minor
  foreign-chains/solana/sol-prim/src/consts.rs
Owners: none

chore: minor rename
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

Moved Environment pallet's migration from Runtime into Pallet
  Cargo.lock
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-environment/Cargo.toml
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/sol_api_environment.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
Owners: @dandanlen

Fixed bouncer
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

Corrected placeholder migration version for the broadcaster pallet
  state-chain/pallets/cf-broadcast/src/migrations.rs
Owners: @dandanlen

Revert "fix: expire all previous epochs (#5279)"
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

Revert "fix: expire all previous epochs (#5279)" (#5362)
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

refactors:
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

Feat: engine logic to witness solana program swaps (#5313)
  Cargo.lock
  engine/Cargo.toml
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/devnet.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
Owners: @kylezs, @dandanlen

Feat: Extend Evm Vault swaps functionality (#5344)
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/send.ts
  bouncer/shared/swap_context.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
  engine/src/witness/arb.rs
  engine/src/witness/common.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
  state-chain/traits/src/mocks/egress_handler.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

feat: return swap account along with swap details
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix: correct shared data hash
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

refactor: use election properties
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix: remove is_vote_valid
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: rename RefundParametersString
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

chore: bump call index
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

feature/PRO-1712/reject-tx (#5332)
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/any.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

fix: change bouncer version (not sure this works)
  bouncer/package.json
Owners: @martin-chainflip

tests: Added first draft of bouncer test
  bouncer/shared/send_btc.ts
  bouncer/test_commands/broker_level_screening.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: more renaming after merge
  bouncer/shared/perform_swap.ts
  bouncer/shared/swap_context.ts
  bouncer/shared/vault_swap.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

test: fix submission watcher test (#5358)
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher/tests.rs
Owners: none

chore: rename contract swaps -> vault swaps (#5357)
  api/lib/src/lib.rs
  bouncer/shared/perform_swap.ts
  bouncer/shared/swap_context.ts
  bouncer/shared/swapping.ts
  bouncer/shared/vault_swap.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/rotation_barrier.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

feat: support for opening/closing private broker channels
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
Owners: @dandanlen

Refactored our VersionedMigration to use Parity's instead.
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-cfe-interface/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-threshold-signature/src/migrations.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/runtime-upgrade-utilities/Cargo.toml
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime-upgrade-utilities/src/migration_template.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
  state-chain/runtime/src/migrations/reap_old_accounts.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @dandanlen

test: fix tests
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

fix: separate LP API test from other bouncer tests
  bouncer/commands/run_test.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/lp_api_test.ts
  localnet/init/keys/LP_1
  localnet/init/keys/LP_API
  localnet/init/scripts/start-lp-api.sh
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @kylezs, @chainflip-io/platform, @dandanlen

fix: features for test-externalities
  Cargo.toml
  state-chain/test-utilities/Cargo.toml
Owners: @dandanlen

chore: remove stale comment
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

fix: only compare value, not slot number
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

chore: ensure migration tests run
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

Update localnet polkadot runtime to v1.3.3 (#5337)
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

fix: features for test-externalities (#5365)
  Cargo.toml
  state-chain/test-utilities/Cargo.toml
Owners: @dandanlen

fix: separate lp account for lp api (#5354)
  bouncer/commands/run_test.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/lp_api_test.ts
  localnet/init/keys/LP_1
  localnet/init/keys/LP_API
  localnet/init/scripts/start-lp-api.sh
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @kylezs, @chainflip-io/platform, @dandanlen

chore: clippy
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

fix: remove is_vote_valid (#5363)
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

bump version
  bouncer/package.json
Owners: @martin-chainflip

update lockfile
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip
