Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

refactor: Switch to a none generic solution
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/swap_request_api.rs
  state-chain/traits/src/swapping.rs
Owners: @martin-chainflip, @dandanlen

support cf_pool_swap_rate_v3 with old runtime
  Cargo.lock
  Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: tests
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system/mock.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

rename
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

chore: Fixes after rebase + clippy
  engine/src/witness/arb.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @kylezs, @dandanlen

chore: tidy up imports
  state-chain/chains/src/lib.rs
Owners: @dandanlen

feat: update engine broker and affiliate fees
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: update dummy hardcoded test cf_parameters
  bouncer/shared/evm_vault_swap.ts
Owners: @martin-chainflip

chore: refactor bouncer vault swaps
  bouncer/cf-abis
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

chore: fix versioned decoding
  bouncer/shared/sol_vault_swap.ts
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @martin-chainflip, @kylezs

chore: fix bouncer lint
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

chore: inline
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: gate MockEth with `std`
  state-chain/chains/src/lib.rs
Owners: @dandanlen

chore: stricter constraint
  state-chain/chains/src/lib.rs
Owners: @dandanlen

ci(release): fix uploading artefacts 🐛
  .github/workflows/_61_upload_versioned_build_artifacts.yml
  .github/workflows/ci-development.yml
Owners: none

Refactor: vault_swap should take TransactionInId (#5409)
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: revert dev ci changes
  .github/workflows/ci-development.yml
Owners: none

fix: 💅
  .github/workflows/ci-development.yml
Owners: none

ci: debug Perseverance upload artifacts 🕵🏻‍♂️
  .github/workflows/_61_upload_versioned_build_artifacts.yml
Owners: none

patch: allow withdrawal of atomic flipperino amount
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
Owners: none

fix: upload compressed artefacts under different name 🐛
  .github/workflows/_50_release.yml
Owners: none

feat: close accounts even for invalid swaps
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
Owners: @kylezs, @dandanlen

chore: remove unnecessary TODO
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix: clippy
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix:
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

feat: rebase fix
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

feat: close accounts even for invalid swaps (#5405)
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
Owners: @kylezs, @dandanlen

fix: upload compressed artefacts under different name 🐛
  .github/workflows/_50_release.yml
Owners: none

ci: debug Perseverance upload artifacts 🕵🏻‍♂️
  .github/workflows/_61_upload_versioned_build_artifacts.yml
Owners: none

chore: update changelog
  CHANGELOG.md
Owners: none

fix(ci): upload compressed artefacts under different name 🐛 (#5420)
  .github/workflows/_50_release.yml
  .github/workflows/_61_upload_versioned_build_artifacts.yml
Owners: none

fix: remove affiilate mappings
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

fix: remove affiilate mappings (#5422)
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

Added integration test for Solana Election systems
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/solana_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
Owners: @dandanlen

chore: update changelog (#5421)
  CHANGELOG.md
Owners: none

Update state-chain/runtime/src/runtime_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

refactor: move amm math into its own crate
  Cargo.lock
  Cargo.toml
  api/lib/src/lp.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/amm-math/Cargo.toml
  state-chain/amm-math/src/lib.rs
  state-chain/amm-math/src/test_utilities.rs
  state-chain/amm/Cargo.toml
  state-chain/amm/src/common.rs
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/limit_orders/tests.rs
  state-chain/amm/src/range_orders.rs
  state-chain/amm/src/range_orders/tests.rs
  state-chain/amm/src/tests.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/Cargo.toml
  state-chain/chains/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @kylezs, @dandanlen

refactor: min_output_amount method on RefundParameters
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

refactor: make pool price struct generic
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Fixed test
  state-chain/cf-integration-tests/src/solana_elections.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
