Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

refactor: execute_batch never to return Error
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: update comment
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

feat: cleanup aborted broadcasts
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/remove_aborted_broadcasts.rs
Owners: @dandanlen

fix: missing process exit on all concurrent tests
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

Restructure into multiple files.
  Cargo.lock
  api/bin/chainflip-btc-deposit-monitor/Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/src/btc.rs
  api/bin/chainflip-btc-deposit-monitor/src/elliptic.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
Owners: none

chore: fix closing of unused deposit channels
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

tests: Added more tests
  state-chain/primitives/src/accounting.rs
Owners: @dandanlen

chore: fix 3-nodes
  .github/workflows/_40_post_check.yml
  .github/workflows/ci-development.yml
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

chore: increase redeem test timeout
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

chore: restore ci
  .github/workflows/_40_post_check.yml
  .github/workflows/ci-development.yml
Owners: none

chore: restore all concurrent tests timeout
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

fix: add audit exception for RUSTSEC-2024-0375
  .cargo/config.toml
Owners: none

fix: add audit exception for RUSTSEC-2024-0375 (#5303)
  .cargo/config.toml
Owners: none

test: check full state of liquidity pools
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

refactor: use chainflip api for DCA test (#5289)
  bouncer/commands/new_swap.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

WIP: Adding zmq for bitcoin mempool monitoring.
  Cargo.lock
  api/bin/chainflip-btc-deposit-monitor/Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/src/btc.rs
  api/bin/chainflip-btc-deposit-monitor/src/btc2.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
Owners: none

fix: Redemption amount printed not consistent in rounding (#5296)
  Cargo.lock
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-cli/src/main.rs
Owners: none

Update events are now always emitted.
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

Update comment.
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

chore: fmt
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

add solana monitoring data
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

feat: add solana monitoring data (#5277)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

chore: adding api call
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v1.0.0/swap_endpoint.json
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
  state-chain/chains/src/sol/transaction_builder.rs
Owners: @dandanlen

fix: add audit exception for RUSTSEC-2024-0375 (#5303)
  .cargo/config.toml
Owners: none

fix: only run when `run-job` is true 🐛
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix: only install solana if `run-job` is true 🐛
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix: only install solana if `run-job` is true 🐛
  .github/workflows/upgrade-test.yml
Owners: @kylezs

refactor: Collect settings extrinsic in threshold signer pallet into a single extrinsic (#5299)
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
Owners: @dandanlen

feat: remove swap and retry batch on price impact (#5285)
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

Chore/debug 3 nodes (#5302)
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

chore: bump asset-balances to match release
  state-chain/pallets/cf-asset-balances/src/lib.rs
Owners: @dandanlen

fix: only install solana if `run-job` is true 🐛 (#5304)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

WIP: using jsonrpc for mempool monitoring.
  Cargo.lock
  api/bin/chainflip-btc-deposit-monitor/Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/src/btc2.rs
  api/bin/chainflip-btc-deposit-monitor/src/btc3.rs
  api/bin/chainflip-btc-deposit-monitor/src/elliptic.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
  engine/Cargo.toml
  engine/src/btc/rpc.rs
  engine/src/p2p/core.rs
Owners: @kylezs, @msgmaxim

Add wrapper types for SwapId and SwapRequestId.
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/swap_request_api.rs
Owners: @dandanlen

Fix imports.
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

Make derives for serde optional.
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

Make `extra_derives` optional by using `$()?` syntax.
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

Run fmt after rebase.
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

refactor: Strongly-typed identifiers for SwapId/SwapRequestId (#5294)
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/swap_request_api.rs
Owners: @dandanlen

chore: use 1.6.7 dylib
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
