Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

wip: chore: cleanup.
  generate-migrations/src/main.rs
Owners: none

wip: feat: add hieararchical extraction of migrations.
  generate-migrations/src/main.rs
Owners: none

wip: feat: add typename checking.
  generate-migrations/src/main.rs
Owners: none

wip: chore: use proper Option.
  generate-migrations/src/main.rs
  generate-migrations/src/write_migration.rs
Owners: none

magit: feat: extract abstract migrations.
  generate-migrations/src/main.rs
Owners: none

wip: chore: add more path components to abstract migration paths.
  generate-migrations/src/main.rs
Owners: none

chore: simplify storages
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

fix: benchmarking, test
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

wip: chore: trying to get proper path treatment.
  generate-migrations/src/main.rs
Owners: none

wip: fix: ignore path when getting update of typerepr.
  generate-migrations/src/main.rs
Owners: none

wip: feat: print types names of added/removed fields.
  generate-migrations/src/main.rs
Owners: none

wip: feat: add support for Tuples and Sequences.
  generate-migrations/src/main.rs
Owners: none

feat: swap aborted event
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @msgmaxim, @j4m1ef0rd

feat: delegated staking auction integration (#6022)
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
Owners: @dandanlen

wip: feat: add migration instances to collect instance parameters.
  Cargo.lock
  generate-migrations/Cargo.toml
  generate-migrations/src/main.rs
Owners: none

wip: feat: better enum variant typenames.
  generate-migrations/src/main.rs
Owners: none

feat: move metadata comparison into separate file.
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
Owners: none

feat: basic CLI and infra for printing old types.
  Cargo.lock
  generate-migrations/Cargo.toml
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/virtual_file.rs
  generate-migrations/src/write_migration.rs
Owners: none

test: check V0 vault swap compatibility
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: added draft implementation
  state-chain/pallets/cf-validator/src/auction_resolver.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: use virtual file to flatten definitions before printing them.
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/virtual_file.rs
Owners: none

refactor: small optimizations
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: write all old types into single file hierarchy.
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/virtual_file.rs
  generate-migrations/src/write_migration.rs
Owners: none

chore: fixed build
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: adios amigos 🖖
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: address PR comments
  engine/src/witness/btc/vault_swaps.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/runtime/src/chainflip/vault_swaps.rs
Owners: @msgmaxim, @dandanlen

Addressed PR comment
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

refactor: use floor instead of ceil
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @msgmaxim, @j4m1ef0rd

chore: run cargo fmt.
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/virtual_file.rs
  generate-migrations/src/write_migration.rs
Owners: none

fix: don't identify structs and enums if they have generic parameters.
  generate-migrations/src/typediff.rs
  generate-migrations/src/virtual_file.rs
Owners: none

chore: wip
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  contract-interfaces/eth-contract-abis/download-eth-contract-abis.sh
  contract-interfaces/eth-contract-abis/v1.3.0-test3/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IVault.json
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @martin-chainflip, @albert-llimos, @chainflip-io/platform, @dandanlen

ci: run
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: fixes and wip test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: fix bug
  .github/workflows/ci-development.yml
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @albert-llimos, @dandanlen

chore: add comments
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add CCM funding test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: docs
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add migration
  .github/workflows/upgrade-test.yml
  bouncer/tests/delegate_flip.ts
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @dandanlen

chore: update to EVM image 1.3.0
  contract-interfaces/eth-contract-abis/v1.3.0/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0/IVault.json
Owners: @albert-llimos

chore: add ScCall bouncer encoding
  bouncer/tests/delegate_flip.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
