Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

Don't use a `BTreeSet` for timeouts, instead flatten into existing vector.
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
Owners: @dandanlen

Add migration for `Timeouts`.
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
Owners: @dandanlen

Update storage version numbers in runtime and in cf-broadcasts.
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: force version bump endpoint
  bouncer/commands/check_bin_and_runtime_versions.ts
Owners: @martin-chainflip

chore: var naming
  bouncer/commands/check_bin_and_runtime_versions.ts
Owners: @martin-chainflip

refactor: user friendly bouncer new swap cmd (#5273)
  bouncer/commands/new_swap.ts
  bouncer/shared/create_lp_pool.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

Fix migration to allow for >= timeout.
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
Owners: @dandanlen

Use `drain` instead of manually removing entries.
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
Owners: @dandanlen

Properly use `T::ChainTracking` instead of `BlockHeightProvider`.
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
Owners: @dandanlen

fix: force version bump endpoint (#5280)
  bouncer/commands/check_bin_and_runtime_versions.ts
Owners: @martin-chainflip

Apply clippy suggestions.
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
Owners: @dandanlen

Add `ensure_port()` to be called before creating HttpClient for polkadot.
  Cargo.lock
  engine/Cargo.toml
  engine/src/dot/http_rpc.rs
Owners: @kylezs

Improve migration test:
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
Owners: @dandanlen

feat: cf_dynamic_events rpc
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/dynamic_events.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/service.rs
Owners: @dandanlen

fix: remove storage api redundant code
  engine/src/state_chain_observer/client/storage_api.rs
Owners: none

feat: add dynamic events to scc interface
  engine/src/state_chain_observer/client/base_rpc_api.rs
Owners: none

Denote broadcast timeout in target chain blocks. (#5270)
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/mock.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/runtime/src/constants.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/block_height_provider.rs
Owners: @dandanlen

Do not require existence of port for polkadot.
  engine/src/settings.rs
Owners: none

WIP: Using `health.rs` as well for apis.
  api/bin/chainflip-lp-api/src/main.rs
  utilities/src/with_std.rs
  utilities/src/with_std/health.rs
Owners: none

refactor: move code to common file
  localnet/common.sh
  localnet/manage.sh
Owners: @chainflip-io/platform

feat: scripts to create and recreate localnet
  localnet/common.sh
  localnet/create.sh
  localnet/manage.sh
  localnet/recreate.sh
Owners: @chainflip-io/platform

Migrated RPC interface to jsonrpsee-0.23.2 Major changes to how subscriptions are streamed. Major changes to all error types.
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/service.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: remove swap and retry batch on price impact
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

feat: error decoding rpc
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/dynamic_events.rs
  utilities/Cargo.toml
  utilities/src/with_std/dynamic_events.rs
Owners: @dandanlen

feat: add error decoding to base rpc api
  engine/src/state_chain_observer/client/base_rpc_api.rs
Owners: none

feat: remove error decoder
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/error_decoder.rs
Owners: none

Remove requirement for solana endpoints to contain ports.
  engine/src/settings.rs
Owners: none

Ensure correct decoding of pending ceremonies using substrates reference code for SCALE types
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: dynamic events in submission watcher
  engine/src/elections.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

chore: run build on M2 🕵️‍♂️
  .github/workflows/ci-development.yml
Owners: none

ci: fix syntax 🥴
  .github/workflows/ci-development.yml
Owners: none

ci(m2-runners): install specific rust toolchain 💾
  .github/workflows/_21_build_m2.yml
Owners: none

test: egress success tests
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/egress_success.rs
Owners: @dandanlen

ci(m2-runners): inspect versions 🔎
  .github/workflows/_21_build_m2.yml
Owners: none

ci(m2-runners): explicitly set default toolchain 🚧
  .github/workflows/_21_build_m2.yml
Owners: none

ci(m2-runners): fix command 😭
  .github/workflows/_21_build_m2.yml
Owners: none

WIP
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/monitoring.rs
  utilities/scale-json-event-logger/src/main.rs
  utilities/src/with_std/dynamic_events.rs
  utilities/src/with_std/serde_helpers.rs
  utilities/src/with_std/serde_helpers/prefixed_hex.rs
Owners: @dandanlen

chore: Started to use AssetBalance type inside cf-asset-balances pallet
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/primitives/src/accounting.rs
Owners: @dandanlen

WIP
  Cargo.lock
  Cargo.toml
  docgen/Cargo.toml
  docgen/json/.rustc_info.json
  docgen/json/.rustdoc_fingerprint.json
  docgen/src/main.rs
Owners: none

WIP: Make SecretUrl be based on Url.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/bin/chainflip-lp-api/Cargo.toml
  api/bin/chainflip-lp-api/src/main.rs
  engine/src/dot/http_rpc.rs
  engine/src/lib.rs
  engine/src/settings.rs
  engine/src/state_chain_observer/client.rs
  utilities/Cargo.toml
  utilities/src/with_std/redact_endpoint_secret.rs
Owners: @kylezs

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
