Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

feat: combine broker and affiliate into a tuple
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @kylezs, @dandanlen

refactor: unify struct for affiliate short id
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @kylezs, @dandanlen

chore: change prewitness origin logic get test to pass
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

test: test broker affiliate id lookup
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/traits/src/mocks/swap_request_api.rs
Owners: @dandanlen

fix: rpc error message
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix: rpc error message displaying as "{error}" (#5399)
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix: rpc error message displaying as "{error}" (#5399)
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix: use correct trait object (#5397)
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: rpc error message displaying as "{error}" (#5399)
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

feat: add cf-parameters versioning (#5392)
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

feat: add ability to configure DepositChannelLifetime via governance (#5395)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: update broker and affiliates in engine and bouncer
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

chore: Benchmarking results.
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen

fix: use ParityDbWeight instead of RocksDbWeight
  state-chain/chainflip-weight-template.hbs
  state-chain/frame-weight-template.hbs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/runtime/src/weights/frame_system.rs
  state-chain/runtime/src/weights/pallet_session.rs
  state-chain/runtime/src/weights/pallet_timestamp.rs
Owners: @dandanlen

refactor: simplify beneficiary collection
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

remove unused `InvalidVote` error
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: revert all_swaps
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: Benchmarking results.
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen

fix: use ParityDbWeight instead of RocksDbWeight
  state-chain/chainflip-weight-template.hbs
  state-chain/frame-weight-template.hbs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/runtime/src/weights/frame_system.rs
  state-chain/runtime/src/weights/pallet_session.rs
  state-chain/runtime/src/weights/pallet_timestamp.rs
Owners: @dandanlen

fix: use ParityDbWeeight instead of RocksDbWeight.
  state-chain/chainflip-weight-template.hbs
  state-chain/frame-weight-template.hbs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/runtime/src/weights/frame_system.rs
  state-chain/runtime/src/weights/pallet_session.rs
  state-chain/runtime/src/weights/pallet_timestamp.rs
Owners: @dandanlen

chore: update to 1.8.0-rc.3
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: update broker and affiliates in engine and bouncer
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_swaps.ts
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

chore: revert all_swaps
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: update to 1.8.0-rc.3
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: remove unused `InvalidVote` error (#5403)
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

fix: use ParityDbWeight instead of RocksDbWeight. (#5404)
  state-chain/chainflip-weight-template.hbs
  state-chain/frame-weight-template.hbs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/runtime/src/weights/frame_system.rs
  state-chain/runtime/src/weights/pallet_session.rs
  state-chain/runtime/src/weights/pallet_timestamp.rs
Owners: @dandanlen

chore: fix vault_swap_request
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
Owners: @kylezs

support cf_pool_swap_rate_v3 with old runtime
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: make solana election migration idempotent again
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
Owners: @dandanlen

chore: Address PR comments for bouncer test
  bouncer/shared/send_btc.ts
  bouncer/tests/btc_vault_swap.ts
Owners: @martin-chainflip

chore: use BlockNumber instead of u32 for retry duration
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @dandanlen

chore: bump redis dependency
  Cargo.lock
  Cargo.toml
Owners: none

chore: address minor review comments
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

chore: strong type for AffiliateShortId
  engine/src/witness/btc/vault_swaps.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

feat: UnknownAffiliateBroker event
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: run upgrade test
  .github/workflows/ci-development.yml
Owners: none

chore: use Parity VersionedMigration
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/sol_api_environment.rs
Owners: @dandanlen

chore: ignore unmaintained transitive deps
  .cargo/config.toml
Owners: none

feat: simplified error handling
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: pass-through base_rpc
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/lib/src/lib.rs
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
