Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @chainflip-io/web, @chainflip-io/platform, @kylezs, @AlastairHolmes, @msgmaxim

fixed bug with backup rewards + added test for it
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
Owners: none

use all interfaces
  bouncer/shared/utils.ts
Owners: @martin-chainflip

use "y" instead of "YES": for lazy people
  localnet/manage.sh
Owners: @chainflip-io/platform

Checkpoint
  engine/Cargo.toml
  engine/src/witness.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/deposit_addresses.rs
  engine/src/witness/sol.rs
  engine/src/witness/sol/sol_source.rs
  engine/src/witness/start.rs
  state-chain/chains/src/sol/consts.rs
  state-chain/chains/src/sol/signature.rs
  state-chain/chains/src/sol/transaction.rs
Owners: @kylezs, @AlastairHolmes

Improved placeholder migration code.
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations/v1.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/v2.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/v1.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations/v1.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations/v3.rs
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime-upgrade-utilities/src/migration_template.rs
Owners: none

fix: recreate debug.log in build-localnet
  localnet/manage.sh
Owners: @chainflip-io/platform

chore: add optional cu limit and priofee
  bouncer/shared/send_sol.ts
Owners: @martin-chainflip

chore: split TX from IX with fees
  bouncer/shared/send_sol.ts
Owners: @martin-chainflip

chore: fix esling
  bouncer/shared/send_sol.ts
Owners: @martin-chainflip

chore: allow skip sol transfer
  bouncer/run.sh
Owners: @martin-chainflip

chore: add print
  bouncer/run.sh
Owners: @martin-chainflip

chore: fix run.sh
  bouncer/run.sh
Owners: @martin-chainflip

feat: added network fee to swapping environment (#4470)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @chainflip-io/web

fix: default values without runtime upgrade
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: none

chore: update readme
  state-chain/runtime-upgrade-utilities/README.md
Owners: none

fix: simplify test
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
Owners: none

chore: remove storage migrations already applied to the Mainnet (#4478)
  state-chain/amm/src/lib.rs
  state-chain/amm/src/v1.rs
  state-chain/pallets/cf-chain-tracking/src/lib.rs
  state-chain/pallets/cf-chain-tracking/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v1.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v2.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-governance/src/migrations/v1.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ingress_expiry.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/witness_safety_margins.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations/remove_expiries.rs
  state-chain/pallets/cf-pools/src/migrations/v1.rs
  state-chain/pallets/cf-pools/src/migrations/v2.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/remove_expiries.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/migrations.rs
  state-chain/pallets/cf-tokenholder-governance/src/lib.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations/v1.rs
  state-chain/pallets/cf-vaults/src/benchmarking.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/runtime-upgrade-utilities/README.md
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime-upgrade-utilities/src/migration_template.rs
  state-chain/runtime/src/lib.rs
Owners: none

fix: Reputation safe mode should not prevent backup emissions (#4485)
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
Owners: none

chain-rpc/solana-rpc: methods to query TrackedData for Solana
  Cargo.lock
  engine/Cargo.toml
  engine/chain-rpc/solana-rpc/.gitignore
  engine/chain-rpc/solana-rpc/Cargo.toml
  engine/chain-rpc/solana-rpc/examples/query-devnet.rs
  engine/chain-rpc/solana-rpc/src/error.rs
  engine/chain-rpc/solana-rpc/src/jsonrpsee.rs
  engine/chain-rpc/solana-rpc/src/lib.rs
  engine/chain-rpc/solana-rpc/src/macros.rs
  engine/chain-rpc/solana-rpc/src/responses.rs
  engine/chain-rpc/solana-rpc/src/traits.rs
  engine/chain-rpc/solana-rpc/src/types.rs
  engine/chain-rpc/solana-rpc/src/types/commitment.rs
  engine/chain-rpc/solana-rpc/src/types/serde_b58_hash.rs
  state-chain/chains/src/sol/tracked_data.rs
Owners: none

fix: recreate debug.log in build-localnet (#4487)
  localnet/manage.sh
Owners: @chainflip-io/platform

feat: swaps for each block executed separately
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/schedule_swaps.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: none

chore: fix benchmarks
  state-chain/pallets/cf-swapping/src/benchmarking.rs
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip
/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/multisig/ @msgmaxim
