Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

chore: added check for associated delegators
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

fix: usdc and usdt feed addresses
  bouncer/shared/utils.ts
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @martin-chainflip, @dandanlen

chore: renaming
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

test: added cancel all pool positions tests
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: lint bouncer
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

WIP
  bouncer/commands/setup_vaults.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: pass header hash as argument
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

chore: restore `historicalCheckBlocks` to 2
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: move bouncer header subs into background thread
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: Pass block hash via subscription
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: increase default historical block margin
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: stringify block hashes
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: fix event cache garbage collection (use Array).
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: correct ordering of historical events
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

chore: simplify governance test
  bouncer/tests/multiple_members_governance.ts
Owners: @martin-chainflip

fix: graceful abort handling.
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: wait for all order deletion events
  bouncer/tests/create_and_delete_multiple_orders.ts
Owners: @martin-chainflip

fix: more explicit stopping in observeEvent
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: start historical query at parent block hash
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: lint
  bouncer/shared/utils/substrate.ts
  bouncer/tests/create_and_delete_multiple_orders.ts
  bouncer/tests/multiple_members_governance.ts
Owners: @martin-chainflip

fix: take all matching events in a block
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: longer timeout for evm deposit test.
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

fix: check 2 historical blocks
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: remove asset hub zero balance warning
  bouncer/shared/get_hub_balance.ts
Owners: @martin-chainflip

fix: evm deposits test
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

fix: stopping logic operator precendence & tidy up
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: further improvements:
  bouncer/shared/cf_governance.ts
  bouncer/shared/limit_order.ts
  bouncer/shared/range_order.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/tests/create_and_delete_multiple_orders.ts
  bouncer/tests/multiple_members_governance.ts
Owners: @martin-chainflip

feat: Use new utils for btc vault swap & open channel checks
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/vault_swap_tests.ts
Owners: @martin-chainflip

feat: increase vitest maxConcurrency value
  .github/workflows/upgrade-test.yml
  bouncer/commands/run_test.ts
  bouncer/fast_bouncer.sh
  bouncer/full_bouncer.sh
  bouncer/test_commands/all_cuncurrent_tests.sh
  bouncer/tests/fast_bouncer.test.ts
Owners: @chainflip-io/platform, @martin-chainflip

chore: update timeout values
  bouncer/tests/fast_bouncer.test.ts
  bouncer/tests/full_bouncer.test.ts
Owners: @martin-chainflip

fix: private btc channel
  bouncer/shared/btc_vault_swap.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/vault_swap_tests.ts
Owners: @martin-chainflip

update localnet polkadot and assethub to 1.6.1
  ci/docker/development/polkadot/assethub.raw.json
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/testnet.rs
Owners: @chainflip-io/platform, @dandanlen

chore: move eth address padding to engine
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/evm.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @albert-llimos, @dandanlen, @Janislav

election votes script
  api/bin/chainflip-elections-tracker/src/bin/script.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

chore: cleanup, clippy
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/evm.rs
  state-chain/traits/src/lib.rs
Owners: @albert-llimos, @dandanlen

fix: add benchmarking of cancel all pool positions
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

test: add manual test file for oracle price elections.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

Reward and slashes of validators are shared with Delegators that are associated with their controlling Operator
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen, @Janislav

Added integration test for Reward distribution
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Added integration tests for Slashing validators
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen
