Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

feat: use direct access to node rpcs
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
Owners: none

fix: simplify bitcoin address return type
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: remove options
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: bump redis dependency (#5407)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

support cf_pool_swap_rate_v3 with old runtime
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: comments + clippy
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: make brokerFees optional
  bouncer/shared/vault_swap.ts
Owners: @martin-chainflip

Feat: New vault swap encoding RPC & bouncer test (#5384)
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/commands/run_test.ts
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/send_btc.ts
  bouncer/shared/swapping.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/fill_or_kill.ts
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @martin-chainflip, @dandanlen

chore: remove printlns
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
Owners: @dandanlen

chore: fmt
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
Owners: @dandanlen

doc: improve electoral settings comment
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
Owners: @dandanlen

chore: add encoding test and update evm test
  bouncer/tests/evm_deposits.ts
  engine/src/witness/common/cf_parameters.rs
Owners: @martin-chainflip, @kylezs

chore: clippy
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
Owners: @dandanlen

chore: reset dev ci flags
  .github/workflows/ci-development.yml
Owners: none

refactor: split out composite electoral system trait (#5334)
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: use AffiliateAndFee instead of ShortId
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

chore: improve tests
  engine/src/witness/common/cf_parameters.rs
Owners: @kylezs

Fixed try-runtime error
  state-chain/chains/src/sol/api.rs
Owners: @dandanlen

chore: move MockAffiliateRegistry to cf_traits
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/affiliate_registry.rs
Owners: @dandanlen

feat: brokers are mandatory for vault swaps
  engine/src/witness/arb.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @kylezs, @dandanlen

feat: check broker status in vault swaps
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: build and run script for localnet
  localnet/build_and_run.sh
Owners: @chainflip-io/platform

chore: brackets on cd
  localnet/build_and_run.sh
Owners: @chainflip-io/platform

chore: build and run script for localnet (#5398)
  localnet/build_and_run.sh
Owners: @chainflip-io/platform

chore: not run upgrade test
  .github/workflows/ci-development.yml
Owners: none

feat: Solana Vault swaps (base PR) (#5309)
  Cargo.lock
  bouncer/commands/setup_vaults.ts
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/solana_keypair.json
  bouncer/shared/utils.ts
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v1.0.0/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.0.0/types/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/vault.ts
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/Cargo.toml
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/sol_api_environment.rs
Owners: @martin-chainflip, @dandanlen

refactor: simplify beneficiary collection
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

support cf_pool_swap_rate_v3 with old runtime
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: rename events
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

feat: Affiliate Broker Registration and Lookup for Vault Swaps (#5389)
  engine/src/witness/arb.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/affiliate_registry.rs
  state-chain/traits/src/mocks/swap_request_api.rs
Owners: @kylezs, @dandanlen

Added deposit channel recycling for Solana.
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

Slight improvement
  state-chain/cf-integration-tests/src/solana.rs
Owners: @dandanlen

Slight improvements
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/address.rs
Owners: @dandanlen

feat: btc vault swap bouncer test can open private channel
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/btc_vault_swap.ts
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @dandanlen

chore: remove unneeded validate params functions in base rpc api
  engine/src/state_chain_observer/client/base_rpc_api.rs
Owners: none

chore: use dry run.
  api/lib/src/lib.rs
Owners: none

feat: Btc vault swap bouncer test can open a private channel (#5410)
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/btc_vault_swap.ts
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @dandanlen

Add deposit monitor test.
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Start deposit-monitor after broker API, add healthcheck.
  localnet/common.sh
Owners: @chainflip-io/platform

The broker API url depends on whether we run locally or in CI.
  .gitignore
  localnet/common.sh
  localnet/docker-compose.yml
Owners: @chainflip-io/platform
