Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

chore: changelog 1.3.2
  CHANGELOG.md
Owners: none

Reverted change to utxo selection limit
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

feat: update hardcoded boost fee tiers
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

chore: address minor review comments
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: changelog 1.3.1, 1.3.2 (#4714)
  CHANGELOG.md
Owners: none

refactor: compute fee amount inside boost pool
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: fix and simplify funding benchmarks
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @dandanlen

fix: remove unused benchmark account role registration methods
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/account_role_registry.rs
Owners: @dandanlen

fix: use correct weights for validator pallet
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

feat: introduce whitelisted_caller_with_role
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

fix: ignore purge-keys error
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

refactor: address review comments
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
Owners: @dandanlen

feat: add migrations for boost
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
Owners: @dandanlen

test: migration
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Addressed some PR comments. Improved unit tests
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/tests.rs
Owners: @dandanlen

chore: add upgrade manager
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/program_instructions.rs
  state-chain/chains/src/sol/token_instructions.rs
Owners: @dandanlen

ci(bot commit signing): add commit signing for automated PRs ✍️
  .github/actions/setup-git/action.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
Owners: none

ci(bot commit signing): add commit signing for automated PRs ✍️ (#4717)
  .github/actions/setup-git/action.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
Owners: none

chore: update tests with new addresses
  state-chain/chains/src/sol.rs
Owners: @dandanlen

refactor: :recycle: using AssetPair instead of separte assets
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

chore: add upgrade authority to rotation
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/bpf_loader_instructions.rs
Owners: @dandanlen

feat: benchmarks for boost
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
Owners: @dandanlen

chore: removed out commend code
  state-chain/cf-integration-tests/src/swapping.rs
Owners: @dandanlen

chore: update weights files
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen

fix: more permissive bouncer weight checks
  bouncer/shared/fund_redeem.ts
Owners: @martin-chainflip

chore: add solana initialization steps
  bouncer/commands/setup_vaults.ts
  bouncer/shared/initialize_solana_programs.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: upgrade to 0.1.4
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  contract-interfaces/sol-program-idls/v0.1.4/cf_tester.json
  contract-interfaces/sol-program-idls/v0.1.4/vault.json
  localnet/docker-compose.yml
Owners: @martin-chainflip, @chainflip-io/platform

chore: update addresses
  bouncer/shared/initialize_solana_programs.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: add govKey
  bouncer/shared/initialize_solana_programs.ts
Owners: @martin-chainflip

chore: upgrade to 0.1.5 for upgrade_manager abi
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v0.1.5/cf_tester.json
  contract-interfaces/sol-program-idls/v0.1.5/upgrade_manager.json
  contract-interfaces/sol-program-idls/v0.1.5/vault.json
  localnet/docker-compose.yml
Owners: @martin-chainflip, @chainflip-io/platform

fix: revert spec version change
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

refactor: move vanity names to account roles pallet
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: rename transaction fee
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/ingress_egress_fee_handler.rs
  state-chain/traits/src/mocks/transaction_fee_handler.rs
Owners: @dandanlen

refactor: add swap type to swap executed event
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: address minor review comments
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

chore: add solana rpc
  localnet/init/config/Settings.toml
Owners: @chainflip-io/platform

chore: refactor logic into initialize_contracts
  bouncer/commands/setup_vaults.ts
  bouncer/shared/initialize_contracts.ts
Owners: @martin-chainflip

chore: update comment
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: update sdk constants
  bouncer/commands/go_bananas.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/gaslimit_ccm.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: update metric's buckets values (#4708)
  utilities/src/with_std/metrics.rs
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
