Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

fix: vanity name test
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

feat: add deregistration to cli
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
Owners: none

feat: migration to reap old accounts.
  Cargo.lock
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/migrations/remove_swapping_enabled.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/reap_old_accounts.rs
Owners: @dandanlen

feat: add deregistration to cli
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
Owners: none

feat: SimpleSubmissionApi
  api/lib/src/lib.rs
Owners: none

fix: don't expose reference counting externally
  state-chain/cf-integration-tests/src/account.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

fix: consistent subcommands in cli
  api/bin/chainflip-cli/src/main.rs
Owners: none

fix: post-upgrade, ensure account is fully reaped
  state-chain/runtime/src/migrations/reap_old_accounts.rs
Owners: @dandanlen

fix: use constant
  state-chain/runtime/src/migrations/reap_old_accounts.rs
Owners: @dandanlen

fix: doc string
  state-chain/traits/src/liquidity.rs
Owners: @dandanlen

fix: remove force option
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

remove force from migrations
  state-chain/runtime/src/migrations/reap_old_accounts.rs
Owners: @dandanlen

fix: require validator to stop bidding before deregistering
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

fix: doc comments
  api/bin/chainflip-cli/src/main.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
Owners: @dandanlen

fix: remove force arg from benchmarks
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
Owners: @dandanlen

feat: add & fix tests
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix(github_actions/release_checks): update confusing runtime spec version check 🤦‍♂️ (#4672)
  .github/workflows/_03_release_checks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-perseverance.yml
  .github/workflows/release-sisyphos.yml
Owners: none

fix(github_actions/release_checks): update confusing runtime spec version check 🤦‍♂️ (#4672)
  .github/workflows/_03_release_checks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-perseverance.yml
  .github/workflows/release-sisyphos.yml
Owners: none

add test for migration
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
Owners: @dandanlen

manually move element to the new storage item
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
Owners: @dandanlen

fix: cf_pools_environment rpc encoding
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @dandanlen

fix: submission watcher could confuse/lose track of submissions (#4667)
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix: submission watcher could confuse/lose track of submissions (#4667)
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix: cf_pools_environment rpc encoding (#4674)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @dandanlen

fix(github_actions/release_checks): update confusing runtime spec version check 🤦‍♂️ (#4672)
  .github/workflows/_03_release_checks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-perseverance.yml
  .github/workflows/release-sisyphos.yml
Owners: none

fix: submission watcher could confuse/lose track of submissions (#4667)
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix: cf_pools_environment rpc encoding (#4674)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @dandanlen

chore: bump version to 1.3.1
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

ref(localnet): manage bitcoin and polkadot images in backend repo 📸
  ci/docker/development/bitcoin/Dockerfile
  ci/docker/development/bitcoin/bitcoin.conf
  ci/docker/development/bitcoin/electrs.conf
  ci/docker/development/bitcoin/start.sh
  ci/docker/development/polkadot/Dockerfile
  ci/docker/development/polkadot/chainspec.dev.v1.0.0.json
  localnet/docker-compose.yml
  localnet/init/geth/build.sh
  localnet/init/geth/geth-ci.Dockerfile
  localnet/init/polkadot/build.sh
  localnet/init/polkadot/chainspec.json
  localnet/init/polkadot/polkadot-ci.Dockerfile
Owners: @chainflip-io/platform

cargo fmt
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
Owners: @dandanlen

feat: cherry pick (#4676)
  .github/workflows/_03_release_checks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-perseverance.yml
  .github/workflows/release-sisyphos.yml
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

polish migration and kill old storage
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
Owners: @dandanlen

fix: update usdt address for testnet
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
Owners: @dandanlen

clippy and fmt
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/weights.rs
Owners: @dandanlen

maximum_relative_price_impact -> maximum_price_impact
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

fix: update usdt address for testnet (#4678)
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
Owners: @dandanlen

feat: support account deletion (#4314)
  Cargo.lock
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/migrations/remove_swapping_enabled.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/reap_old_accounts.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/account_role_registry.rs
Owners: @dandanlen

Refactored the way utxos are transfer from previous vault to the current vault. Instead of transferring all utxos during vault rotation, the transfer is moved to Environment's hook.
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/btc/api.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/broadcaster.rs
Owners: @dandanlen

Fixed broken release build
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
Owners: @dandanlen

chore: prevent concurrent tests from exiting
  bouncer/shared/broker_fee_collection.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
