Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

update changelog
  CHANGELOG.md
Owners: none

fix m2 build
  .github/workflows/_21_build_m2.yml
Owners: @chainflip-io/platform

fix m2 build
  .github/workflows/_21_build_m2.yml
Owners: @chainflip-io/platform

fix: increase the eth fee tracking window to 5 blocks (#5984)
  engine/src/witness/eth/chain_tracking.rs
Owners: @albert-llimos

chore: comment out AssetHub XCM until fixed
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

chore: lint
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

chore: use eth instead of btc to prevent flakiness
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

chore: use Eth instead
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

chore: use eth instead of btc to prevent flakiness (#5989)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: create aliases for runtime api methods that were renamed in 1.10.
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: check for api_version of electoral runtime api in custom rpc.
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: mark electoral runtime apis explicitly as renamed.
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: remove version dispatch code as that's handled automatically.
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

fix: correct versioning for electoral runtime api methods (#5990)
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: Make Missing TSS key log as error (#5975)
  engine/multisig/src/client.rs
  engine/multisig/src/client/common/failure_reason.rs
  engine/multisig/src/client/multisig_client_tests.rs
Owners: @msgmaxim

fix: reduce some more potential race conditions in bouncer (#5976)
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fix: parallelize waiting for promises in AssethubXcm test (#5974)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: increase the eth fee tracking window to 5 blocks (#5984)
  engine/src/witness/eth/chain_tracking.rs
Owners: @albert-llimos

fix: skip elections setup if pallet not found (#5985)
  bouncer/shared/setup_elections.ts
Owners: @martin-chainflip

fix: create aliases for runtime api methods that were renamed in 1.10.
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: use eth instead of btc to prevent flakiness (#5989)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

ci: run
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: wip
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  contract-interfaces/eth-contract-abis/download-eth-contract-abis.sh
  contract-interfaces/eth-contract-abis/v1.3.0-test3/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IVault.json
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

chore: fix bug
  .github/workflows/ci-development.yml
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @albert-llimos, @dandanlen

chore: fixes and wip test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: add comments
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add CCM funding test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: docs
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add migration
  .github/workflows/upgrade-test.yml
  bouncer/tests/delegate_flip.ts
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
  state-chain/pallets/cf-environment/src/migrations/oracle_query_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @dandanlen

chore: update to EVM image 1.3.0
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  contract-interfaces/eth-contract-abis/v1.3.0/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0/IVault.json
  localnet/docker-compose.yml
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos

chore: add ScCall bouncer encoding
  bouncer/tests/delegate_flip.ts
Owners: @martin-chainflip

chore: nit
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

add btc instance
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

fix: M2 build should use old cmake (#5987)
  .github/workflows/_21_build_m2.yml
Owners: @chainflip-io/platform

fix: reduce some more potential race conditions in bouncer (#5976)
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: Make Missing TSS key log as error (#5975)
  engine/multisig/src/client.rs
  engine/multisig/src/client/common/failure_reason.rs
  engine/multisig/src/client/multisig_client_tests.rs
Owners: @msgmaxim

fix: skip elections setup if pallet not found (#5985)
  bouncer/shared/setup_elections.ts
Owners: @martin-chainflip

chore: use eth instead of btc to prevent flakiness (#5989)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: create aliases for runtime api methods that were renamed in 1.10.
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: increase the eth fee tracking window to 5 blocks (#5984)
  engine/src/witness/eth/chain_tracking.rs
Owners: @albert-llimos

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
