Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

Add new poll time configuration.
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

Include deposit-monitor in the localnet docker-compose config.
  localnet/common.sh
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

Use environment var instead of file for setting up deposit-monitor.
  .gitignore
  localnet/common.sh
Owners: @chainflip-io/platform

Use variable to denote env file location.
  .gitignore
  localnet/common.sh
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

The deposit monitor tests now don't depend on being run locally,
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

Fix prettier and eslint warnings.
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

Use manual extrinsic submission for "tx marked too late as tainted" test.
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Run prettier.
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Use new `all_processors` field for healthcheck.
  bouncer/tests/broker_level_screening.ts
  localnet/common.sh
Owners: @martin-chainflip, @chainflip-io/platform

Add new timeout configuration value.
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

Address PR comments:
  bouncer/tests/broker_level_screening.ts
  localnet/common.sh
Owners: @martin-chainflip, @chainflip-io/platform

Better naming & add env var required for newest CFDM.
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_level_screening.ts
  localnet/docker-compose.yml
Owners: @martin-chainflip, @chainflip-io/platform

chore: refactor and plug in broker and affiliate fees
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

chore: fix bouncer lint
  bouncer/shared/evm_vault_swap.ts
Owners: @martin-chainflip

refactor: deduplicate event finding logic
  api/lib/src/lib.rs
Owners: none

Add type for parameter to `setMockmode`.
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Pin image of deposit-monitor to current commit on main.
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

refactor: generalise macro for any runtime event
  api/lib/src/lib.rs
Owners: none

chore: naming of macro bindings
  api/lib/src/lib.rs
Owners: none

refactor: deduplicate event finding logic (#5412)
  api/lib/src/lib.rs
Owners: none

Start deposit-monitor during upgrade-test.
  bouncer/shared/upgrade_network.ts
  localnet/common.sh
  localnet/init/scripts/start-deposit-monitor.sh
Owners: @kylezs, @chainflip-io/platform

feat: make boost_fee not optional
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/tests/evm_deposits.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
Owners: @martin-chainflip, @kylezs

chore: fix bug in sdk
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

feat: Deposit channel recycling for Solana (#5411)
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/address.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: address comments
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/tests/evm_deposits.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
Owners: @martin-chainflip, @kylezs

feat: make refund_params non-optional for vault swaps in extrinsic
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @kylezs, @dandanlen

chore: make elections pallet validator extrinsics operational
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

Feat: EVM Vault swaps support for Broker and affiliates (#5408)
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/evm_deposits.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/primitives/src/lib.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: make elections pallet validator extrinsics operational (#5414)
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: solana vault swaps elections
  engine/src/witness/sol.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

feat: account closing tracking in elections
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: clippy
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @kylezs, @dandanlen

chore: minor
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

fix: consensus
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: minor
  foreign-chains/solana/sol-prim/src/consts.rs
Owners: none

chore: minor rename
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

Feat: engine logic to witness solana program swaps (#5313)
  Cargo.lock
  engine/Cargo.toml
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/devnet.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
Owners: @kylezs, @dandanlen

feat: return swap account along with swap details
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

refactor: use election properties
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

feat: engine
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/node/src/chain_spec.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen
