Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: also update persa.rs
  state-chain/node/src/chain_spec/perseverance.rs
Owners: @dandanlen

chore: fix closing of unused deposit channels
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: update changelog
  CHANGELOG.md
Owners: none

name fields and types
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

refactor: use chainflip api for DCA test (#5289)
  bouncer/commands/new_swap.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

refactor: user friendly bouncer new swap cmd (#5273)
  bouncer/commands/new_swap.ts
  bouncer/commands/setup_sol_vault.ts
  bouncer/shared/create_lp_pool.ts
  bouncer/shared/limit_order.ts
  bouncer/shared/range_order.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: remove swap and retry batch on price impact (#5285)
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

chore: version bumps and changelog 1.6.8
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

fix: add audit exception for RUSTSEC-2024-0375 (#5303)
  .cargo/config.toml
Owners: none

wip
  engine/src/elections/voter_api.rs
  state-chain/pallets/cf-elections/elections-macros.rs
  state-chain/pallets/cf-elections/macros-not-compile.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

test: add new LP to execute new tests in parallel (#5203)
  bouncer/commands/setup_lp_account.ts
  bouncer/shared/fund_flip.ts
  bouncer/shared/setup_lp_account.ts
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fund_redeem.ts
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

Restructure item state. First time properly working.
  api/bin/chainflip-btc-deposit-monitor/build.rs
  api/bin/chainflip-btc-deposit-monitor/src/btc4.rs
  api/bin/chainflip-btc-deposit-monitor/src/elliptic.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
  api/bin/chainflip-btc-deposit-monitor/src/monitor_provider.rs
  api/bin/chainflip-btc-deposit-monitor/src/targets.rs
  engine/src/btc/rpc.rs
Owners: @kylezs

refactor: Don't error if tx is tainted
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/traits/src/mocks/balance_api.rs
Owners: @dandanlen

feat: test
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

chore: first iteration adding anchor
  bouncer/id.json
  bouncer/shared/contract_swap.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/utils.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/vault.ts
Owners: @martin-chainflip

refactor: Using DoubleMap instead of Map
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: small cleanup
  bouncer/shared/contract_swap.ts
  bouncer/shared/solana_keypair.json
Owners: @martin-chainflip

compiles... with everything commented and todo!()d out
  state-chain/pallets/cf-elections/all-but-macro-def
  state-chain/pallets/cf-elections/all-but-macro-def.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

refactor: Using BadOrigin + Added unit test
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: syntax improvement
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: add comment
  bouncer/shared/contract_swap.ts
  bouncer/shared/solana_keypair.json
Owners: @martin-chainflip

uncommment some election access things
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

uncomment more stuff
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

check consensus
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

refresh somewhat working
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

composite tings
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

Add function to get open bitcoin channels.
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix: test
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

chore: test
  state-chain/cf-integration-tests/src/authorities.rs
Owners: @dandanlen

Add method to get open channels to BrokerRpc.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
Owners: none

feat: minimum chunk size setting
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

wip
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

refactor: Inline code + Add Deposit Witness to struct
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

fix: use OP_PUSHBYTES_X
  engine/src/witness/btc/smart_contract.rs
Owners: @kylezs

fix: ensure unused sol deposit channels are closed (#5312)
  CHANGELOG.md
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: version bumps and changelog 1.6.8
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

refactor: user friendly bouncer new swap cmd (#5273)
  bouncer/commands/new_swap.ts
  bouncer/commands/setup_sol_vault.ts
  bouncer/shared/create_lp_pool.ts
  bouncer/shared/limit_order.ts
  bouncer/shared/range_order.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: remove swap and retry batch on price impact (#5285)
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

fix: add audit exception for RUSTSEC-2024-0375 (#5303)
  .cargo/config.toml
Owners: none

refactor: use chainflip api for DCA test (#5289)
  bouncer/commands/new_swap.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
