Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

chore: change logging severities.
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @MxmUrw, @marcellorigotti

chore: use `BitcoinInstance` instead of `Instance3`.
  engine/src/witness/btc/deposits.rs
Owners: @msgmaxim

fix: migration issue
  state-chain/runtime/src/migrations/btc_elections_migrations.rs
  state-chain/runtime/src/migrations/safe_mode.rs
Owners: @dandanlen

chore: reduce more severity levels.
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
Owners: @MxmUrw, @marcellorigotti

chore: dont log info in bitcoin elections (#5962)
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @MxmUrw, @marcellorigotti

feat: Sort votes (#5961)
  engine/src/witness/btc/deposits.rs
Owners: @msgmaxim

fix: don't `expect` in ingress-egress-tracker.
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/btc.rs
Owners: @nmammeri

chore: remove unused code.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/helpers.rs
Owners: @MxmUrw, @marcellorigotti

chore: remove more unused code.
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/test_utils.rs
Owners: @MxmUrw, @marcellorigotti

fix: remove temporary halving of BLOCK_TIME in engine voting logic.
  engine/src/elections.rs
Owners: none

chore: remove unused imports.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/helpers.rs
Owners: @MxmUrw, @marcellorigotti

fix: add sleep before retrying btc rpc query.
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/helpers.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

chore: last btc elections fixes (#5963)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/btc.rs
  engine/src/elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/helpers.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/test_utils.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

fix: fixup code after having deleted "unused" stuff.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
Owners: @MxmUrw, @marcellorigotti

Added benchmarking for governance calls in Broadcast pallet
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
Owners: @dandanlen, @ramizhasan111

feat: bouncer deposit liquidity timeout (#5943)
  bouncer/shared/deposit_liquidity.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

feat: bouncer retry deposit liquidity
  bouncer/commands/send_hubasset.ts
  bouncer/commands/send_hubdot.ts
  bouncer/commands/setup_assethub_for_upgrade_test.ts
  bouncer/commands/setup_concurrent.ts
  bouncer/commands/setup_vaults.ts
  bouncer/shared/deposit_liquidity.ts
  bouncer/shared/get_hub_balance.ts
  bouncer/shared/send.ts
  bouncer/shared/send_btc.ts
  bouncer/shared/send_hubasset.ts
  bouncer/shared/send_hubdot.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: added basic implementation for management extrinsics
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: wip
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  contract-interfaces/eth-contract-abis/download-eth-contract-abis.sh
  contract-interfaces/eth-contract-abis/v1.3.0-test3/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IVault.json
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

ci: run
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

fix: set safety_margin for bitcoin ingress elections to 3 when starting localnet.
  bouncer/commands/setup_concurrent.ts
  bouncer/commands/setup_elections.ts
  bouncer/shared/setup_elections.ts
Owners: @martin-chainflip

fix: also run `./setup_elections.ts` after network upgrade.
  .github/workflows/upgrade-test.yml
Owners: @chainflip-io/platform

chore: add benchmarking for the chp pallet (#5942)
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: fix bug
  .github/workflows/ci-development.yml
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @albert-llimos, @dandanlen

fix: set executable bit for typescript script.
  bouncer/commands/setup_elections.ts
Owners: @martin-chainflip

chore: from PR comments: rename / remove stuff
  state-chain/chains/src/refund_parameters.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @msgmaxim, @j4m1ef0rd

chore: fixes and wip test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

fix: bouncer race condition
  bouncer/tests/boost.ts
Owners: @martin-chainflip

fix: more reliable boost ordering checks
  bouncer/tests/boost.ts
Owners: @martin-chainflip

feat: bouncer retry deposit liquidity
  bouncer/commands/send_hubasset.ts
  bouncer/commands/send_hubdot.ts
  bouncer/commands/setup_assethub_for_upgrade_test.ts
  bouncer/commands/setup_concurrent.ts
  bouncer/commands/setup_vaults.ts
  bouncer/shared/deposit_liquidity.ts
  bouncer/shared/get_hub_balance.ts
  bouncer/shared/send.ts
  bouncer/shared/send_btc.ts
  bouncer/shared/send_hubasset.ts
  bouncer/shared/send_hubdot.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: check for insufficient liquidity
  bouncer/tests/boost.ts
Owners: @martin-chainflip

feat: added role operator
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/housekeeping/reap_old_accounts.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
Owners: @nmammeri, @chainflip-io/web, @dandanlen

chore: add comments
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: more consistent naming of cf_parameters.
  engine/src/witness/arb.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol/vault_swaps_witnessing.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/evm/api/vault_swaps.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/instruction_builder.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/tests.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/runtime/src/chainflip/vault_swaps.rs
  state-chain/runtime/src/lib.rs
Owners: @albert-llimos, @dandanlen

feat: bouncer retry send liquidity transaction (#5965)
  bouncer/commands/send_hubasset.ts
  bouncer/commands/send_hubdot.ts
  bouncer/commands/setup_assethub_for_upgrade_test.ts
  bouncer/commands/setup_concurrent.ts
  bouncer/commands/setup_vaults.ts
  bouncer/shared/deposit_liquidity.ts
  bouncer/shared/get_hub_balance.ts
  bouncer/shared/send.ts
  bouncer/shared/send_btc.ts
  bouncer/shared/send_hubasset.ts
  bouncer/shared/send_hubdot.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

Added benchmarking for governance calls in Broadcast pallet
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-environment/src/benchmarking.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @ramizhasan111

Set weight info for Environment extrinsics Added benchmarking for the Vaults pallet
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-vaults/src/benchmarking.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/weights.rs
Owners: @dandanlen, @ramizhasan111

Added benchmarking for Witnesser pallet
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen

fix: change old_version to 1.9.7 for more reliable upgrade test
  Cargo.lock
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: @nmammeri, @dandanlen

fix: no need to check event
  bouncer/tests/boost.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
