Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

chore: fix test
  engine/src/settings.rs
Owners: none

chore: undo comments
  engine/src/settings.rs
Owners: none

chore: add clarification comment
  charts/chainflip-node/values.yaml
Owners: none

chore: fix comment
  charts/chainflip-node/values.yaml
Owners: none

chore: clippy and other small updates
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: cargo fmt
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
Owners: @dandanlen

chore: fix cargo audit
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Owners: @chainflip-io/web

chore: fix cargo audit (#4731)
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Owners: @chainflip-io/web

chore: fix cargo audit (#4731)
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Owners: @chainflip-io/web

Added runtime migration on the ActiveBidder storage
  state-chain/chains/src/btc/deposit_address.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fixed benchmarking
  api/lib/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

Arbitrum backup rpc (#4730)
  charts/chainflip-node/templates/engine-settings.yaml
  charts/chainflip-node/values.yaml
  engine/config/testing/config/Settings.toml
  engine/src/constants.rs
  engine/src/settings.rs
  localnet/init/config/Settings.toml
Owners: @chainflip-io/platform

chore: add debug prints for swapping test
  bouncer/shared/contract_swap.ts
  bouncer/shared/send_evm.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

chore: swap only via sdk
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

chore: fix cargo audit (#4732)
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Owners: @chainflip-io/web

chore: remove stale comment
  state-chain/pallets/cf-account-roles/src/lib.rs
Owners: @dandanlen

fix: migration for earned fees
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations/v2.rs
Owners: @dandanlen

chore: update doc comment
  state-chain/pallets/cf-lp/src/lib.rs
Owners: @dandanlen

fix: use doublemap for earned fees
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: clippy
  state-chain/pallets/cf-lp/src/lib.rs
Owners: @dandanlen

refactor: move vanity names to account roles pallet (#4719)
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-account-roles/Cargo.toml
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: remove insta deprecated warning
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @chainflip-io/web, @dandanlen

chore: remove insta deprecated warning (#4734)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @chainflip-io/web, @dandanlen

fix: import Vec
  state-chain/pallets/cf-lp/src/migrations/v2.rs
Owners: @dandanlen

Changed NumberOrHex in return values to U256
  api/bin/chainflip-broker-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

fix localnet config
  localnet/init/config/Settings.toml
Owners: @chainflip-io/platform

chore: fix issue by running contract swaps with diff wallets
  bouncer/shared/contract_swap.ts
  bouncer/shared/gaslimit_ccm.ts
  bouncer/shared/send_evm.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

chore: remove unnecessary logic
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

Update Sdk with Arbitrum support (#4720)
  bouncer/commands/go_bananas.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/gaslimit_ccm.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: handle prewitness deposits (#4698)
  Cargo.lock
  engine/src/witness/btc/deposits.rs
  state-chain/chains/Cargo.toml
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/Cargo.toml
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/btc_deposit_channels.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/asset_converter.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @kylezs, @AlastairHolmes, @dandanlen

fix: broker flakiness on bouncer CI
  bouncer/shared/new_swap.ts
Owners: @martin-chainflip

chore: add send_solusdc to run.sh
  bouncer/run.sh
Owners: @martin-chainflip

fix: migration for earned fees (#4733)
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations/v2.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Addressed some PR comments.
  Cargo.lock
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/active_bidders.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/funding_info.rs
Owners: @dandanlen

Removed NumberOrHex from LP-API
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
  utilities/src/with_std.rs
Owners: none

fix: broker flakiness on bouncer CI (#4736)
  bouncer/shared/new_swap.ts
Owners: @martin-chainflip

minor improvement
  state-chain/cf-integration-tests/src/witnessing.rs
Owners: @dandanlen

add release-1.3-dylib branch to release ci
  .github/workflows/release-sisyphos.yml
Owners: none

feat: PlaceholderMigration
  state-chain/runtime-upgrade-utilities/README.md
  state-chain/runtime-upgrade-utilities/src/lib.rs
Owners: @dandanlen

Changed amount in WitnessInformation to be U256
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @chainflip-io/web, @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
