Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @chainflip-io/web, @chainflip-io/platform

chore: merge cleanup
  engine/generate-genesis-keys/src/main.rs
  engine/multisig/src/client/signing/signing_data.rs
  engine/multisig/src/crypto/eth.rs
  engine/src/p2p/muxer.rs
  engine/src/state_chain_observer/sc_observer/crypto_compat.rs
  engine/src/state_chain_observer/sc_observer/mod.rs
Owners: none

Removed redundant storage migrations
  state-chain/pallets/cf-chain-tracking/src/lib.rs
  state-chain/pallets/cf-chain-tracking/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v1.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v2.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ingress_expiry.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/witness_safety_margins.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-lp/src/migrations/remove_expiries.rs
  state-chain/pallets/cf-lp/src/migrations/v1.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/v1.rs
  state-chain/pallets/cf-pools/src/migrations/v2.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/remove_expiries.rs
  state-chain/pallets/cf-swapping/src/migrations/v1.rs
  state-chain/pallets/cf-tokenholder-governance/src/lib.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations/v1.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations/v2.rs
  state-chain/pallets/cf-vaults/src/migrations/v3.rs
  state-chain/runtime/src/lib.rs
Owners: none

chore: more consistent use of SWAP_DELAY_BLOCKS in tests
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: none

Removed V1 in AMM crate
  state-chain/amm/src/lib.rs
  state-chain/amm/src/v1.rs
Owners: none

chore: Rename `<module>/mod.rs` into `<module>.rs` (#4471)
  engine/multisig/src/client.rs
  engine/multisig/src/client/common.rs
  engine/src/btc.rs
  engine/src/db.rs
  engine/src/dot.rs
  engine/src/eth.rs
  engine/src/state_chain_observer.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/sc_observer.rs
  state-chain/runtime/src/weights.rs
Owners: none

Import Solana IDLs (#4472)
  .cargo/config.toml
  bouncer/shared/eth_abis.ts
  contract-interfaces/README.md
  contract-interfaces/download-interfaces.sh
  contract-interfaces/eth-contract-abis/IERC20.json
  contract-interfaces/eth-contract-abis/IUSDC.json
  contract-interfaces/eth-contract-abis/download-eth-contract-abis.sh
  contract-interfaces/eth-contract-abis/v1.0.0/CFTester.json
  contract-interfaces/eth-contract-abis/v1.0.0/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.0.0/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.0.0/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.0.0/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.0.0/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.0.0/IVault.json
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/test-tag-10/vault.json
  eth-contract-abis/README.md
Owners: @martin-chainflip

chore: fix swapScheduled
  .github/workflows/_40_post_check.yml
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

chore: restore ci
  .github/workflows/_40_post_check.yml
Owners: none

fix: force egress success for benchmarks
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/scripts/benchmark-all.sh
Owners: none

start ingress-egress-tracker on localnet startup
  localnet/init/scripts/start-ingress-egress-tracker.sh
  localnet/manage.sh
Owners: @chainflip-io/platform

fix: revert local param change
  state-chain/scripts/benchmark-all.sh
Owners: none

chore: fix swapScheduled (#4479)
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

fix: allow tests to pass with runtime-benchmarks feature
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: none

add option to start tracker on startup, moved logs to file
  localnet/init/scripts/start-ingress-egress-tracker.sh
  localnet/manage.sh
Owners: @chainflip-io/platform

fix: force egress success for benchmarks (#4480)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/scripts/benchmark-all.sh
Owners: none

refactor: :recycle: changed name of struct field
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
Owners: @chainflip-io/web

wip
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/chains/src/address.rs
  state-chain/chains/src/any.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/arb/benchmarking.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/primitives/src/chains.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/address_derivation.rs
  state-chain/runtime/src/chainflip/address_derivation/arb.rs
  state-chain/runtime/src/chainflip/chain_instances.rs
  state-chain/runtime/src/chainflip/decompose_recompose.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/safe_mode.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @chainflip-io/web

fix: :rotating_light: cargo fmt
  state-chain/custom-rpc/src/lib.rs
Owners: @chainflip-io/web

chore: minor rename
  engine/src/witness/common/epoch_source.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/chainflip/all_keys_rotator.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/key_rotator.rs
Owners: none

feat: added boost_fee param (#4469)
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  bouncer/shared/provide_liquidity.ts
  bouncer/tests/double_deposit.ts
  bouncer/tests/eth_witness_test.ts
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @martin-chainflip

chore: chainflip-engine1.1 -> 1.2
  ci/scripts/check_engine_systemd_config.sh
  engine/Cargo.toml
  engine/package/berghain/chainflip-engine1.2.service
  engine/package/perseverance/chainflip-engine1.2.service
  engine/package/sisyphos/chainflip-engine1.2.service
Owners: none

chore: update changelog
  CHANGELOG.md
Owners: none

release: 1.2 (#4483)
  CHANGELOG.md
  ci/scripts/check_engine_systemd_config.sh
  engine/Cargo.toml
  engine/package/berghain/chainflip-engine1.2.service
  engine/package/perseverance/chainflip-engine1.2.service
  engine/package/sisyphos/chainflip-engine1.2.service
Owners: none

release: 1.2 (#4483)
  CHANGELOG.md
  ci/scripts/check_engine_systemd_config.sh
  engine/Cargo.toml
  engine/package/berghain/chainflip-engine1.2.service
  engine/package/perseverance/chainflip-engine1.2.service
  engine/package/sisyphos/chainflip-engine1.2.service
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip
/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform
