Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

chore: update log messages
  engine-proc-macros/src/lib.rs
Owners: none

refactor: runner returns error
  Cargo.lock
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: RAII for CStrArray
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

remove into
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: factor out some ident construction
  engine-proc-macros/src/lib.rs
Owners: none

chore: use default for CStrArray
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

fix: linking
  .github/workflows/_10_test.yml
  engine-runner/build.rs
Owners: none

chore: fully qualified names in macro
  utilities/src/with_std/logging.rs
Owners: none

fix: use std c_char
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

path to old version
  .github/workflows/_20_build.yml
Owners: none

usize
  engine-upgrade-utils/src/lib.rs
Owners: none

fix: migrate settings function
  .github/workflows/upgrade-test.yml
  engine-proc-macros/src/lib.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/src/lib.rs
Owners: @kylezs

build improvements
  .github/workflows/_10_test.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  Cargo.lock
  Cargo.toml
  bouncer/commands/read_workspace_tomls.ts
  ci/docker/development/chainflip-engine.Dockerfile
  ci/docker/production/chainflip-engine.Dockerfile
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-runner/Cargo.toml
  engine-runner/build.rs
  engine-runner/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/build.rs
  engine/package/berghain/chainflip-engine.service
  engine/package/berghain/chainflip-engine1.4.service
  engine/package/perseverance/chainflip-engine.service
  engine/package/perseverance/chainflip-engine1.4.service
  engine/package/sisyphos/chainflip-engine.service
  engine/package/sisyphos/chainflip-engine1.4.service
  engine/src/lib.rs
  localnet/init/scripts/start-engine.sh
  utilities/Cargo.toml
  utilities/src/with_std/logging.rs
Owners: @martin-chainflip, @chainflip-io/platform

chore: remove debug logging
  .github/workflows/_20_build.yml
Owners: none

Removed some leftovers
  state-chain/chains/src/btc/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

chore: remove temp for 1.2 -> 1.3 upgrade test (#4691)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

ci: test building with no sccache 🚀
  .github/workflows/_20_build.yml
Owners: none

test: :test_tube: added a test for collect_map_in_range function
  state-chain/amm/src/lib.rs
  state-chain/amm/src/tests.rs
Owners: @dandanlen

ci: remove `sccache` 🗑️
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-nightly.yml
  ci/docker/development/rust-base.Dockerfile
  ci/scripts/install_sccache.sh
Owners: none

chore: bump subxt to 0.33
  Cargo.lock
  engine/Cargo.toml
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/subxt_state_chain_config.rs
Owners: none

ci: nicer job name 🥰
  .github/workflows/docker-build-rust-base.yml
Owners: none

fix(rust base image): remove all sccache refrences 🐛
  ci/docker/development/rust-base.Dockerfile
Owners: none

feat: write snapshot if try runtime check fails
  .github/workflows/upgrade-test.yml
  bouncer/shared/try_runtime_upgrade.ts
Owners: @kylezs, @martin-chainflip

fix:lint
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: write err file output after snapshot
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: use separate log files
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: create log folder if it doesn't exist
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: ensure snapshot dir exists
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

lint
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

lint
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: try redirecting logs to file.
  .github/workflows/upgrade-test.yml
  bouncer/shared/try_runtime_upgrade.ts
Owners: @kylezs, @martin-chainflip

lint
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: try without writing to file
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

try again: pipe stderr to stdout
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: redirect stderr to stdout
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: write both stdout and stderr to file
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

chore: rename action
  .github/workflows/upgrade-test.yml
Owners: @kylezs

try something else
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: recursive mkdir
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

fix: better logging
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip
