Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

feat(docker images/node): add chainspecs of all network to docker 📜🐳
  .github/workflows/_24_docker.yml
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
Owners: none

feat(docker images/node): add chainspecs of all network to docker 📜🐳 (#4702)
  .github/workflows/_24_docker.yml
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
Owners: none

feat(docker images/node): add chainspecs of all network to docker 📜🐳 (#4702)
  .github/workflows/_24_docker.yml
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
Owners: none

fix: correct bergain chainspecs
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: berghain bootnodes
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: bergain bootnodes
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: continuous adapter
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

slight improvement in the selection logic, and other minor improvement
  state-chain/chains/src/btc/utxo_selection.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
Owners: @dandanlen

fix: address PR comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/traits/src/mocks/swap_queue_api.rs
Owners: @dandanlen

feat: handle prewitness deposits
  Cargo.lock
  engine/src/witness/btc/deposits.rs
  state-chain/chains/Cargo.toml
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/Cargo.toml
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/btc_deposit_channels.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/asset_converter.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @kylezs, @AlastairHolmes, @dandanlen

remove OldAsset
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  api/lib/src/queries.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

refactor: :recycle: using AssetPair in eventes and extrincics
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

update bucket's values
  utilities/src/with_std/metrics.rs
Owners: none

removed comments
  utilities/src/with_std/metrics.rs
Owners: none

ci(chainspec checks): check chainspecs by running a node instance in CI 🕵️‍♂️
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

Restructure supported_assets, and asset_balances rpc responses
  api/bin/chainflip-lp-api/src/main.rs
  bouncer/shared/lp_api_test.ts
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @martin-chainflip, @dandanlen

ci(chainspec-compatibility): fix binary files permissions 🐛
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

ci(chainspec-compatibility): nicer logs 💅
  ci/scripts/check_node_syncing.sh
Owners: none

feat(docker images/node): add chainspecs of all network to docker 📜🐳 (#4705)
  .github/workflows/_24_docker.yml
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
Owners: none

fix: further correction
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

fix: correct perseverance chainspec on main (#4704)
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: correct sisyphos chainspecs on 1.2 branch (#4706)
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: cherry-pick correct chainspecs for sisyphos and perseverance (#4703)
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

fix: correct perseverance chainspec on main (#4704)
  state-chain/node/chainspecs/berghain.chainspec.json
  state-chain/node/chainspecs/berghain.chainspec.raw.json
Owners: @dandanlen

tests: add AssetMap tests
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

fix: continuous adapter (#4707)
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

fix: continuous adapter (#4707)
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

ci(chainspec checks): check chainspecs by running a node instance in CI 🕵️‍♂️ (#4709)
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

ci(chainspec checks): check chainspecs by running a node instance in CI 🕵️‍♂️ (#4709)
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

chore: cargo audit unmaintained yaml
  .cargo/config.toml
Owners: none

chore: remove backcompat asset encoding from rpcs (and make them line up with newer Asset encoding) (#4710)
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  api/lib/src/queries.rs
  bouncer/shared/lp_api_test.ts
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @martin-chainflip, @dandanlen

fix: continuous adapter (#4707)
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

chore: remove backcompat asset encoding from rpcs (and make them line up with newer Asset encoding) (#4710)
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  api/lib/src/queries.rs
  bouncer/shared/lp_api_test.ts
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @martin-chainflip, @dandanlen

ci(chainspec checks): check chainspecs by running a node instance in CI 🕵️‍♂️ (#4709)
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

fix: continuous adapter (#4707)
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
Owners: @kylezs, @AlastairHolmes

ci(chainspec checks): check chainspecs by running a node instance in CI 🕵️‍♂️ (#4709)
  .github/workflows/_40_post_check.yml
  ci/scripts/check_node_syncing.sh
Owners: none

chore: cargo audit unmaintained yaml
  .cargo/config.toml
Owners: none

chore: remove backcompat asset encoding from rpcs (and make them line up with newer Asset encoding) (#4710)
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  api/lib/src/queries.rs
  bouncer/shared/lp_api_test.ts
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/lp_balance.rs
Owners: @martin-chainflip, @dandanlen

chore: changelog 1.3.2
  CHANGELOG.md
Owners: none

chore: changelog 1.3.1/2
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
