Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

fix: clippy
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

fix: berghain url
  state-chain/runtime-tests/src/main.rs
Owners: @dandanlen

chore: better storage amounts output
  state-chain/runtime-tests/src/tests.rs
Owners: @dandanlen

fix: Update deps
  Cargo.lock
  state-chain/runtime-tests/Cargo.toml
Owners: @dandanlen

fix: scale types for pending ceremonies (#5286)
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

chore: Fixed logic + added tests
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

address comments
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: update post-polkadot-upgrade
  Cargo.lock
  state-chain/runtime-tests/src/main.rs
  state-chain/runtime-tests/src/tests.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

fix: expire prev epochs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: rename BlocksPerEpoch -> EpochDuration
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: migration should take not get
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
Owners: @dandanlen

fix: restructure epoch expiry logic & tests
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: handle breaking change in monitoring.
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: min_active_bid returned as NumberOrHex
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fmt
  state-chain/pallets/cf-validator/src/migrations.rs
Owners: @dandanlen

feat: Solana CCM fallback (#5316)
  Cargo.lock
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

tests: Refactor/Rearranged tests
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: Using SECONDS_PER_BLOCK instead of static block seconds
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

feat: witnessing btc smart contract swaps (#5331)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/arb.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/evm_deposits.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

chore: refactor createEvmWallet
  bouncer/shared/contract_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
Owners: @martin-chainflip

chore: localnet recreate script can use defaults (#5338)
  localnet/create.sh
  localnet/recreate.sh
Owners: @chainflip-io/platform

chore: cleanup
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
Owners: @kylezs, @dandanlen

chore: add MAX_VAULT_SWAP_ATTRIBUTES_LENGTH
  engine/src/witness/evm/vault.rs
Owners: @kylezs

chore: refactor bouncer
  bouncer/shared/contract_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: refactor into common for reusal
  engine/src/witness/common.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @kylezs

Add rpc method for rejecting transactions, currently only prints to stdout.
  api/bin/chainflip-broker-api/src/main.rs
Owners: none

chore: Addressed comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: rename attributes to parameters
  bouncer/shared/contract_swap.ts
  bouncer/tests/DCA_test.ts
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

chore: Fixed clippy in CI
  engine/src/witness/btc/deposits.rs
Owners: @kylezs

Add broker API endpoint for marking txs as tainted.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

feat: make args names and types similar to request_deposit_address
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

feat: return error if no broker commission is set.
  api/lib/src/lib.rs
Owners: none

chore: pass extra parameters to sdk
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

fmt
  api/lib/src/lib.rs
Owners: none

feat: broker can encode btc smart contract call (#5329)
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @kylezs, @dandanlen

chore: update comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: more consistent params
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

chore: fix issues
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
Owners: @martin-chainflip

chore: engine renaming
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @kylezs

Ordered everything in the root Cargo.toml alphabetically (within sections) Formatted all the cargo.toml
  Cargo.toml
  engine-dylib/Cargo.toml
  engine-runner-bin/Cargo.toml
  state-chain/traits/Cargo.toml
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
