Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

chore: removed getter
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: using permill instead of percent
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

refactor: make validator claimable by many operators
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

refactor: returning map instead of vec
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

test: added basic tests for extrinsic
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

test: added test and fire more events
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: replaced hasher
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: added benchmark accept_operator
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added benchmark claim_validator
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added block_delegator benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added benchmark for set_delegation_preferences
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added benchmark remove_validator
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added allow_delegator benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: added register_as_operator and deregister_as_operator bench
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: using Identity hasher for all storage items
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: made benchmarks compile
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: fixed claim operator benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: fixed clippy
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: added dummy weight
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/weights.rs
Owners: @dandanlen

fix: stringify block hashes
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: add min bid to cf_auction_state
  state-chain/custom-rpc/src/backend.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

fix: snapshot test
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__auction_state_serialization.snap
Owners: @chainflip-io/web, @nmammeri

fix: create account for benchmark
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
Owners: @dandanlen

chore: expect instead of unwrap
  state-chain/pallets/cf-account-roles/src/mock.rs
Owners: @dandanlen

chore: group imports
  state-chain/pallets/cf-account-roles/src/mock.rs
Owners: @dandanlen

fix: increase default historical block margin
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: move bouncer header subs into background thread
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

chore: restore `historicalCheckBlocks` to 2
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

ci: append commit sha to automated benchmark branch name 🪾
  .github/workflows/_100_run_benchmarks.yml
Owners: @chainflip-io/platform

ci: make benchmark binary source configurable 🎛️
  .github/workflows/_100_run_benchmarks.yml
Owners: @chainflip-io/platform

add migration
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

ci: append commit sha to automated benchmark branch name 🪾 (#5999)
  .github/workflows/_100_run_benchmarks.yml
Owners: @chainflip-io/platform

fix: graceful abort handling.
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

ci: make benchmark binary source configurable 🎛️ (#6000)
  .github/workflows/_100_run_benchmarks.yml
Owners: @chainflip-io/platform

finalize migration
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

chore: updated comment
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

Added integration test for Reward distribution
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

WIP
  api/bin/chainflip-lp-api/src/main.rs
  api/cf-node-client/src/subxt_state_chain_config.rs
  api/cf-rpc-apis/src/lp.rs
  api/cf-rpc-types/src/broker.rs
  api/lib/src/lp.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/amm-math/src/lib.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/refund_parameters.rs
  state-chain/custom-rpc/src/broker.rs
  state-chain/custom-rpc/src/lp.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/channel_action_ccm_refund.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_ccm_refund.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip/vault_swaps.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/swapping.rs
Owners: @nmammeri, @msgmaxim, @dandanlen, @chainflip-io/web, @j4m1ef0rd

Added integration tests for Slashing validators
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Fixed a broken integration test
  state-chain/cf-integration-tests/src/delegation.rs
Owners: @dandanlen

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
