Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

fix: runtime upgrade triggers resign of failed eth broadcast 3348
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Update state-chain/chains/src/sol/program_instructions.rs
  state-chain/chains/src/sol/program_instructions.rs
Owners: @dandanlen

Feat/solana program calls (#4625)
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/bpf_loader_instructions.rs
  state-chain/chains/src/sol/compute_budget.rs
  state-chain/chains/src/sol/program_instructions.rs
  state-chain/chains/src/sol/token_instructions.rs
Owners: @dandanlen

fix: add migration to release version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: bump spec version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: add migration to executive for release (#4749)
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

refactor: address PR comments
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

MaximumPriceImpact is now configurable per pool
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

doc: add clarifying comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

Made LP-API backwards compatible
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

fix: delay threshold signature retries
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

Made extrinsic backwards compatible
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

chore: bump spec version and add log message
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: sisyphos re-broadcast
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: remove sisyphos id
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: delay threshold signature retries (#4751)
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

fix: set initial arb block
  bouncer/shared/upgrade_network.ts
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @kylezs, @dandanlen

chore: clippy
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @dandanlen

doc: add clarifying comments for DepositBoosted
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: set initial arb block (#4753)
  bouncer/shared/upgrade_network.ts
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @kylezs, @dandanlen

feat: write snapshot if try runtime check fails
  .github/workflows/upgrade-test.yml
  bouncer/commands/upgrade_network.ts
  bouncer/shared/try_runtime_upgrade.ts
  bouncer/shared/upgrade_network.ts
  bouncer/shared/utils/exec_with_log.ts
Owners: @kylezs, @martin-chainflip

Updated bouncer tests
  bouncer/shared/lp_api_test.ts
Owners: @martin-chainflip

Minor improvements to the extrinsic function signature
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/weights.rs
Owners: @dandanlen

chore: remove boost_id & renaming
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

Fixed linter problems
  bouncer/shared/lp_api_test.ts
Owners: @martin-chainflip

fix: broker test upgrade
  state-chain/node/src/chain_spec/testnet.rs
Owners: @dandanlen

Made V1 tests testing numbers instead of hex
  bouncer/shared/lp_api_test.ts
Owners: @martin-chainflip

fix: broker test upgrade (#4754)
  state-chain/node/src/chain_spec/testnet.rs
Owners: @dandanlen

feat: Add prewitness deposit events (#4745)
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

Run prettier
  bouncer/shared/lp_api_test.ts
Owners: @martin-chainflip

chore: minor import warnings
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

chore: try runtime flag
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

chore: fix imports
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

chore: bump spec version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: bump spec version (#4755)
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: add more details to docs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

fix: import warnings
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

feat: allow up to 10 updates per extrinsic.
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

chore: rename migration
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/v4.rs
Owners: @dandanlen

build 1.3 dylib
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  Cargo.lock
  Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/package/berghain/chainflip-engine.service
  engine-runner-bin/package/perseverance/chainflip-engine.service
  engine-runner-bin/package/sisyphos/chainflip-engine.service
  engine-upgrade-utils/src/lib.rs
  engine/src/lib.rs
Owners: none
