Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @chainflip-io/web, @chainflip-io/platform

.github/CODEOWNERS:

/bouncer/ @martin-chainflip
/state-chain/custom-rpc/ @chainflip-io/web
/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

Renamed EmergencyWithdrawalAddress to LiquidityRefundAddress
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/bin/chainflip-lp-api/README.md
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lp.rs
  bouncer/shared/provide_liquidity.ts
  bouncer/tests/double_deposit.ts
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/tests.rs
  state-chain/pallets/cf-lp/src/weights.rs
Owners: @martin-chainflip

Ran prettier
  bouncer/shared/provide_liquidity.ts
Owners: @martin-chainflip

feat: use log_or_panic
  Cargo.lock
  state-chain/pallets/cf-threshold-signature/Cargo.toml
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: none

test: all candidates participate in handover
  state-chain/pallets/cf-vaults/src/tests.rs
Owners: none

test: add missing vault rotator status checks
  state-chain/pallets/cf-vaults/src/tests.rs
Owners: none

chore: fix clippy
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Owners: none

fix: set limit order to zero
  state-chain/pallets/cf-pools/src/lib.rs
Owners: none

test: fix incorrect assert
  state-chain/pallets/cf-vaults/src/tests.rs
Owners: none

fix: clear failed broadcasters after abort
  state-chain/pallets/cf-broadcast/src/lib.rs
Owners: none

fix: set limit order to zero (#3971)
  state-chain/pallets/cf-pools/src/lib.rs
Owners: none

fix: clear failed broadcasters after abort (#3972)
  state-chain/pallets/cf-broadcast/src/lib.rs
Owners: none

Test: add/improve handover tests (#3959)
  Cargo.lock
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-threshold-signature/Cargo.toml
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/threshold_signer.rs
Owners: none

fix: submit eip1559 transactions
  engine/src/eth/retry_rpc.rs
  engine/src/eth/rpc.rs
Owners: none

fix: submit eip1559 transactions (#3973)
  engine/src/eth/retry_rpc.rs
  engine/src/eth/rpc.rs
Owners: none

fix: set limit order to zero (#3971) (CHERRY-PICK)
  state-chain/pallets/cf-pools/src/lib.rs
Owners: none

use len() instead of inc, dec
  engine/src/p2p/core.rs
Owners: none

added count_unauthorized_ceremony and separare by type of ceremony
  engine/multisig/src/client/ceremony_manager.rs
  utilities/src/with_std/metrics.rs
Owners: none

chore/0.9 cherries (#3969)
  state-chain/node/package/perseverance/preinst
Owners: none

use format! to build the &str
  engine/multisig/src/client/common/broadcast.rs
Owners: none

cargo fmt
  engine/multisig/src/client/ceremony_manager.rs
Owners: none

print error if remove_label_values fail
  utilities/src/with_std/metrics.rs
Owners: none

fix: release build
  .github/workflows/_50_release.yml
Owners: none

chore: cleanup test
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

fix: release build (#3975)
  .github/workflows/_50_release.yml
Owners: none

fix: release build (#3975)
  .github/workflows/_50_release.yml
Owners: none

refactor: :recycle: renaming, replaced bool with enum
  api/lib/src/lib.rs
  state-chain/pallets/cf-governance/src/benchmarking.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/tests.rs
  state-chain/pallets/cf-governance/src/weights.rs
Owners: none

chore: more cleanup
  .github/workflows/ci-development.yml
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

feat: clean up main
  engine/src/btc/retry_rpc.rs
  engine/src/common.rs
  engine/src/dot/retry_rpc.rs
  engine/src/eth/retry_rpc.rs
  engine/src/main.rs
  engine/src/witness/eth/ethereum_deposits.rs
  engine/src/witness/eth/key_manager.rs
Owners: none

fix: deser/ser correctly, use guard
  engine/src/settings.rs
Owners: none

chore: use macro for settings env
  engine/src/settings.rs
Owners: none

fix: release build (#3975) (#3976)
  .github/workflows/_50_release.yml
Owners: none

feat: Immutable key threshold signing
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: none

chore: remove unnecessary test env
  engine/src/settings.rs
Owners: none

chore: remove migration
  engine/src/lib.rs
  engine/src/main.rs
  engine/src/settings_migrate.rs
Owners: none

fix: set zero limit order was disallowed (CHERRY PICKED from main) (#3974)
  state-chain/pallets/cf-pools/src/lib.rs
Owners: none

refactor: :recycle: using numbers in bouncer tests
  bouncer/shared/cf_governance.ts
Owners: @martin-chainflip

feat: unit test
  state-chain/chains/src/mocks.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
Owners: none

fix: clippy
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
Owners: none

feat: backup RPC (#3951)
  Cargo.lock
  api/bin/chainflip-cli/src/settings.rs
  engine/Cargo.toml
  engine/config/Template.toml
  engine/config/testing/config/Settings.toml
  engine/config/testing2/config/Settings.toml
  engine/src/btc/retry_rpc.rs
  engine/src/btc/rpc.rs
  engine/src/common.rs
  engine/src/constants.rs
  engine/src/dot/retry_rpc.rs
  engine/src/eth/retry_rpc.rs
  engine/src/eth/rpc.rs
  engine/src/main.rs
  engine/src/retrier.rs
  engine/src/settings.rs
  engine/src/witness/eth/ethereum_deposits.rs
  engine/src/witness/eth/key_manager.rs
  localnet/init/config/Settings.toml
Owners: @chainflip-io/platform

fix: typo
  bouncer/shared/provide_liquidity.ts
Owners: @martin-chainflip
