Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

debug: try using standard runners
  .github/workflows/_10_test.yml
  .github/workflows/_20_build.yml
Owners: none

test: :test_tube: extended runtime upgrade verification
  state-chain/pallets/cf-pools/src/migrations/lp_pools_state_change.rs
Owners: @dandanlen

chore: test without cache
  .github/workflows/_01_pre_check.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_10_test.yml
  .github/workflows/_20_build.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix: allow submissions from different requests with matching nonce and submission_id
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix: ensure always unique IDs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

chore: use rust builder
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
Owners: none

refactor: simplify internal behaviour
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix: more generous gas error margin
  bouncer/shared/fund_redeem.ts
Owners: @martin-chainflip

chore: unnecessary changes
  bouncer/commands/fund_flip.ts
Owners: @martin-chainflip

fix: bouncer
  .github/workflows/_40_post_check.yml
Owners: none

chore: skip key insertion if Solana is not running
  bouncer/commands/setup_vaults.ts
Owners: @martin-chainflip

chore: restore README
  bouncer/README.md
Owners: @martin-chainflip

fix: dry run gets fresh runtime version
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

chore: standerize runner tags
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_benchmarks_runner.yml
  .github/workflows/_10_test.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_70_post_release.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: faster clippy 🚀
  .github/workflows/_01_pre_check.yml
Owners: none

fix: add runner tag to actionlint
  .github/actionlint.yaml
Owners: none

fix: duplicated debian package name 🐛
  .github/workflows/_30_publish.yml
Owners: none

chore: run CI on `nscloud` runners 🚀 (#4505)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_70_post_release.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: run CI on `nscloud` runners 🚀 (#4505)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_70_post_release.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix: remove cfe events migration
  state-chain/pallets/cf-cfe-interface/src/lib.rs
  state-chain/pallets/cf-cfe-interface/src/migrations.rs
  state-chain/pallets/cf-cfe-interface/src/migrations/add_arb_to_cfe_events.rs
Owners: @dandanlen

fix: remove cfe events migration (#4671)
  state-chain/pallets/cf-cfe-interface/src/lib.rs
  state-chain/pallets/cf-cfe-interface/src/migrations.rs
  state-chain/pallets/cf-cfe-interface/src/migrations/add_arb_to_cfe_events.rs
Owners: @dandanlen

rename slippage -> price impact
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/weights.rs
Owners: @dandanlen

🍒 cherry-pick: chore: run CI on `nscloud` runners 🚀 (#4505) (#4670)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_70_post_release.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-cherry-pick.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix(github_actions/release_checks): remove confusing runtime spec version check 🤦‍♂️
  .github/workflows/_03_release_checks.yml
Owners: none

add migration + fmt
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
  state-chain/pallets/cf-pools/src/tests.rs
Owners: @dandanlen

feat: fix log messages, evm chain specific (#4652)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/eth.rs
  engine/src/evm.rs
  engine/src/evm/README.md
  engine/src/evm/event.rs
  engine/src/evm/retry_rpc.rs
  engine/src/evm/retry_rpc/address_checker.rs
  engine/src/evm/rpc.rs
  engine/src/evm/rpc/address_checker.rs
  engine/src/lib.rs
  engine/src/main.rs
  engine/src/settings.rs
  engine/src/state_chain_observer/sc_observer.rs
  engine/src/state_chain_observer/sc_observer/tests.rs
  engine/src/witness/arb.rs
  engine/src/witness/arb/chain_tracking.rs
  engine/src/witness/eth.rs
  engine/src/witness/eth/chain_tracking.rs
  engine/src/witness/eth/state_chain_gateway.rs
  engine/src/witness/evm/contract_common.rs
  engine/src/witness/evm/erc20_deposits.rs
  engine/src/witness/evm/evm_deposits.rs
  engine/src/witness/evm/key_manager.rs
  engine/src/witness/evm/source.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/start.rs
Owners: @chainflip-io/web, @kylezs, @AlastairHolmes

test: :test_tube: optimized migration
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/pallets/cf-pools/src/migrations/lp_pools_state_change.rs
Owners: @dandanlen

ci(release checks): add discord notification if release checks fail 📢
  .github/workflows/_03_release_checks.yml
  .github/workflows/ci-nightly.yml
Owners: none

ci(release checks): extract discord notification to a job 💅
  .github/workflows/_03_release_checks.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-perseverance.yml
  .github/workflows/release-sisyphos.yml
Owners: none

ci(release checks): nicer if syntax💅
  .github/workflows/_03_release_checks.yml
Owners: none

chore: reproduce with failing test
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

feat: refuse max redeem if account cant be reaped
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @dandanlen

feat: account role deregistration
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/account_role_registry.rs
Owners: @dandanlen

feat: add genesis asserts for ref count
  state-chain/cf-integration-tests/src/genesis.rs
Owners: @dandanlen

fix: correct ordering for consumer inc
  state-chain/pallets/cf-account-roles/src/lib.rs
Owners: @dandanlen

fix: integration tests
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

feat: remove SwappingEnabled flag
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/migrations/remove_swapping_enabled.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: clippy
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
Owners: @dandanlen

test: add genesis asserts in integration tests
  state-chain/cf-integration-tests/src/genesis.rs
Owners: @dandanlen

feat: test for reference count checks on redemption
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @dandanlen
