Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: clippy
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: clean up
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

tmp: full bouncer and upgrade-test
  .github/workflows/ci-development.yml
Owners: none

chore: add beneficiares and make FoK mandatory
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

chore: lint
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: clippy
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: update broker_fees and cli
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  engine/src/witness/common/cf_parameters.rs
Owners: @martin-chainflip, @kylezs

Fixed release build
  Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

Fixed storage key decoding for Engine. This will fix bouncer/engine startups
  engine/src/state_chain_observer/client.rs
Owners: none

chore: update with hardcoded cfParameters
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

chore: bump sdk
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

feat: structured error return types for rpcs
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/bin/chainflip-lp-api/Cargo.toml
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/queries.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/chain_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/unsigned.rs
  engine/src/state_chain_observer/client/storage_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @dandanlen

feat: structured error return types for rpcs (#5346)
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/bin/chainflip-lp-api/Cargo.toml
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/queries.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/chain_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/unsigned.rs
  engine/src/state_chain_observer/client/storage_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @dandanlen

doc: comment electoral system runner
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
Owners: @dandanlen

fix: migration
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @kylezs, @dandanlen

bug: change_utxo not always present (#5340)
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: LP account already setup in 1.6.8
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: made clippy happy
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
Owners: @dandanlen

fix: expire prev epochs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: rename BlocksPerEpoch -> EpochDuration
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: migration should take not get
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
Owners: @dandanlen

fix: restructure epoch expiry logic & tests
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: handle breaking change in monitoring.
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: min_active_bid returned as NumberOrHex
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: using deposit address
  state-chain/chains/src/btc/api.rs
Owners: @dandanlen

bug: change_utxo not always present (#5340)
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: tainted transaction reporting (#5310)
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/balance_api.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @kylezs, @dandanlen

fix: merge conflicts
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

chore: remove unnecessary Results
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: eslint
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: clean up
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

fix: addressed problems
  state-chain/chains/src/btc/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

fix: ignore dust underflow
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

chore: consistent naming prewitnessed
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

fix: ignore dust underflow
  state-chain/custom-rpc/src/order_fills.rs
Owners: @dandanlen

feat: engine-runner verifies gpg signature of old dylib when downloaded (#5339)
  .github/workflows/_20_build.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/ci-development.yml
  .github/workflows/ci-main-merge-queue.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-sisyphos.yml
  bouncer/shared/upgrade_network.ts
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: @kylezs

chore: add address to solana logging
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

fix: separate LP account for lp-api
  localnet/init/keys/LP_1
  localnet/init/keys/LP_API
  localnet/init/scripts/start-lp-api.sh
Owners: @chainflip-io/platform

tmp: full bouncer and upgrade test
  .github/workflows/ci-development.yml
Owners: none

chore: fix#
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
