Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

tests: Swapping unit tests cleanup (#5226)
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/test-utilities/src/lib.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

chore: add swap endpoint accounts to solEnvApi
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
Owners: @dandanlen

chore: bump asset-balances to match release (#5305)
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
Owners: @dandanlen

feat: Handling of tainted transactions
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @kylezs, @dandanlen

WIP trying different ways to get elliptic responses for the mempool.
  api/bin/chainflip-btc-deposit-monitor/src/btc3.rs
  api/bin/chainflip-btc-deposit-monitor/src/elliptic.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
Owners: none

feat: liveness electoral system
  Cargo.lock
  engine/src/elections/voter_api.rs
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/node/src/chain_spec/common.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual/composite.rs
  state-chain/runtime/src/chainflip/offences.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: base reputation on heartbeat
  state-chain/node/src/chain_spec/common.rs
Owners: @dandanlen

refactor: use btree set and single map
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: migration
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @dandanlen

chore: used versionedmigration
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

test: use build_with_initial_election
  state-chain/pallets/cf-elections/src/electoral_systems/tests/egress_success.rs
Owners: @dandanlen

chore: add swap endpoint contract
  bouncer/shared/utils.ts
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @dandanlen

chore: fmt
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: add swap endpoint initialization
  .github/workflows/ci-development.yml
  bouncer/commands/setup_vaults.ts
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: fix lint and initialization
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: update swap endpoint data account
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: remove initialization as its already done in image
  bouncer/shared/initialize_new_chains.ts
Owners: @martin-chainflip

feat: handle rotation tx construction failures
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

chore: cleanup
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @dandanlen

feat: liveness electoral system (#5278)
  Cargo.lock
  engine/src/elections/voter_api.rs
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/node/src/chain_spec/common.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual/composite.rs
  state-chain/runtime/src/chainflip/offences.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @kylezs, @dandanlen

refactor: use housekeeping migration
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/remove_aborted_broadcasts.rs
Owners: @dandanlen

feat: dont shut down on incompatible block in unfinalised stream
  engine/src/state_chain_observer/client.rs
Owners: none

tests: Added tests
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

tests for ensure governance checks (#5269)
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/mock.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-chain-tracking/src/tests.rs
  state-chain/pallets/cf-emissions/src/tests.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-governance/src/mock.rs
  state-chain/pallets/cf-governance/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-tokenholder-governance/src/mock.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/ensure_origin_mock.rs
  state-chain/traits/src/mocks/ensure_witnessed.rs
Owners: @dandanlen

chore: restore ci
  .github/workflows/ci-development.yml
Owners: none

chore: Extended LpRegistration trait + Added to Ingress/Egress config
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/balance_api.rs
Owners: @dandanlen

Add streaming approach to handling addresses and transactions.
  Cargo.lock
  api/bin/chainflip-btc-deposit-monitor/Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/src/btc3.rs
  api/bin/chainflip-btc-deposit-monitor/src/btc4.rs
  api/bin/chainflip-btc-deposit-monitor/src/elliptic.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
  api/bin/chainflip-btc-deposit-monitor/src/monitor_provider.rs
  api/bin/chainflip-btc-deposit-monitor/src/targets.rs
Owners: none

added type check
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
Owners: @dandanlen

Logging and better mempool polling.
  api/bin/chainflip-btc-deposit-monitor/src/btc4.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
  api/bin/chainflip-btc-deposit-monitor/src/monitor_provider.rs
  api/bin/chainflip-btc-deposit-monitor/src/targets.rs
Owners: none

identify implementation via ChainCrypto instead of Chain
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: Getting LP refund address
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: add get_event_accounts
  Cargo.lock
  engine/Cargo.toml
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

Getting fine-grained responses for each mempool entry.
  api/bin/chainflip-btc-deposit-monitor/src/btc4.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
  engine/src/btc/rpc.rs
Owners: @kylezs

Use `AnalysisItems` instead of transactions.
  api/bin/chainflip-btc-deposit-monitor/src/monitor_provider.rs
Owners: none

feat: add get_program_swaps
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

feature: ensure by lp and broker + added more tests
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

refactor: remove stale from perseverance as well
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/remove_aborted_broadcasts.rs
Owners: @dandanlen

feat: BTC constract swap encoding
  engine/src/lib.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/smart_contract.rs
Owners: @kylezs

chore: add get_program_swaps
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: improvements
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/devnet.rs
  state-chain/node/src/chain_spec/sisyphos.rs
Owners: @kylezs, @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
