Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

fix: parallelize waiting for promises in AssethubXcm test (#5974)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: upload event log for both bouncer runs
  .github/workflows/_40_post_check.yml
Owners: @chainflip-io/platform

fix: upload event log for both bouncer runs (#5993)
  .github/workflows/_40_post_check.yml
Owners: @chainflip-io/platform

chore: fix timeout issue and small improvements
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

refactor: better data types for price oracle state.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: PRO-2309 - Subaccounts (#5932)
  state-chain/pallets/cf-account-roles/Cargo.toml
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-funding/Cargo.toml
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

imrpove naming
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

chore: minor simplifications
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

tests
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

feat: use FRAME reference tracking to ensure correct removal of sub-accounts
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

avoid logging Error in case of Optimistic Election
  engine/src/witness/btc.rs
Owners: none

fix: make voting for optimistic elections work independently of best_block_height.
  engine/src/witness/btc.rs
Owners: none

fix: make voting for optimistic elections work independently of best_block_height.
  engine/src/witness/btc.rs
Owners: none

avoid logging Error in case of Optimistic Election
  engine/src/witness/btc.rs
Owners: none

fix: clippy
  state-chain/pallets/cf-account-roles/src/mock.rs
Owners: @dandanlen

feat: add min bid to cf_auction_state
  state-chain/custom-rpc/src/backend.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

add block_height to the span of every election
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

refactor: remove query from election state, it is now derivable.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix liveness ES to use SC block number
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: snapshot test
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__auction_state_serialization.snap
Owners: @chainflip-io/web, @nmammeri

chore: update missing file
  api/lib/Cargo.toml
Owners: @nmammeri

chore: fix issues
  Cargo.lock
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @martin-chainflip, @msgmaxim, @j4m1ef0rd

pointing to last released engine version
  engine-upgrade-utils/src/lib.rs
Owners: @nmammeri, @dandanlen

chore: readd missing pnpm install
  .github/workflows/upgrade-test.yml
Owners: @chainflip-io/platform

chore: bump to 1.11 and clean up migrations (#5981)
  .github/workflows/upgrade-test.yml
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  bouncer/commands/force_sol_nonces.ts
  bouncer/commands/set_sol_alt.ts
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/oracle_query_environment.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/scheduled_limit_order_updates.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/network_fee_migration.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_migration.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
  state-chain/runtime/src/migrations/btc_elections_migrations.rs
  state-chain/runtime/src/migrations/safe_mode.rs
  state-chain/runtime/src/migrations/solana_vault_swaps_migration.rs
Owners: @chainflip-io/platform, @nmammeri, @martin-chainflip, @dandanlen, @msgmaxim, @j4m1ef0rd

chore: untangle migrations for 1.11
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/channel_action_ccm_refund.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_ccm_refund.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_ccm_refund_migration.rs
Owners: @dandanlen, @msgmaxim, @j4m1ef0rd

update old version in engine runner
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
Owners: @nmammeri, @dandanlen

chore: remove file accidentally added
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @dandanlen

chore: fix clippy
  state-chain/pallets/cf-ingress-egress/src/migrations/channel_action_ccm_refund.rs
Owners: @dandanlen

WIP
  bouncer/commands/setup_vaults.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

Reward and slashes of validators are shared with Delegators that are associated with their controlling Operator
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen, @Janislav

chore: lint bouncer
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

chore: cleaning up.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

query full vote
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

fix: pass header hash as argument
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: Pass block hash via subscription
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: check associations before we unregister and remove storage
  api/lib/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @nmammeri, @dandanlen

feat: added role operator
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/housekeeping/reap_old_accounts.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
Owners: @nmammeri, @chainflip-io/web, @dandanlen

chore: unified allow/block to one extrinsic
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: added accept_operator
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
