Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

ci: fix wrong debug file name 🐛
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
  localnet/manage.sh
Owners: @kylezs, @chainflip-io/platform

chore: fix swap tracking
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: moved logging for concurrent tests
  bouncer/shared/fund_redeem.ts
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

ci: add polkador and bitcoin building workflows
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
  ci/docker/development/bitcoin/Dockerfile
  ci/docker/development/chainflip-broker-api.Dockerfile
  ci/docker/development/chainflip-cli.Dockerfile
  ci/docker/development/chainflip-engine-databases.Dockerfile
  ci/docker/development/chainflip-engine.Dockerfile
  ci/docker/development/chainflip-ingress-egress-tracker.Dockerfile
  ci/docker/development/chainflip-lp-api.Dockerfile
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/development/generate-genesis-keys.Dockerfile
  ci/docker/development/polkadot/Dockerfile
  ci/docker/production/chainflip-broker-api.Dockerfile
  ci/docker/production/chainflip-cli.Dockerfile
  ci/docker/production/chainflip-engine-databases.Dockerfile
  ci/docker/production/chainflip-engine.Dockerfile
  ci/docker/production/chainflip-ingress-egress-tracker.Dockerfile
  ci/docker/production/chainflip-lp-api.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
  ci/docker/production/generate-genesis-keys.Dockerfile
Owners: none

fix: rename slippage -> price impact (#4679)
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/rename_slippage_to_price_impact.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/weights.rs
Owners: @dandanlen

fix: action trigger 🐛
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
Owners: none

fix: remove polkadot version refrence as Docker ARG 🐛
  ci/docker/development/polkadot/Dockerfile
Owners: none

chore: combine workflows in one workflow
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
Owners: none

ci: add missing file 🤦‍♂️
  .github/workflows/ci-external-networks.yml
Owners: none

fix: replace sepolia usdt address
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
Owners: @dandanlen

ci: keep it clean!
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
Owners: none

ci: better CI job names 💅
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
Owners: none

chore: update Bitcoin and Polkadot tags 🔖
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

chore: address comments
  bouncer/commands/go_bananas.ts
  bouncer/shared/broker_fee_collection.ts
  bouncer/shared/lp_api_test.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

ci: fix wrong debug file name 🐛 (#4682)
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
  localnet/manage.sh
Owners: @kylezs, @chainflip-io/platform

ci: remove red 😁
  .github/workflows/ci-external-networks-polkadot.yml
Owners: none

Cherry-Pick 3b3a7d9bda45bc8982158c9c6b374215e8526fde to release/1.3 (#4647)
  api/bin/chainflip-broker-api/src/main.rs
Owners: none

ref(localnet): manage bitcoin and polkadot images in backend repo 📸 (#4677)
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/ci-external-networks-bitcoin.yml
  .github/workflows/ci-external-networks-polkadot.yml
  ci/docker/development/bitcoin/Dockerfile
  ci/docker/development/bitcoin/bitcoin.conf
  ci/docker/development/bitcoin/electrs.conf
  ci/docker/development/bitcoin/start.sh
  ci/docker/development/chainflip-broker-api.Dockerfile
  ci/docker/development/chainflip-cli.Dockerfile
  ci/docker/development/chainflip-engine-databases.Dockerfile
  ci/docker/development/chainflip-engine.Dockerfile
  ci/docker/development/chainflip-ingress-egress-tracker.Dockerfile
  ci/docker/development/chainflip-node.Dockerfile
  ci/docker/development/generate-genesis-keys.Dockerfile
  ci/docker/development/polkadot/Dockerfile
  ci/docker/development/polkadot/chainspec.dev.v1.0.0.json
  ci/docker/production/chainflip-broker-api.Dockerfile
  ci/docker/production/chainflip-cli.Dockerfile
  ci/docker/production/chainflip-engine-databases.Dockerfile
  ci/docker/production/chainflip-engine.Dockerfile
  ci/docker/production/chainflip-ingress-egress-tracker.Dockerfile
  ci/docker/production/chainflip-lp-api.Dockerfile
  ci/docker/production/chainflip-node.Dockerfile
  ci/docker/production/generate-genesis-keys.Dockerfile
  localnet/docker-compose.yml
  localnet/init/geth/build.sh
  localnet/init/geth/geth-ci.Dockerfile
  localnet/init/polkadot/build.sh
  localnet/init/polkadot/chainspec.json
  localnet/init/polkadot/polkadot-ci.Dockerfile
Owners: @chainflip-io/platform

chore: parse input asset string
  bouncer/commands/create_lp_pool.ts
  bouncer/commands/get_balance.ts
  bouncer/commands/perform_swap.ts
  bouncer/commands/range_order.ts
  bouncer/commands/send.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

refactor: :recycle: made order info search generic for all types of orders
  state-chain/amm/src/lib.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

chore: remove unnecessary BatchBroadcastRequested
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

Prevent concurrent tests from exiting :bug: (#4681)
  bouncer/shared/broker_fee_collection.ts
  bouncer/shared/fund_redeem.ts
  bouncer/shared/utils.ts
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

fix: add dummy benchmark for account roles pallet
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: replace sepolia usdt address (#4683)
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
Owners: @dandanlen

chore: fmt
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

Add USDT to banana mode and update code to reflect new storage
  bouncer/commands/go_bananas.ts
Owners: @martin-chainflip

fix: add dummy benchmark for account roles pallet (#4684)
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

linter
  bouncer/commands/go_bananas.ts
Owners: @martin-chainflip

feat: changed most Validator extrinsics to DispatchType::Operational
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: review operational extrinsics
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: ensure_governance macro
  state-chain/pallets/cf-governance/src/lib.rs
Owners: @dandanlen

chore: set ratio to 50
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: sign success and keygen handover calls should be operational
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

feat: lock `bitcoin` and `polkadot` images to a specific commit 🔒
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

refactor: :recycle: refactored migration
  state-chain/pallets/cf-pools/src/migrations/lp_pools_state_change.rs
Owners: @dandanlen

Add USDT to banana mode and update code to reflect new storage (#4685)
  bouncer/commands/go_bananas.ts
Owners: @martin-chainflip

Add USDT to banana mode and update code to reflect new storage (#4685)
  bouncer/commands/go_bananas.ts
Owners: @martin-chainflip

ci(rust caching): add Namespace caching for Rust dependencies 💰🦀
  .github/workflows/_20_build.yml
Owners: none

Cherry-Pick f6bddec5978dccf4825407b3bec87201541ab83a to release/1.3 (#4687)
  bouncer/commands/go_bananas.ts
Owners: @martin-chainflip

[skip ci] feat(rust base image): add `sudo` binary
  ci/docker/development/rust-base.Dockerfile
Owners: none
