Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: added benchmark
  state-chain/pallets/cf-swapping/src/benchmarking.rs
Owners: @dandanlen

refactor: Bonding trait, Update broker bond via gov, moved bonder mock
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/bonding.rs
Owners: @dandanlen

tests: Added DefaultBrokerBond
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

test: Fixed benchmark to test unit test
  state-chain/pallets/cf-swapping/src/benchmarking.rs
Owners: @dandanlen

bouncer: increase broker funds to fix tests
  state-chain/node/src/chain_spec/testnet.rs
Owners: @dandanlen

benchmark: added benchmark
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/weights.rs
Owners: @dandanlen

fix: fixed clippy
  state-chain/pallets/cf-swapping/src/mock.rs
Owners: @dandanlen

chore: removed comment out code + using FLIPPERINO constant
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-validator/src/mock.rs
Owners: @dandanlen

feat: allow for providing params to ElectoralSystem test checks (#5441)
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
Owners: @dandanlen

chore: some nits
  state-chain/pallets/cf-swapping/src/benchmarking.rs
Owners: @dandanlen

chore: addressed comments
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/bonding.rs
Owners: @dandanlen

chore: updated comment
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: removed not needed weight files
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/weights.rs
Owners: @dandanlen

tests: Fixed unit tests
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/traits/src/mocks/bonding.rs
Owners: @dandanlen

Update state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

fix: use storage instead of thread_local for mock, minor rename
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/bonding.rs
Owners: @dandanlen

docs: update toubleshooting guide to include try-state checks
  state-chain/TROUBLESHOOTING.md
Owners: @dandanlen

fix: clippy fixes
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: implement try-state hook checks for elections pallet
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
Owners: @dandanlen

refactor: review updates
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
Owners: @dandanlen

fix: enable try-state checks in bouncer tryRuntimeCommand
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

refactor: cargo fmt
  state-chain/pallets/cf-elections/src/mock.rs
Owners: @dandanlen

feat: try-state hook for elections pallet (#5440)
  bouncer/shared/try_runtime_upgrade.ts
  state-chain/TROUBLESHOOTING.md
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
Owners: @martin-chainflip, @dandanlen

chore: allow broker bond to be exact
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

fix: bouncer lock utxos after selection
  bouncer/shared/send_btc.ts
Owners: @martin-chainflip

refactor: use mutex instead of locking
  bouncer/shared/send_btc.ts
  bouncer/tests/btc_vault_swap.ts
Owners: @martin-chainflip

feat: use bitcoin node's input selection.
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/shared/send_btc.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

fix: update deps and remove stale audit exceptions
  .cargo/config.toml
  Cargo.lock
Owners: none

fix: update toolchain to support new dependencies + fix new clippy lints
  api/lib/src/lib.rs
  api/lib/src/queries.rs
  engine/multisig/src/client/keygen/keygen_data/tests.rs
  engine/src/common.rs
  engine/src/db/persistent/rocksdb_kv.rs
  engine/src/settings.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed.rs
  engine/src/witness/common/chain_source/lag_safety.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/monitored_items.rs
  engine/src/witness/common/epoch_source.rs
  engine/src/witness/evm/source.rs
  rust-toolchain.toml
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/test-utilities/Cargo.toml
  state-chain/traits/src/lib.rs
  utilities/src/lib.rs
  utilities/src/with_std/dynamic_events.rs
  utilities/src/with_std/health.rs
  utilities/src/with_std/rle_bitmap.rs
  utilities/src/with_std/serde_helpers/deser_path.rs
  utilities/src/with_std/unending_stream.rs
Owners: @msgmaxim, @kylezs, @dandanlen

chore: add fix to upgrade-test
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: add missing SOLANA_PROGRAMS_VERSION
  .github/workflows/upgrade-test.yml
Owners: @kylezs

fix: print pre and post upgrade logs in upgrade-test
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: fmt
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
Owners: @dandanlen

chore: replace nonces manually
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: manually skip solana vault swaps
  .github/workflows/upgrade-test.yml
  bouncer/tests/all_swaps.ts
Owners: @kylezs, @martin-chainflip

chore: revert logs
  .github/workflows/ci-development.yml
  .github/workflows/upgrade-test.yml
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/upgrade_network.ts
  bouncer/shared/utils.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @kylezs, @martin-chainflip

chore: run upgrade
  .github/workflows/ci-development.yml
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: fix path
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: set correct timeouts for LP-API bouncer test
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

chore: refactor env
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
