Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

chore: add sol min_prio_fee to ingress and egress estimation (#5323)
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: update CHANGELOG
  CHANGELOG.md
Owners: none

chore: checkpoint before removing ChainGas
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

chore: only allow mark transactions for BTC
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: use common u128 type
  state-chain/chains/src/any.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm/api.rs
  state-chain/chains/src/evm/api/execute_x_swap_and_call.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

use new VoteStorage
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/nonce.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

include slot in the change electoral system
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

update tests
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/nonce_witnessing.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

cargo fmt
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/vote_storage/nonce.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

remove comment
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
Owners: @dandanlen

prevent upgrade if we are using a nonce
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

add missing import
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
Owners: @dandanlen

address comments: - keep everything generalized
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @kylezs, @dandanlen

fix check_consensus
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/nonce_witnessing.rs
Owners: @dandanlen

fix
  Cargo.lock
Owners: none

fix
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

missing imports
  engine/src/witness/sol.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

inline code
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

use SharedDataHash for partialVote
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
Owners: @dandanlen

fmt
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

feature: expire tainted transaction
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

test(bouncer): add test for new utility
  bouncer/commands/setup_vaults.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/polkadot_utils.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
  bouncer/tsconfig.json
Owners: @martin-chainflip

run test
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
Owners: @martin-chainflip

chore: refactor into calculate_ccm_gas_limit
  state-chain/chains/src/arb.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

add dca params
  bouncer/tests/DCA_test.ts
Owners: @martin-chainflip

change logs
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
Owners: @martin-chainflip

refactor: use ForeignChain::from
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @kylezs, @dandanlen

chore: address clippy
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @kylezs, @dandanlen

Added storage migration for sol ccm success witnessing. Clear all egress-success election votes Migrated Broadcaster storage to newer version of ApiCall
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @dandanlen

test: refactored tests
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

code review suggestion
  bouncer/commands/run_test.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
Owners: @martin-chainflip

fix: keyholder check should use `HistoricalActiveEpochs`
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

chore: Extended RejectCall with DepositWitness
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/dot/dot_deposits.rs
  engine/src/witness/evm/erc20_deposits.rs
  engine/src/witness/evm/evm_deposits.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

chore: more updates
  state-chain/chains/src/arb.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/mocks/tracked_data_provider.rs
Owners: @dandanlen

Revert "chore: Extended RejectCall with DepositWitness"
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/dot/dot_deposits.rs
  engine/src/witness/evm/erc20_deposits.rs
  engine/src/witness/evm/evm_deposits.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

addressed comments
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @kylezs, @dandanlen

fix test
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

chore: added draft for eth refund implementation
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: Removed unused events
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: Ensure only by broker
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen
