Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

refactor: move amm math into its own crate (#5418)
  Cargo.lock
  Cargo.toml
  api/lib/src/lp.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/amm-math/Cargo.toml
  state-chain/amm-math/src/lib.rs
  state-chain/amm-math/src/test_utilities.rs
  state-chain/amm/Cargo.toml
  state-chain/amm/src/common.rs
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/limit_orders/tests.rs
  state-chain/amm/src/range_orders.rs
  state-chain/amm/src/range_orders/tests.rs
  state-chain/amm/src/tests.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/Cargo.toml
  state-chain/chains/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @kylezs, @dandanlen

chore: use get_block with transaction version 0
  engine/src/witness/sol.rs
Owners: @kylezs

chore: add missing option
  engine/src/witness/sol.rs
Owners: @kylezs

fix: Solana get_block transaction version (#5424)
  engine/src/witness/sol.rs
Owners: @kylezs

Fixes required for upgrade-test to run successfully.
  .github/workflows/upgrade-test.yml
  bouncer/shared/upgrade_network.ts
  localnet/common.sh
  localnet/init/scripts/start-deposit-monitor.sh
Owners: @kylezs, @chainflip-io/platform

feat: refactor tests and new tests
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: bump redis dependency (#5407)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

update localnet polkadot node to version 1.3.4
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

chore: bump redis dependency (#5407) (#5426)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

update localnet polkadot node to version 1.3.4 (#5427)
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

chore: cherry pick solana block fix
  engine/src/witness/sol.rs
Owners: @kylezs

feat: more test cases
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

chore: format
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

chore: comments
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

Use format string instead of string concatenation for messages.
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Add bouncer tests involving the full deposit monitor pipeline. (#5388)
  .github/workflows/upgrade-test.yml
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_level_screening.ts
  localnet/common.sh
  localnet/docker-compose.yml
  localnet/init/scripts/start-deposit-monitor.sh
Owners: @kylezs, @martin-chainflip, @chainflip-io/platform

chore: reduce data needed for sol get block
  engine/src/witness/sol.rs
Owners: @kylezs

chore: reduce data needed for sol get block (#5428)
  engine/src/witness/sol.rs
Owners: @kylezs

chore: cherry pick solana block fix (#5425)
  engine/src/witness/sol.rs
Owners: @kylezs

chore: reduce data needed for sol get block (#5428)
  engine/src/witness/sol.rs
Owners: @kylezs

Imporved the swap_rate_v3 RPC call and runtime API `cf_pool_simulate_swap`
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__swap_output_serialization.snap
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: reduce data needed for sol get block (#5428) (#5429)
  engine/src/witness/sol.rs
Owners: @kylezs

fix(node/systemd): add `--max-runtime-instances` 🐛
  state-chain/node/package/berghain/chainflip-archive-node.service
  state-chain/node/package/perseverance/chainflip-archive-node.service
  state-chain/node/package/sisyphos/chainflip-archive-node.service
Owners: @dandanlen

fix(node/systemd): add `--max-runtime-instances` 🐛 (#5431)
  state-chain/node/package/berghain/chainflip-archive-node.service
  state-chain/node/package/perseverance/chainflip-archive-node.service
  state-chain/node/package/sisyphos/chainflip-archive-node.service
Owners: @dandanlen

fix(node/systemd): add `--max-runtime-instances` 🐛 (#5431)
  state-chain/node/package/berghain/chainflip-archive-node.service
  state-chain/node/package/perseverance/chainflip-archive-node.service
  state-chain/node/package/sisyphos/chainflip-archive-node.service
Owners: @dandanlen

fix(node/systemd): add `--max-runtime-instances` 🐛 (#5431)
  state-chain/node/package/berghain/chainflip-archive-node.service
  state-chain/node/package/perseverance/chainflip-archive-node.service
  state-chain/node/package/sisyphos/chainflip-archive-node.service
Owners: @dandanlen

use release versions
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

() -> []
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: no intermediary swap amount for single-legs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

use 1.0.0 and 2.0.0 instead
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: Custom runtime api versioning + struct versioning (#5415)
  Cargo.lock
  Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: no intermediary swap amount for single-legs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: more tests, addressed comments
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

feat: btc vault swap with affiliates
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  bouncer/shared/delete_all_orders_lp_api.ts
  bouncer/shared/json_rpc.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/lp_api_test.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/affiliate_registry.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

refactor: address PR comments
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/queries.rs
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/btc_vault_swap.ts
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @martin-chainflip, @dandanlen

refactor: move auto assign short id logic to broker api
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

chore: address comments
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

chore: address comment
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

test: solana vault swap electoral system tests (#5382)
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

fix: merge fixes
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen
