Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

Remove dead code.
  engine/src/settings.rs
Owners: none

Use same health check in engine and apis.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
  engine/src/lib.rs
  engine/src/settings.rs
  utilities/src/with_std.rs
  utilities/src/with_std/health.rs
Owners: none

Improved how errors are converted to ErrorObjectOwned
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

feat: localnet scripts to create and recreate easier (#5284)
  localnet/common.sh
  localnet/create.sh
  localnet/manage.sh
  localnet/recreate.sh
Owners: @chainflip-io/platform

refactor: use chainflip api for DCA test
  bouncer/commands/new_swap.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

test: egress success tests (#5288)
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/egress_success.rs
Owners: @dandanlen

Remove health file at old location.
  Cargo.lock
  engine/src/health.rs
  engine/src/lib.rs
  utilities/Cargo.toml
  utilities/src/with_std/health.rs
Owners: none

Apply suggestions from review.
  engine/src/dot/http_rpc.rs
Owners: @kylezs

Update default values for hostname and port.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

feature: Using AssetBalance in FreeBalances
  api/lib/src/queries.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/primitives/src/accounting.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: clippy
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

Describe new CLI arguments and add defaults.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

PRO-1620: Ensure that default port is used if none is given in configuration (#5281)
  Cargo.lock
  engine/Cargo.toml
  engine/src/dot/http_rpc.rs
  engine/src/settings.rs
Owners: @kylezs

Make health check optional.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Tests elections pallet (#5190)
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

Use clap to require both args to be present.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Run format and clippy.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Update help text.
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

Apply suggestions from PR.
  Cargo.lock
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
  utilities/Cargo.toml
  utilities/src/with_std/health.rs
Owners: none

Improve help text to sound less like env vars.
  utilities/src/with_std/health.rs
Owners: none

Again improve wording.
  utilities/src/with_std/health.rs
Owners: none

Wording.
  utilities/src/with_std/health.rs
Owners: none

PRO-1594: Add healthcheck endpoints to broker and lp apis (#5282)
  Cargo.lock
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
  engine/src/lib.rs
  engine/src/settings.rs
  utilities/Cargo.toml
  utilities/src/with_std.rs
  utilities/src/with_std/health.rs
Owners: none

fix: storage rolls back on FoK violation
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

feat: use storage for liquidity mock
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

refactor: split_off_highest_impact_swap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

chore: remove unnecessary tests
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

fix: filter out stale bitcoin utxos
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

chore: version bumps to 1.6.6
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @chainflip-io/web, @dandanlen

tests: fixed tests after refactor
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/tests.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/primitives/src/accounting.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/liability_tracker.rs
Owners: @dandanlen

chore: handle unwrap
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
Owners: @dandanlen

chore: satisfied clippy 🫦
  api/lib/src/queries.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/primitives/src/accounting.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: filter out stale bitcoin utxos
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

chore: changelog
  CHANGELOG.md
Owners: none

Add first attempt at pruning.
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: filter out stale bitcoin utxos (#5291)
  CHANGELOG.md
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

test: Handling JSON Object as return parameter.
  bouncer/shared/broker_fee_collection.ts
Owners: @martin-chainflip

fix: migrate earned broker fees
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/migrations.rs
  state-chain/pallets/cf-asset-balances/src/migrations/v1.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

test: rework failed_swaps_are_rolled_back integration test
  state-chain/cf-integration-tests/src/swapping.rs
Owners: @dandanlen

refactor: use add_liquidity in setup_pool_and_accounts
  state-chain/cf-integration-tests/src/swapping.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
