Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

test: manually verify that computations with the `Fraction` type work correctly.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
Owners: @MxmUrw, @marcellorigotti

fix: remove race condition between historic blocks checking and new block subscription
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

test: added run_auction_with_delegations_and_undelegate unit test
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix consensus: return asset only if the number of votes for that asset is higher than success threshold
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
Owners: @MxmUrw, @marcellorigotti

fix: properly convert header.number to number
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: watch subscription for completion of extrinsic submission.
  engine/src/dot/http_rpc.rs
Owners: none

chore: fixed clippy
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: fix bug caused by short-circuiting `any()` usage.
  state-chain/pallets/cf-elections/proptest-regressions/electoral_systems/oracle_price/state_machine.txt
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

fix: add error if subscription terminates.
  engine/src/dot/http_rpc.rs
Owners: none

Reward and slashes of validators are shared with Delegators that are associated with their controlling Operator
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen, @Janislav

Added integration test for Reward distribution
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Added integration tests for Slashing validators
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Fixed a broken integration test
  state-chain/cf-integration-tests/src/delegation.rs
Owners: @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
Owners: @Janislav, @dandanlen

Addressed some PR comments. Reverted FlipSlasher. Renamed the new FlipSlasher to DelegatorSlasher Reverted Reward and slashing events
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @Janislav

Rebased onto the latest main. In integration tests, use existing extrinsics to setup delegators Moved flip delegator slasher into the Validator pallet
  Cargo.lock
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen

separated delegator and non-delegator logic
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

Fixed broken tests
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-validator/Cargo.toml
Owners: @dandanlen

feat: DCA 1 block interval
  bouncer/tests/DCA_test.ts
  state-chain/pallets/cf-swapping/README.md
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_queue_migration.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_migration.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @msgmaxim, @j4m1ef0rd, @dandanlen

chore: code cleanup
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

chore: block delegation during undelegate phase, take instead of get
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: fixed test
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: avg_bid calculation
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: review changes
  state-chain/runtime/src/migrations/polkadot_deprecation.rs
Owners: @dandanlen

feat: remove the Dot pool
  state-chain/runtime/src/migrations/polkadot_deprecation.rs
Owners: @dandanlen

chore: code cleanup
  state-chain/runtime/src/migrations/polkadot_deprecation.rs
Owners: @dandanlen

refactor: various things
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: update `OraclePricesUpdated` event to new encoding (SC internal prices, explicit base and quote asset).
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: correct number of Eth decimals.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
Owners: @MxmUrw, @marcellorigotti

Rebased to the latest main commit Fixed tests
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Added "at" to 2 rpc calls so all rpc calls (except Subscribe ones) contains the "at" field.
  state-chain/custom-rpc/src/lib.rs
Owners: @chainflip-io/web, @nmammeri

chore: fixed clippy
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

test: refactor + added new test
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: convert to statechain representation before changing price unit.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

fix: use same conversion function for both API and event.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

rpc
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @MxmUrw, @marcellorigotti, @dandanlen

don't error if tx is Confirmed
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
Owners: @albert-llimos

feat: don't error if tx is Confirmed (#6019)
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
Owners: @albert-llimos

refactor: remove `get_latest_price` and replace occurences by `get_latest_asset_state`.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
