Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

test: add new LP to execute new tests in parallel (#5203)
  bouncer/commands/setup_lp_account.ts
  bouncer/shared/fund_flip.ts
  bouncer/shared/setup_lp_account.ts
  bouncer/shared/upgrade_network.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fund_redeem.ts
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

tests for ensure governance checks (#5269)
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/mock.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-chain-tracking/src/tests.rs
  state-chain/pallets/cf-emissions/src/tests.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-governance/src/mock.rs
  state-chain/pallets/cf-governance/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-tokenholder-governance/src/mock.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/ensure_origin_mock.rs
  state-chain/traits/src/mocks/ensure_witnessed.rs
Owners: @dandanlen

tests: Swapping unit tests cleanup (#5226)
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/test-utilities/src/lib.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

chore: bump spec version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: remove IngressMigration
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

refactor: Extended lp deposit with refund address
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/balance_api.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @kylezs, @dandanlen

chore: add egress fee for token account rent
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

We can now witness when Solana CCM transaction fails to execute.
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: update compute units
  state-chain/chains/src/sol.rs
Owners: @dandanlen

feature: Added benchmark
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: Changes to benchmark
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
Owners: @dandanlen

fix: increase init timeout for backup test
  engine/src/retrier.rs
Owners: @kylezs

fix: expire prev epochs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: rename BlocksPerEpoch -> EpochDuration
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/broadcasting.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/genesis.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: restructure epoch expiry logic & tests
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: migration should take not get
  state-chain/pallets/cf-validator/src/migrations/rename_blocks_per_epoch.rs
Owners: @dandanlen

fix: handle breaking change in monitoring.
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

Wip: Updated jsonrpsee to 0.23.2
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  engine/Cargo.toml
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/Cargo.toml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/service.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  utilities/Cargo.toml
  utilities/src/with_std/rle_bitmap.rs
Owners: @chainflip-io/web, @dandanlen

Update RPC interface to jsonrpsee-0.23.2 (#5283)
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/service.rs
  state-chain/runtime/src/monitoring_apis.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

Migrated to Runtime V2 macro
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Worked through Clis
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/src/settings.rs
  api/bin/chainflip-lp-api/Cargo.toml
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/lib.rs
  engine/multisig/Cargo.toml
  engine/multisig/src/client/utils.rs
  engine/src/dot/http_rpc.rs
  engine/src/p2p/peer_info_submitter.rs
  engine/src/settings.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/unsigned.rs
  engine/src/witness/btc/deposits.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/command.rs
  state-chain/node/src/service.rs
Owners: @chainflip-io/web, @msgmaxim, @kylezs, @dandanlen

Fixed cargo check
  Cargo.lock
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/Cargo.toml
  api/lib/src/lib.rs
  api/lib/src/queries.rs
  engine/src/dot/http_rpc.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/command.rs
  state-chain/node/src/service.rs
Owners: @kylezs, @dandanlen

Fixed unit tests
  Cargo.lock
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/src/settings.rs
  api/bin/chainflip-lp-api/src/main.rs
  engine-runner-bin/tests/command_args.rs
  engine/Cargo.toml
  engine/src/settings.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher/tests.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/continuous.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/eth.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  utilities/src/with_std/rle_bitmap.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

Upgraded to be compatible with version 2024-08-04
  rust-toolchain.toml
  state-chain/amm/src/common.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/cf-session-benchmarking/src/lib.rs
  state-chain/chains/src/address.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/eth/deposit_address.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core/short_vec.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-flip/src/imbalances.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/src/chains/assets.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/lib.rs
  utilities/src/lib.rs
  utilities/src/with_std.rs
  utilities/src/with_std/logging.rs
  utilities/src/with_std/metrics.rs
  utilities/src/with_std/task_scope.rs
Owners: @dandanlen

Set the Rust build version to 07-31 for compatibility with Futures
  Cargo.lock
  api/bin/chainflip-lp-api/src/main.rs
  engine/Cargo.toml
  engine/multisig/Cargo.toml
  rust-toolchain.toml
  state-chain/cf-integration-tests/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @msgmaxim, @dandanlen

update service.rs and command.rs
  state-chain/node/src/command.rs
  state-chain/node/src/service.rs
Owners: @dandanlen

doc: update README with latest help output
  api/bin/chainflip-broker-api/README.md
  api/bin/chainflip-lp-api/README.md
Owners: none

chore: no need to specify parser explicitly for PathBuf
  engine/src/settings.rs
Owners: none

fix: clippy
  Cargo.toml
Owners: none

feat: use derive_impl in runtime and remove unused derives
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: use Display instead of Debug for rpc error conversion
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

chore: remove left over structs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
Owners: @dandanlen

chore: rename to TOKEN_ACCOUNT_RENT
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: add egress fee for token account rent (#5315)
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

borrow issues
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: remove unnecessary TODOs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
Owners: @dandanlen

refactor: move encoding to cf-chains
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
  state-chain/chains/src/lib.rs
Owners: @kylezs, @dandanlen

chore: generated mock weights
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/traits/src/mocks/balance_api.rs
Owners: @dandanlen

fix: min_active_bid returned as NumberOrHex
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

chore: use official curve-dalek instead of solana fork
  Cargo.lock
  state-chain/chains/Cargo.toml
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
