Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
Owners: @Janislav, @dandanlen

Addressed some PR comments. Reverted FlipSlasher. Renamed the new FlipSlasher to DelegatorSlasher Reverted Reward and slashing events
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @Janislav

Rebased onto the latest main. In integration tests, use existing extrinsics to setup delegators Moved flip delegator slasher into the Validator pallet
  Cargo.lock
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen

separated delegator and non-delegator logic
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

Fixed broken tests
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-validator/Cargo.toml
Owners: @dandanlen

Rebased to the latest main commit Fixed tests
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Rebased onto the latest delegation auction branch. Fixed final integration test (solana ccm resigning)
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

feat: add operator to validator info
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__validator_serialization.snap
  state-chain/custom-rpc/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

skip
  state-chain/custom-rpc/src/lib.rs
Owners: @chainflip-io/web, @nmammeri

feat: add operator to validator info (#6040)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__validator_serialization.snap
  state-chain/custom-rpc/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

refactor: return `Ok(None)` instead of error if sol egress witnessing cannot find a tx (#6036)
  engine/src/witness/sol/egress_witnessing.rs
Owners: @albert-llimos

chore: wip
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
  contract-interfaces/eth-contract-abis/download-eth-contract-abis.sh
  contract-interfaces/eth-contract-abis/v1.3.0-test3/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0-test3/IVault.json
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @martin-chainflip, @albert-llimos, @chainflip-io/platform, @dandanlen

chore: fix bug
  .github/workflows/ci-development.yml
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-environment/src/mock.rs
Owners: @chainflip-io/platform, @albert-llimos, @dandanlen

ci: run
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: add comments
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add CCM funding test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: fixes and wip test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

chore: docs
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add migration
  .github/workflows/upgrade-test.yml
  bouncer/tests/delegate_flip.ts
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @dandanlen

chore: update to EVM image 1.3.0
  contract-interfaces/eth-contract-abis/v1.3.0/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.0/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.0/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.0/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.0/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.0/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.0/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.0/IVault.json
Owners: @albert-llimos

chore: fix timeout issue and small improvements
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

chore: nit
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: add ScCall bouncer encoding
  bouncer/tests/delegate_flip.ts
Owners: @martin-chainflip

chore: insert Sc Utils addresses and image (#6010)
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  contract-interfaces/eth-contract-abis/v1.3.2/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.2/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.2/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.2/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.2/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.2/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.2/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.2/IVault.json
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

refactor: make difference between `ChannelAction` and `ChannelActionForDeposit` explicit.
  Cargo.lock
  Cargo.toml
  engine/src/witness/btc/deposits.rs
  state-chain/chains/Cargo.toml
  state-chain/chains/src/refund_parameters.rs
  state-chain/pallets/cf-ingress-egress/Cargo.toml
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/channel_action_ccm_refund.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  utilities/Cargo.toml
  utilities/src/without_std.rs
  utilities/src/without_std/bounded_vec.rs
Owners: @msgmaxim, @dandanlen

SC calls via Ethereum (#5979)
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/evm.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
  state-chain/runtime/src/lib.rs
Owners: @albert-llimos, @dandanlen, @Janislav

fix: bouncer tests and address some PR comments
  bouncer/commands/lp_schedule_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/sol_vault_swap.ts
  bouncer/tests/lp_api_test.ts
  state-chain/amm-math/src/lib.rs
  state-chain/chains/src/lib.rs
  state-chain/custom-rpc/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/runtime/src/chainflip/vault_swaps.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/price_feed_api.rs
Owners: @martin-chainflip, @dandanlen, @chainflip-io/web, @nmammeri, @msgmaxim, @j4m1ef0rd

chore: fix rebase
  .github/workflows/upgrade-test.yml
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
Owners: @chainflip-io/platform, @martin-chainflip

feat: refund undecodable btc vault swaps.
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/arb.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @nmammeri, @msgmaxim, @dandanlen

feat: generate backspin chain spec
  Makefile
  state-chain/node/src/command.rs
Owners: @dandanlen

feat: generate backspin chain spec (#6041)
  Makefile
  state-chain/node/src/command.rs
Owners: @dandanlen

feat: add new executable to compare current typeinfo against live network.
  Cargo.lock
  Cargo.toml
  generate-migrations/Cargo.toml
  generate-migrations/src/diff.rs
  generate-migrations/src/main.rs
Owners: none

ci: improve secret passing 🥷
  .github/workflows/_110_deploy_benchmarks_runner.yml
Owners: @chainflip-io/platform

ci: add mask to token value 🚀
  .github/workflows/_110_deploy_benchmarks_runner.yml
Owners: @chainflip-io/platform

fix: bouncer tests
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

ci: improve secret passing 🥷 (#6042)
  .github/workflows/_110_deploy_benchmarks_runner.yml
Owners: @chainflip-io/platform

ci: improve secret passing 🥷 (#6042)
  .github/workflows/_110_deploy_benchmarks_runner.yml
Owners: @chainflip-io/platform

fix: update serialized data in test
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_vault_deposit_calls.snap.new
  state-chain/amm-math/src/lib.rs
  state-chain/chains/src/evm/api/vault_swaps/x_call_native.rs
  state-chain/chains/src/evm/api/vault_swaps/x_call_token.rs
  state-chain/chains/src/evm/api/vault_swaps/x_swap_native.rs
  state-chain/chains/src/evm/api/vault_swaps/x_swap_token.rs
  state-chain/chains/src/sol/instruction_builder.rs
Owners: @nmammeri, @dandanlen

refactor: dont use generics for channel refund params
  api/cf-node-client/src/subxt_state_chain_config.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/refund_parameters.rs
Owners: @nmammeri, @dandanlen

wip: basic change of typedef detection.
  Cargo.lock
  generate-migrations/Cargo.toml
  generate-migrations/src/container.rs
  generate-migrations/src/diff.rs
  generate-migrations/src/main.rs
Owners: none

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
