Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

test: added test for exceptions list
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: fixed benchmark 🤞
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

test: add test that checks that iqr + median computation works.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

chore: run `cargo fix`.
  engine/src/witness/generic_elections.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
  state-chain/pallets/cf-elections/src/generic_tools/mod.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @dandanlen, @MxmUrw, @marcellorigotti

chore: clippy fixes.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

increase timeout for network upgrade tests
  bouncer/commands/upgrade_network.ts
Owners: @martin-chainflip

chore: update localnet polkadot and assethub to 1.6.1 (#6011)
  .github/workflows/_40_post_check.yml
  bouncer/commands/upgrade_network.ts
  ci/docker/development/polkadot/assethub.raw.json
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/testnet.rs
Owners: @chainflip-io/platform, @martin-chainflip, @dandanlen

rename
  api/bin/chainflip-elections-tracker/README.md
  api/bin/chainflip-elections-tracker/src/bin/log_votes_summary.rs
Owners: @nmammeri

chore: remove unused features.
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @MxmUrw, @marcellorigotti

feat: observe current block immediately
  bouncer/shared/utils/async_queue.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

chore: reduce number of historical blocks for observerSwapRequested
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: bouncer: better swap progress diagnostics
  bouncer/shared/perform_swap.ts
  bouncer/shared/utils/swap_context.ts
Owners: @martin-chainflip

feat: better logging
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: more `stopAfter` options.
  bouncer/shared/utils/substrate.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

refactor: schuffled types
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

fix: ensure correct event ordering
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

feat: add `ChainEnvironment` implementation to get latest asset prices.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

refactor: inline single use functions, renames.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/generic_tools/functor.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: renames.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: impl other sc_utils events witnessing
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

chore: rename enum variants
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

When CFE is launched, it will try to check for CFE version - something unique to CF nodes. This ensures Engine is connecting to a valid CF node, not other Substrate based chains by mistake
  engine/src/state_chain_observer/client.rs
Owners: none

feat: add script to get a summary of election votes (#6012)
  api/bin/chainflip-elections-tracker/README.md
  api/bin/chainflip-elections-tracker/src/bin/log_votes_summary.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

refactor: remove `Aggregation` trait, use `Aggregated` type directly.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: better handling of failure to compute median/iqr in consensus.
  state-chain/pallets/cf-elections/proptest-regressions/electoral_systems/oracle_price/consensus.txt
  state-chain/pallets/cf-elections/proptest-regressions/electoral_systems/oracle_price/primitives.txt
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

chore: add copyright headers.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: use the "saturating" version of math operators in `price.rs`.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
Owners: @MxmUrw, @marcellorigotti

fix: update price deviation on every on_finalize.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: renaming
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
Owners: @dandanlen

chore: addressed comments
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

ethereum_elections SC side
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/evm.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/chainflip/ethereum_block_processor.rs
  state-chain/runtime/src/chainflip/ethereum_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @nmammeri, @dandanlen, @MxmUrw, @marcellorigotti, @Janislav, @ramizhasan111

feat: add script to get a summary of election votes (#6012)
  api/bin/chainflip-elections-tracker/README.md
  api/bin/chainflip-elections-tracker/src/bin/log_votes_summary.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

chore: using replace
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: reduce vitest concurrency setting
  .github/workflows/upgrade-test.yml
  bouncer/commands/run_test.ts
  bouncer/fast_bouncer.sh
  bouncer/full_bouncer.sh
  bouncer/test_commands/all_cuncurrent_tests.sh
  bouncer/tests/fast_bouncer.test.ts
Owners: @chainflip-io/platform, @martin-chainflip

chore: fixed set_preferences
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: eslint
  bouncer/shared/utils/substrate.ts
  bouncer/shared/utils/swap_context.ts
Owners: @martin-chainflip

fix: use correct price range calculation.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

refactor: delegations acceptance check
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

remove unnecessary clone
  state-chain/runtime/src/chainflip/ethereum_elections.rs
Owners: @dandanlen

feat: ethereum_elections SC side (#6016)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/evm.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/chainflip/ethereum_block_processor.rs
  state-chain/runtime/src/chainflip/ethereum_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @nmammeri, @dandanlen, @MxmUrw, @marcellorigotti, @Janislav, @ramizhasan111

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
