Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

re-enable other migrations
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: vanity names migration version numbers
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

polish migration
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
Owners: @dandanlen

move randomization inside SessionManager impl
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

feat: guard against regressions
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

feat: add pool created events (#4761)
  bouncer/shared/submit_runtime_upgrade.ts
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
Owners: @martin-chainflip, @dandanlen

chore: refactor common logic
  bouncer/commands/setup_vaults.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/setup_arb_vault.ts
Owners: @martin-chainflip

fix:update from latest main
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/migrations/active_bidders.rs
Owners: @dandanlen

chore: correctly order logs
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: add arb encoded address
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: add test and cleanup for clippy
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/program_instructions.rs
  state-chain/chains/src/sol/token_instructions.rs
Owners: @dandanlen

fix: migrations
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/runtime/src/migrations/active_bidders.rs
Owners: @dandanlen

Fixed some minor typos and fixes in our docs.
  PRACTICES.md
  README.md
  engine/README.md
  state-chain/TROUBLESHOOTING.md
Owners: @dandanlen

Fixed more typos
  api/bin/chainflip-ingress-egress-tracker/README.md
  contract-interfaces/README.md
  state-chain/docs/docker-compose.md
  state-chain/pallets/cf-flip/README.md
  state-chain/pallets/cf-funding/README.md
  state-chain/pallets/cf-reputation/README.md
  state-chain/pallets/cf-threshold-signature/README.md
  state-chain/pallets/cf-validator/README.md
Owners: @chainflip-io/web, @dandanlen

fix: cache path and env var
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/ci-benchmarks.yml
Owners: none

chore: remove ubuntu 20.04 support 👋 (#4764)
  .github/workflows/_01_pre_check.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/docker-build-rust-base.yml
  ci/docker/development/rust-base.Dockerfile
Owners: none

chore: fixed typo in docs (#4767)
  PRACTICES.md
  README.md
  api/bin/chainflip-ingress-egress-tracker/README.md
  contract-interfaces/README.md
  engine/README.md
  state-chain/TROUBLESHOOTING.md
  state-chain/docs/docker-compose.md
  state-chain/pallets/cf-flip/README.md
  state-chain/pallets/cf-funding/README.md
  state-chain/pallets/cf-reputation/README.md
  state-chain/pallets/cf-threshold-signature/README.md
  state-chain/pallets/cf-validator/README.md
Owners: @chainflip-io/web, @dandanlen

fix: remove unused import
  state-chain/runtime/src/migrations/active_bidders.rs
Owners: @dandanlen

fix: remove premature disconnect
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/submit_runtime_upgrade.ts
Owners: @martin-chainflip

chore: small improvements
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: fmt
  bouncer/shared/utils.ts
Owners: @martin-chainflip

fix: update suspensions so rotation can go through
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: fmt
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: update to 0.2.0 contract version with initialization change
  .cargo/config.toml
  bouncer/commands/setup_vaults.ts
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/initialize_contracts.ts
  bouncer/shared/utils.ts
  contract-interfaces/sol-program-idls/v0.1.5/cf_tester.json
  contract-interfaces/sol-program-idls/v0.1.5/vault.json
  contract-interfaces/sol-program-idls/v0.2.0/cf_tester.json
  contract-interfaces/sol-program-idls/v0.2.0/upgrade_manager.json
  contract-interfaces/sol-program-idls/v0.2.0/vault.json
  localnet/docker-compose.yml
Owners: @martin-chainflip, @chainflip-io/platform

chore: restore setup_vaults.ts
  bouncer/commands/setup_vaults.ts
Owners: @martin-chainflip

chore: comment out Solana init
  bouncer/commands/setup_vaults.ts
Owners: @martin-chainflip

fix: don't use ubuntu version in name
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: Authorities should be sorted pseudo-randomly (#4752)
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/cf-integration-tests/src/signer_nomination.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/authorities.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/mock.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime/src/chainflip/decompose_recompose.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/active_bidders.rs
  state-chain/runtime/src/migrations/vanity_names.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/epoch_info.rs
Owners: @dandanlen

chore: use 7 nonces
  bouncer/shared/initialize_contracts.ts
Owners: @martin-chainflip

Moved collecting of positions
  state-chain/amm/src/lib.rs
  state-chain/amm/src/range_orders.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

chore: add transaction length checks
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/program_instructions.rs
  state-chain/chains/src/sol/token_instructions.rs
Owners: @dandanlen

chore: nit nonces
  bouncer/shared/initialize_contracts.ts
Owners: @martin-chainflip

chore: update pnpm to fix CI
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: again
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: bump tsx
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: revert package.json with only tsx bump
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

fix: tests
  state-chain/cfe-events/src/tests.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__broker_serialization.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__lp_serialization.snap
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

fix: test, legacy_encoding
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

chore: revert package & pnpm
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

chore: move sol migration
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/arbitrum_integration.rs
  state-chain/runtime/src/migrations/solana_integration.rs
Owners: @dandanlen
