Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

chore: small fixes and separate InvalidRefundParameters
  api/cf-node-client/src/subxt_state_chain_config.rs
  bouncer/shared/sol_vault_swap.ts
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channel_details_migration.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_migration.rs
Owners: @nmammeri, @martin-chainflip, @dandanlen, @msgmaxim, @j4m1ef0rd

chore: run upgrade test
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: nit
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/traits/src/mocks/swap_parameter_validation.rs
Owners: @dandanlen, @msgmaxim, @j4m1ef0rd

chore: rebase and fix accordingly
  bouncer/pnpm-lock.yaml
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channel_details_migration.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @martin-chainflip, @dandanlen

chore: fix swapping pallet version
  state-chain/pallets/cf-swapping/src/migrations.rs
Owners: @msgmaxim, @j4m1ef0rd

chore: clippy and cleanup migrations
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: update test
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_vault_deposit_calls.snap
Owners: @nmammeri

chore: update bouncer chainflip cli
  bouncer/tests/vault_swap_tests.ts
Owners: @martin-chainflip

chore: rename migration
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_ccm_refund_migration.rs
Owners: @msgmaxim, @j4m1ef0rd

fix: change old_version to 1.9.7 for more reliable upgrade test (#5969)
  Cargo.lock
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: @nmammeri, @dandanlen

Added RefundParameterForChain for easier type management and type conversion.
  api/bin/chainflip-broker-api/src/main.rs
  api/cf-rpc-apis/src/broker.rs
  api/cf-rpc-types/src/broker.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/instruction_builder.rs
  state-chain/custom-rpc/src/broker.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @nmammeri, @dandanlen, @chainflip-io/web

Rebased onto the latest main.
  api/cf-rpc-types/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/transaction_rejection_details_ccm_migration.rs
Owners: @nmammeri, @dandanlen

Addressed some PR comments
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: increase timeout
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

fix: review timeouts in fast bouncer
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

fix: missed one
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

chore: add CCM funding test
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
  engine/src/witness/eth/sc_utils.rs
Owners: @martin-chainflip, @albert-llimos

feat: check associations before we unregister and remove storage
  api/lib/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @nmammeri, @dandanlen

Fixed broken bouncer from rebase
  bouncer/package.json
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

fixed bouncer tsc
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fixed prettier check
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fixed bouncer lint
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Fixed migration versioning
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Fixed broken unit tests
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/evm/api/vault_swaps/x_call_native.rs
  state-chain/chains/src/evm/api/vault_swaps/x_call_token.rs
Owners: @dandanlen

test: add backwards compatibility test
  state-chain/chains/src/cf_parameters.rs
Owners: @dandanlen

Fixed build
  state-chain/custom-rpc/src/broker.rs
Owners: @chainflip-io/web, @nmammeri

chore: lint bouncer
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fix: bug for CCM swaps to non-Solana
  state-chain/chains/src/cf_parameters.rs
Owners: @dandanlen

Refactored Engine's decode_cf_parameter
  engine/src/witness/evm/vault.rs
  state-chain/chains/src/cf_parameters.rs
Owners: @albert-llimos, @dandanlen

rebased onto latest main updated insta snapshots
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__swap_deposit_address_serialization.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__vault_swap_input_serialization-2.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__vault_swap_input_serialization-3.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__vault_swap_input_serialization-4.snap
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__vault_swap_input_serialization.snap
  state-chain/custom-rpc/src/tests.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: add legacy cfParameters bouncer test
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

fails solana refund ccm without trying to build the call
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

Removed a redundant todo
  api/cf-node-client/src/subxt_state_chain_config.rs
Owners: @nmammeri

Fixed storage migration problem
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
Owners: @dandanlen

refactor: ccm refund parameters (#5956)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/cf-node-client/src/subxt_state_chain_config.rs
  api/cf-rpc-types/src/broker.rs
  api/cf-rpc-types/src/lib.rs
  api/lib/src/lib.rs
  engine/src/witness/arb.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol/vault_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/evm/api/vault_swaps.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/refund_parameters.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/instruction_builder.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/tests.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/custom-rpc/src/broker.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_ccm_refund_migration.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/runtime/src/chainflip/vault_swaps.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/mocks/swap_request_api.rs
  state-chain/traits/src/swapping.rs
Owners: @nmammeri, @albert-llimos, @dandanlen, @chainflip-io/web, @msgmaxim, @j4m1ef0rd

fix: re-add correct cli dependency.
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

Minor improvements. Minimized the use of ChannelRefundParametersGeneric and use the type alias whenever possible
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/cf-rpc-types/src/broker.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/cf_parameters.rs
  state-chain/chains/src/evm/api/vault_swaps.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @nmammeri, @msgmaxim, @dandanlen

chore: fmt
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
Owners: @dandanlen

fix: bouncer boost tests improved diagnostics (#5967)
  bouncer/tests/boost.ts
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

feat: initial implementation of oracle price elections
  Cargo.lock
  Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/cf-node-client/Cargo.toml
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness.rs
  engine/src/witness/generic_elections.rs
  engine/src/witness/sol.rs
  engine/src/witness/start.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @nmammeri, @dandanlen, @chainflip-io/web, @MxmUrw, @marcellorigotti

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
