Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

feat: vault swap details
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: bouncer solana program swaps (#5318)
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

Fixed bouncer
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: fix issues and renamings
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: get block number from runtime
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

fix: add is_vote_desired()
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: vault_swap_request remove origin
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix: clippy, tests, benchmarks
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

Feat: Expand Solana Vault Swap functionality and fix bouncer (#5375)
  .cargo/config.toml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/all_swaps.ts
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  localnet/docker-compose.yml
  state-chain/chains/src/lib.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @kylezs, @chainflip-io/platform, @dandanlen

fix: BenchmarkValue shit, clippy and election order
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

feat: is_vote_needed
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

Test: bouncer solana event closure (#5378)
  bouncer/shared/evm_vault_swap.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

Chore: refactor Solana program idls (#5381)
  Cargo.lock
  contract-interfaces/sol-program-idls/v1.0.0/types/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/vault.ts
  engine/Cargo.toml
  engine/src/witness/sol/program_swaps_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @kylezs, @dandanlen

chore: address comments
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: reduce duplication of data removing unnecessary hashet
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: nit CcmCfParameters
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: nit
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: remove unnecessary comment
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

chore: return hashshet in get_swap_endpoint_data
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: improve comment
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: workaround for bouncer lint
  bouncer/shared/evm_vault_swap.ts
Owners: @martin-chainflip

fix: filter out errored rpc calls
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: address comments
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

chore: address comments
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix: chore: address comments
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: pull out common code
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
Owners: @dandanlen

chore: make src_token safer, add unwrap()
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: rename file
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: address comments
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: rebase related fixes, integrating latest features from main
  engine/src/elections/voter_api.rs
  engine/src/witness/arb.rs
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual/composite.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: added type change
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: fixes after merge
  bouncer/shared/contract_swap.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

feature: Added Generic TxID converter
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/swap_request_api.rs
  state-chain/traits/src/swapping.rs
Owners: @kylezs, @dandanlen

chore: renaming
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

tests: Expecting ByteHash in bouncer tetsts
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

chore: Fixed tests and clippy
  engine/src/witness/btc/vault_swaps.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mocks/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
Owners: @kylezs, @dandanlen

chore: Changed TransactionInId for Solana
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

refactor: Change naming from tx_hash to tx_id
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
Owners: @kylezs, @dandanlen

refactor: Changed txHash to txId also in bouncer
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

fix: fixed broken tests after reabse
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
