Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

feat: add script to get a summary of election votes (#6012)
  api/bin/chainflip-elections-tracker/README.md
  api/bin/chainflip-elections-tracker/src/bin/log_votes_summary.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

rpc
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @MxmUrw, @marcellorigotti, @dandanlen

feat: Rpc for oracle prices (#6027)
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @MxmUrw, @marcellorigotti, @dandanlen

test: check conversions from chainlink prices to internal prices manually.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
Owners: @MxmUrw, @marcellorigotti

refactor: Inject EthereumSCApi via Config
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
  state-chain/runtime/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

feat: tests
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

feat: benchmark for extrinsic
  state-chain/pallets/cf-funding/src/benchmarking.rs
Owners: @Janislav, @dandanlen

feat: added max_bid support
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
Owners: @dandanlen

feat: unsafe_median ES now has a configurable polling delay.
  Cargo.lock
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: add bitcoin elections pallet migration for fee tracking.
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: bump runtime version to 1.10.2.
  Cargo.lock
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: don't use vec macro.
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

feat: correct extrinsic weight
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
Owners: @Janislav, @dandanlen

SC calls via Ethereum (#5979)
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/evm.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
  state-chain/runtime/src/lib.rs
Owners: @albert-llimos, @dandanlen, @Janislav

fix: spawn a task in which we wait for submission, return Hash early.
  engine/src/dot/http_rpc.rs
Owners: none

feat: track progress of the extrinsic tx and report any errors
  engine/src/dot/http_rpc.rs
Owners: none

chore: comment change to rerun job
  engine/src/dot/http_rpc.rs
Owners: none

add new vote storage
  api/bin/chainflip-elections-tracker/src/bin/log_votes_summary.rs
  state-chain/pallets/cf-elections/src/electoral_systems/exact_value.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/exact_value.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/bitmap_numerical.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti, @dandanlen

temp: adding the `submit_raw_encoded_extrinsic` to DotSubscribeApi trait & impl.
  engine/src/dot/retry_rpc.rs
  engine/src/dot/rpc.rs
  engine/src/state_chain_observer/sc_observer.rs
Owners: none

fix: swap rate network fee calculation
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: addressed comments
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: bump version number *everywhere*.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
Owners: @nmammeri, @dandanlen

temp: try to also migrate solana.
  engine-runner-bin/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @nmammeri, @dandanlen

chore: remove debug code.
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

fix: use 10 SC blocks, also in initial state of fee ES.
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

chore: remove debug code.
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

feat: unsafe_median ES now has a configurable polling delay.
  Cargo.lock
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: bump version number *everywhere*.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
Owners: @nmammeri, @dandanlen

chore: bump runtime version to 1.10.2.
  Cargo.lock
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

temp: try to also migrate solana.
  engine-runner-bin/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @nmammeri, @dandanlen

chore: add bitcoin elections pallet migration for fee tracking.
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: use 10 SC blocks, also in initial state of fee ES.
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

fix: don't use vec macro.
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

feat: unsafe_median ES now has a configurable polling delay.
  Cargo.lock
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: bump elections pallet version to 8 (and migrate from 7).
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

temp: run upgrade test.
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: use `any::Asset` instead of `ChainlinkAssetpair` in internal price API.
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @dandanlen

feat: cleanup dot client and add susbcription capability
  engine/src/dot/http_rpc.rs
  engine/src/dot/retry_rpc.rs
  engine/src/dot/rpc.rs
  engine/src/state_chain_observer/sc_observer.rs
Owners: none

test: removed test
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: remove unused import.
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen
