Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

fix: factor out log file writing and use spawnSync
  bouncer/shared/try_runtime_upgrade.ts
  bouncer/shared/utils/exec_with_log.ts
Owners: @martin-chainflip

fix: revert to execSync
  bouncer/shared/utils/exec_with_log.ts
Owners: @martin-chainflip

fix: change log upload dir
  .github/workflows/upgrade-test.yml
Owners: @kylezs

try outputting stderr from broker/lp start
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: option formats and env vars
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: add exec callback
  bouncer/shared/try_runtime_upgrade.ts
  bouncer/shared/utils/exec_with_log.ts
Owners: @martin-chainflip

fix: log error if broker/lp api fails to start
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

ci: use rust base without sccache
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/ci-benchmarks.yml
Owners: none

fix: correct documentation
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: remove from nightly
  .github/workflows/ci-nightly.yml
Owners: none

chore: bump insta crate
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Owners: @chainflip-io/web

chore: add cargo-audit ignore
  .cargo/config.toml
Owners: none

chore: fix stopObservingCcmReceived var
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

fix: increase submission timeout time
  engine/src/state_chain_observer/client.rs
Owners: none

feat: lock `bitcoin` and `polkadot` images to a specific commit 🔒 (#4686)
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

chore: restore run.sh
  bouncer/run.sh
Owners: @martin-chainflip

chore: bump subxt to 0.33 (#4693)
  .cargo/config.toml
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  engine/Cargo.toml
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/subxt_state_chain_config.rs
Owners: @chainflip-io/web

Changed some extrinsics to DispatchType::Operational (#4248)
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Fix failing gas ccm tests (#4690)
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

fixed typo
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

doc: fix a typo and minor grammar issue in PRACTICES.md
  PRACTICES.md
Owners: none

fix: typo in the error message (#4694)
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

fix: typo in the error message (#4694)
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

doc: fix a typo and minor grammar issue in PRACTICES.md (#4695)
  PRACTICES.md
Owners: none

Addressed PR comments
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/btc/utxo_selection.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
Owners: @dandanlen

feat: gas swaps use swapping queue
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/asset_converter.rs
Owners: @dandanlen

tests: refactor mocks and add tests
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/swap_queue_api.rs
  state-chain/traits/src/mocks/tracked_data_provider.rs
  state-chain/traits/src/mocks/transaction_fee_handler.rs
Owners: @dandanlen

Combined utxo transfer to current vault with consolidation Updated test
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/btc/utxo_selection.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
Owners: @dandanlen

ci: fix git ownership issues 🐛
  .github/workflows/_20_build.yml
Owners: none

ci(rust caching): add Namespace caching for Rust dependencies 💰🦀 (#4688)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_benchmarks_runner.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
  ci/docker/development/rust-base.Dockerfile
  ci/scripts/install_sccache.sh
Owners: @kylezs

chore: version bump
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

ci(rust caching): add Namespace caching for Rust dependencies 💰🦀 (#4688)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_benchmarks_runner.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
  ci/docker/development/rust-base.Dockerfile
  ci/scripts/install_sccache.sh
Owners: @kylezs

chore: clearer cherry pick title
  .github/workflows/ci-cherry-pick.yml
Owners: none

Update .github/workflows/upgrade-test.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

ci(upgrade test): fix discord notification conditional 🐛
  .github/workflows/upgrade-test.yml
Owners: @kylezs

ci(upgrade test): fix discord notification conditional 🐛 (#4701)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: clearer cherry pick title (#4700)
  .github/workflows/ci-cherry-pick.yml
Owners: none

chore: version bump
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

fix: typo in the error message (#4694)
  state-chain/primitives/src/chains/assets.rs
Owners: @dandanlen

cherry-pick: CI fixex 🍒 (#4699)
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_benchmarks_runner.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/docker-build-rust-base.yml
  .github/workflows/upgrade-test.yml
  ci/docker/development/rust-base.Dockerfile
  ci/scripts/install_sccache.sh
Owners: @kylezs

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
