Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

feat: Limit amount of exceptions a operator can have
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: added account balance of operator
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: add a `NoopMigration` from 6 to 7 to make the upgrade test pass while 1.10.2 isn't released.
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

chore: insert 0 max_bid if 0 validators
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

refactor: return `Ok(None)` instead error if sol egress witnessing cannot find a tx.
  engine/src/witness/sol/egress_witnessing.rs
Owners: @albert-llimos

fix: use `any::Asset` instead of `ChainlinkAssetpair` in internal price API (#6034)
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @dandanlen

Include test_runner in the Runtime crate into the mocks feature
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

refactor: Address PR comments
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
Owners: @msgmaxim, @j4m1ef0rd

chore: log warn if no delegation snapshot found
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: filter out none qualified bidders
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: inlined account balance
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

test: added bond verification to test
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

add migration
  state-chain/pallets/cf-elections/src/migrations/vote_storage_migration.rs
Owners: @MxmUrw, @marcellorigotti

fix: remove race condition in bouncer observe event (#6023)
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

fix: print `txid` instead of `hash` in case a vault swap cannot be decoded.
  engine/src/witness/btc/vault_swaps.rs
Owners: @msgmaxim

wip
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @msgmaxim, @j4m1ef0rd, @dandanlen

refactor: address more PR comments
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @msgmaxim, @j4m1ef0rd

chore: removed option value
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: fixed compile error
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: renamed flip_balance
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

CachedClient impl for Ethereum
  engine/src/evm.rs
  engine/src/evm/cached_rpc.rs
  engine/src/evm/retry_rpc.rs
  engine/src/evm/retry_rpc/address_checker.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/runtime/src/chainflip/ethereum_block_processor.rs
  state-chain/runtime/src/chainflip/ethereum_elections.rs
Owners: @albert-llimos, @dandanlen

CachedClient impl for Ethereum (#6037)
  engine/src/evm.rs
  engine/src/evm/cached_rpc.rs
  engine/src/evm/retry_rpc.rs
  engine/src/evm/retry_rpc/address_checker.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/runtime/src/chainflip/ethereum_block_processor.rs
  state-chain/runtime/src/chainflip/ethereum_elections.rs
Owners: @albert-llimos, @dandanlen

feat: added account balance of operator (#6035)
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: renamed DelegationInfos to OutgoingDelegators
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: remove TODOs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: removed unused error
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: remove serde bounds and unrequired PoolApi reference.
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mocks.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: moved unbond to transition_to_next_epoch
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: don't reconstruct CcmDepositMetadata in full witness step.
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

feat: Support for DCA 1 block interval (#6025)
  bouncer/tests/DCA_test.ts
  state-chain/pallets/cf-swapping/README.md
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_queue_migration.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_migration.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @martin-chainflip, @msgmaxim, @j4m1ef0rd, @dandanlen

chore: removed undelegation block
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: Change field `channel_metadata: CcmChannelMetadata` to `egress_metadata: CcmDepositMetadata`.
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/channel_action_ccm_refund.rs
Owners: @dandanlen

chore: remove now unused source_address argument.
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

refactor: Move the validation of vault swap refund parameters into `try_validate_vault_swap`.
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: process all events in a block in parallel (#6013)
  engine/src/witness/btc/deposits.rs
  engine/src/witness/eth/state_chain_gateway.rs
  engine/src/witness/evm/key_manager.rs
  engine/src/witness/evm/vault.rs
Owners: @msgmaxim, @albert-llimos

Reward and slashes of validators are shared with Delegators that are associated with their controlling Operator
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen, @Janislav

Added integration test for Reward distribution
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Added integration tests for Slashing validators
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

Fixed a broken integration test
  state-chain/cf-integration-tests/src/delegation.rs
Owners: @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
