Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

Using internal wrapper types far casting
  api/bin/chainflip-lp-api/src/main.rs
Owners: none

chore: remove 1.3 migrations
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/v3.rs
  state-chain/pallets/cf-cfe-interface/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v2.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-funding/src/migrations/v3.rs
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-governance/src/migrations/v2.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/btc_deposit_channels.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/remove_old_storage.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/set_dust_limit.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/schedule_swaps.rs
  state-chain/pallets/cf-threshold-signature/src/migrations.rs
  state-chain/pallets/cf-threshold-signature/src/migrations/v4.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations/v3.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/threshold_signature_refactor.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

fix: update some obvious gaps / inaccuracies in the main readmes
  README.md
  state-chain/README.md
Owners: @dandanlen

chore: remove 1.3 storage migrations (#4728)
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/v3.rs
  state-chain/pallets/cf-cfe-interface/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  state-chain/pallets/cf-chain-tracking/src/migrations/v2.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/usdt.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/migrations.rs
  state-chain/pallets/cf-funding/src/migrations/v3.rs
  state-chain/pallets/cf-governance/src/migrations.rs
  state-chain/pallets/cf-governance/src/migrations/v2.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/btc_deposit_channels.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/deposit_channels_with_boost_fee.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/remove_old_storage.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/set_dust_limit.rs
  state-chain/pallets/cf-lp/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/schedule_swaps.rs
  state-chain/pallets/cf-threshold-signature/src/migrations.rs
  state-chain/pallets/cf-threshold-signature/src/migrations/v4.rs
  state-chain/pallets/cf-tokenholder-governance/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations.rs
  state-chain/pallets/cf-vaults/src/migrations/v3.rs
  state-chain/runtime-upgrade-utilities/README.md
  state-chain/runtime-upgrade-utilities/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/threshold_signature_refactor.rs
  state-chain/runtime/src/migrations/vanity_names.rs
Owners: @dandanlen

Made changes backwards compatible
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
  utilities/src/with_std.rs
Owners: @dandanlen

Further simplified redemption check
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Minor improvements
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

Fixed benchmarking Slightly improved logging for migration
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/active_bidders.rs
Owners: @dandanlen

Emit an event when a witnessed call is deposited, and when nodes are being punished for failing to witness a call
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-witnesser/Cargo.toml
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
Owners: @dandanlen

SetAggKeyWithAggKey should not error to indicate that a transaction is not needed
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

Satisfied Clippy 🫦
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

Added CONTRIBUTING.md file
  CONTRIBUTING.md
Owners: none

Added CONTRIBUTING.md file (#4743)
  CONTRIBUTING.md
Owners: none

Added CONTRIBUTING.md file (#4743)
  CONTRIBUTING.md
Owners: none

chore: SetAggKeyWithAggKey should not error to indicate that a transaction is not needed (#4742)
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

fix: update some obvious gaps / inaccuracies in the main readmes (#4738)
  README.md
  state-chain/README.md
Owners: @dandanlen

chore: remove sp_runtime dep
  state-chain/pallets/cf-witnesser/Cargo.toml
  state-chain/pallets/cf-witnesser/src/lib.rs
Owners: @dandanlen

feat: emit event to help diagnose failed witnessing reports (#4741)
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
Owners: @dandanlen

feat: single binary CFE upgrades
  Cargo.lock
  Cargo.toml
  Makefile.toml
  api/lib/src/lib.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine-runner/build.rs
  engine-runner/src/main.rs
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
  engine/src/lib.rs
  engine/src/main.rs
  localnet/init/scripts/start-engine.sh
  localnet/manage.sh
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  utilities/src/with_std/logging.rs
Owners: @chainflip-io/platform, @dandanlen

chore: remove unnecessary print
  engine/src/lib.rs
Owners: none

production and release
  .cargo/config.toml
  Makefile.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
Owners: none

chore: use usize
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: update log messages
  engine-proc-macros/src/lib.rs
Owners: none

refactor: use separate dylib crate
  .cargo/config.toml
  Cargo.lock
  Makefile.toml
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine/Cargo.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
  engine/src/lib.rs
Owners: none

refactor: runner returns error
  Cargo.lock
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: RAII for CStrArray
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

remove into
  engine-upgrade-utils/src/lib.rs
Owners: none

refactor: factor out some ident construction
  engine-proc-macros/src/lib.rs
Owners: none

fix: linking
  .github/workflows/_10_test.yml
  engine-runner/build.rs
Owners: none

chore: use default for CStrArray
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: fully qualified names in macro
  utilities/src/with_std/logging.rs
Owners: none

usize
  engine-upgrade-utils/src/lib.rs
Owners: none

fix: use std c_char
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

path to old version
  .github/workflows/_20_build.yml
Owners: none

build improvements
  .github/workflows/_10_test.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  Cargo.lock
  Cargo.toml
  bouncer/commands/read_workspace_tomls.ts
  ci/docker/development/chainflip-engine.Dockerfile
  ci/docker/production/chainflip-engine.Dockerfile
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-runner/Cargo.toml
  engine-runner/build.rs
  engine-runner/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/build.rs
  engine/package/berghain/chainflip-engine.service
  engine/package/berghain/chainflip-engine1.4.service
  engine/package/perseverance/chainflip-engine.service
  engine/package/perseverance/chainflip-engine1.4.service
  engine/package/sisyphos/chainflip-engine.service
  engine/package/sisyphos/chainflip-engine1.4.service
  engine/src/lib.rs
  localnet/init/scripts/start-engine.sh
  utilities/Cargo.toml
  utilities/src/with_std/logging.rs
Owners: @martin-chainflip, @chainflip-io/platform

fix: migrate settings function
  engine-proc-macros/src/lib.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/src/lib.rs
Owners: none

chore: remove debug logging
  .github/workflows/_20_build.yml
Owners: none

chore: use null ptr instead of option
  engine-upgrade-utils/src/lib.rs
Owners: none

fix: tokio multithread
  engine/src/lib.rs
Owners: none

chore: remove unnecessary libc
  Cargo.lock
  engine-upgrade-utils/Cargo.toml
  engine/Cargo.toml
Owners: none
