Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

Fixed a broken integration test
  state-chain/cf-integration-tests/src/delegation.rs
Owners: @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
Owners: @Janislav, @dandanlen

Addressed some PR comments. Reverted FlipSlasher. Renamed the new FlipSlasher to DelegatorSlasher Reverted Reward and slashing events
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @Janislav

Rebased onto the latest main. In integration tests, use existing extrinsics to setup delegators Moved flip delegator slasher into the Validator pallet
  Cargo.lock
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/node_rewards.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/flip_slasher.rs
Owners: @dandanlen

separated delegator and non-delegator logic
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

added script to track ongoing elections
  api/bin/chainflip-elections-tracker/README.md
  api/bin/chainflip-elections-tracker/src/bin/script.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

lint & fmt
  api/bin/chainflip-elections-tracker/src/bin/script.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
Owners: @nmammeri, @MxmUrw, @marcellorigotti

chore: process all events in a block in parallel
  engine/src/witness/btc/deposits.rs
  engine/src/witness/eth/state_chain_gateway.rs
  engine/src/witness/evm/key_manager.rs
  engine/src/witness/evm/vault.rs
Owners: @msgmaxim, @albert-llimos

fix: expose cancel_all_pool_orders as part of a trait instead of an extrinsic
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @martin-chainflip, @msgmaxim

test: expand test case, refactor to allow for more test coverage.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/proptest-regressions/electoral_systems/oracle_price/state_machine.txt
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
  state-chain/pallets/cf-elections/src/generic_tools/common_traits.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: rename `FractionImpl` to `Fraction`.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: use `mul_dif_floor_checked` instead of unchecked.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/chainlink.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

chore: rename `eth_contract_address` to `eth_address_checker`.
  engine/src/witness/generic_elections.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @dandanlen

Fixed broken tests
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/pallets/cf-validator/Cargo.toml
Owners: @dandanlen

chore: extra logging
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: cli validator commands for operator acceptance/removal (#6008)
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
Owners: @nmammeri

log assethub events in case of CI failures
  .github/workflows/_40_post_check.yml
Owners: @chainflip-io/platform

test: first comprehensive manual test ensuring that we schedule the correct elections.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

chore: extract common code.
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

chore: more common code extraction.
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

test: check that we handle missing assets and different timestamps correctly.
  state-chain/pallets/cf-elections/src/electoral_systems/tests/oracle_price.rs
Owners: @MxmUrw, @marcellorigotti

feat: added role operator feat: check associations before we unregister and remove storage
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: restrict delegation to none validator
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: support change of delegations
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: remove delegator if it gets blocked
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: get_all_validators_by_operator function
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: made clippy happy
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: Renamed ManagedDelegations
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: added check for associated delegators
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: renaming
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

refactor: add/block validator
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: added settings in extrinsic for account creation
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: fixed bug in benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

fix: fixed benchmarks and tests
  api/bin/chainflip-cli/src/settings.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @nmammeri, @dandanlen

chore: removed RegisterAccountRole
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
Owners: @nmammeri

chore: adjusted bps
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

chore: fixed clippy
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: replaced expect message
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: renamed event name + fixed tests
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen
