Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

fix: max encoded len
  state-chain/chains/src/btc.rs
Owners: @dandanlen

call function
  bouncer/commands/setup_vaults.ts
Owners: @martin-chainflip

chore: removed broker from tainted tx struct
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: Only clone owner
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: tweaks
  state-chain/chains/src/arb.rs
  state-chain/chains/src/eth.rs
Owners: @dandanlen

chore: Moved tx tainted check
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: start implementing arbitrum gas calculations
  engine/src/witness/arb/chain_tracking.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/evm/api.rs
  state-chain/chains/src/evm/api/execute_x_swap_and_call.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/mocks/tracked_data_provider.rs
Owners: @kylezs, @dandanlen

chore: fix clippy
  engine/src/witness/arb/chain_tracking.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/arb/benchmarking.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/sol.rs
  state-chain/node/src/chain_spec.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/decompose_recompose.rs
Owners: @kylezs, @dandanlen

feat: BTC contract swap encoding (#5311)
  engine/src/witness/btc.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @kylezs, @dandanlen

Added storage migration for Environment pallet.
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/sol_api_environment.rs
Owners: @dandanlen

Corrected Migration in Runtime.
  Cargo.lock
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @dandanlen

chore: more tweaks and fixes
  state-chain/chains/src/arb.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/runtime/src/chainflip/decompose_recompose.rs
Owners: @dandanlen

fix: keyholder check should use `HistoricalActiveEpochs` (#5325)
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

test(bouncer): add test for new utility (#5324)
  bouncer/commands/run_test.ts
  bouncer/commands/setup_vaults.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/polkadot_utils.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
  bouncer/tsconfig.json
Owners: @martin-chainflip

feat: solana open/close contract swap accounts
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: first commit ccm_fees
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-chain-tracking/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/chain_tracking.rs
Owners: @dandanlen

feature: Added migration for DepositChannelLookup
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
Owners: @dandanlen

feat: initiate contract swap
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

Add rpc method for querying open btc addresses to broker API.
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/queries.rs
Owners: none

refactor: Changed data structure + fixed migrations
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

Call SolanaBroadcaster::egress_success() regardless of if call execution was successful. This ensures call data are cleared in the broadcaster pallet.
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix: don't exit if we can't remove a file that already doesn't exist
  localnet/common.sh
Owners: @chainflip-io/platform

feat: broker can encode btc smart contract call
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @kylezs, @dandanlen

chore: take them as egress fees instead
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/traits/src/swapping.rs
Owners: @dandanlen

chore: Handle LP refund address as requirement
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @kylezs, @dandanlen

feat: minimum chunk size setting (#5314)
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
Owners: @dandanlen

chore: version bumps & changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

fix: move variant
  state-chain/pallets/cf-vaults/src/lib.rs
Owners: @dandanlen

chore: Made clippy happy 🙂
  engine/src/witness/btc/deposits.rs
Owners: @kylezs

feat: handle rotation tx construction failures (#5307)
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

chore: don't manipulate storage in place in iteration 🙅‍♂️
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

ci(upgrade test): fix artefact extraction (round 2) 🐛 (#5295)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: more changes
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/egress_handler.rs
  state-chain/traits/src/mocks/swap_request_api.rs
  state-chain/traits/src/swapping.rs
Owners: @dandanlen

ci: upgrade action version to supress deprecation warnings ⚙️
  .github/workflows/_03_release_checks.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: root origin for contract_swap_request
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

ci: upgrade action version to supress deprecation warnings ⚙️ (#5330)
  .github/workflows/_03_release_checks.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: address comment
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

test: Added migration test 🧪
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
Owners: @dandanlen

chore: changed pallet storage version 📀
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
Owners: @dandanlen

chore: bumped pallet storage version (again)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
