Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

remove some selfs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

remove selfs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: cf_dynamic_events rpc
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/dynamic_events.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/service.rs
  utilities/src/with_std/dynamic_events.rs
Owners: @dandanlen

remove selfs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

remove selfs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: restore timeout
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

remove storage access from on_finalize
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

compiles, no translator
  state-chain/pallets/cf-elections/macro-expand.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: add intial scale encoding for cfParameters
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/swapping.ts
  engine/src/witness/arb.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/traits/src/mocks/api_call.rs
  state-chain/traits/src/mocks/egress_handler.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: use node version from `.nvmrc` 📌
  .github/workflows/_01_pre_check.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

remove the translators
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

delete Translator
  state-chain/pallets/cf-elections/macro-expand.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

restore
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

feat: expose deposit transaction hash from ingress-egress-tracker (#5320)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-2.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-3.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-4.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
Owners: @chainflip-io/web

remove storage
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

remove default hooks
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

remove expansion
  state-chain/pallets/cf-elections/macro-expand.rs
Owners: @dandanlen

clean up
  engine/src/state_chain_observer/client/electoral_api.rs
  state-chain/pallets/cf-elections/all-but-macro-def
  state-chain/pallets/cf-elections/all-but-macro-def.rs
Owners: @dandanlen

feature: Added handling of boost channels
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

include slot in the change electoral system
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

use new VoteStorage
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/nonce.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

add missing import
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
Owners: @dandanlen

cargo fmt
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/vote_storage/nonce.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

update tests
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/nonce_witnessing.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

prevent upgrade if we are using a nonce
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

fix check_consensus
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/nonce_witnessing.rs
Owners: @dandanlen

remove comment
  state-chain/pallets/cf-elections/src/electoral_systems/nonce_wintessing.rs
Owners: @dandanlen

address comments: - keep everything generalized
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @kylezs, @dandanlen

use SharedDataHash for partialVote
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
Owners: @dandanlen

missing imports
  engine/src/witness/sol.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

fix
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

fix
  Cargo.lock
Owners: none

WIP: migrations
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fmt
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

inline code
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
Owners: @dandanlen

addressed comments
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @kylezs, @dandanlen

WIP2
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix test
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
Owners: @dandanlen

WIP3
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

WIP3: add logs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
