Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

fixed unit tests in Funding pallet
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
Owners: @Janislav, @dandanlen

fix: boost details rpc incorporates network fee deduction
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/tests.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

feat: execute sc call via ethereum
  state-chain/chains/src/eth.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

fix: boost details rpc incorporates network fee deduction (#6002)
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/tests.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

feat: core chp
  Cargo.lock
  state-chain/amm-math/src/lib.rs
  state-chain/pallets/cf-lending-pools/Cargo.toml
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending/chp_lending_tests.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/mocks.rs
  state-chain/pallets/cf-lending-pools/src/tests.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lending.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/lending_pools.rs
  state-chain/traits/src/mocks/swap_request_api.rs
  state-chain/traits/src/swapping.rs
Owners: @dandanlen, @martin-chainflip, @msgmaxim, @j4m1ef0rd

feat: address review
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending/chp_lending_tests.rs
  state-chain/pallets/cf-lending-pools/src/core_lending_pool.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/traits/src/lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

refactor: remove is_principal_repayment param
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: pass chp config as parameter
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: add benchmarking for the chp pallet (#5942)
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: fix snaphot
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__runtime_safe_mode_serialization.snap
Owners: @chainflip-io/web, @nmammeri

fix: boost details rpc incorporates network fee deduction (#6002)
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/tests.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

fix: preserve claims when accepting
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

add btc_election migration
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fmt & clippy
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @dandanlen

feat: Add migration for btc election (#6004)
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: revert upgrade flag
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: version bumps and changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @nmammeri, @dandanlen

fix: boost details rpc incorporates network fee deduction (#6002)
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/tests.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: version bumps and changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @nmammeri, @dandanlen

feat: add min bid to RPCs (#5998)
  state-chain/custom-rpc/src/backend.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__auction_state_serialization.snap
  state-chain/custom-rpc/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: update EVM & SOL images
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/commands/force_sol_nonces.ts
  bouncer/commands/set_sol_alt.ts
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/solana_vault_settings_governance.ts
  contract-interfaces/eth-contract-abis/v1.3.1/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.1/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.1/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.1/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.1/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.1/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.1/IVault.json
  contract-interfaces/sol-program-idls/v1.2.3/alt_manager.json
  contract-interfaces/sol-program-idls/v1.2.3/cf_tester.json
  contract-interfaces/sol-program-idls/v1.2.3/cf_tester.ts
  contract-interfaces/sol-program-idls/v1.2.3/oracle_query_helper.json
  contract-interfaces/sol-program-idls/v1.2.3/oracle_query_helper.ts
  contract-interfaces/sol-program-idls/v1.2.3/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.2.3/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.2.3/vault.json
  contract-interfaces/sol-program-idls/v1.2.3/vault.ts
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/testnet.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

chore: add bouncer support for new feeds
  bouncer/shared/update_price_feed.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

fix: changelog version
  CHANGELOG.md
Owners: none

chore: benchmark governance calls (#5968)
  state-chain/chains/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-environment/src/benchmarking.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-vaults/src/benchmarking.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @ramizhasan111

fix: fix benchmark
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-flip/src/lib.rs
Owners: @dandanlen

chore: reorganise/rename things:
  Cargo.lock
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

fix: benchmark test
  state-chain/pallets/cf-account-roles/src/mock.rs
Owners: @dandanlen

chore: clippy
  state-chain/pallets/cf-account-roles/src/mock.rs
Owners: @dandanlen

chore: update EVM & SOL images (#6005)
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/commands/force_sol_nonces.ts
  bouncer/commands/set_sol_alt.ts
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/update_price_feed.ts
  bouncer/shared/utils.ts
  bouncer/tests/solana_vault_settings_governance.ts
  contract-interfaces/eth-contract-abis/v1.3.1/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.1/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.1/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.1/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.1/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.1/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.1/IVault.json
  contract-interfaces/sol-program-idls/v1.2.3/alt_manager.json
  contract-interfaces/sol-program-idls/v1.2.3/cf_tester.json
  contract-interfaces/sol-program-idls/v1.2.3/cf_tester.ts
  contract-interfaces/sol-program-idls/v1.2.3/oracle_query_helper.json
  contract-interfaces/sol-program-idls/v1.2.3/oracle_query_helper.ts
  contract-interfaces/sol-program-idls/v1.2.3/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.2.3/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.2.3/vault.json
  contract-interfaces/sol-program-idls/v1.2.3/vault.ts
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/testnet.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

feat: operator role + management extrinsic (#5986)
  Cargo.lock
  api/lib/src/lib.rs
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/housekeeping/reap_old_accounts.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
Owners: @nmammeri, @chainflip-io/web, @dandanlen

chore: update image to v1.3.1 like main, updating SC_UTILS address
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  localnet/docker-compose.yml
Owners: @chainflip-io/platform, @martin-chainflip

chore: update to v1.3.2
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  localnet/docker-compose.yml
Owners: @chainflip-io/platform, @martin-chainflip

feat: initial implementation of oracle price elections
  Cargo.lock
  Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/cf-node-client/Cargo.toml
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness.rs
  engine/src/witness/generic_elections.rs
  engine/src/witness/sol.rs
  engine/src/witness/start.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
  state-chain/pallets/cf-elections/src/vote_storage/individual.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @nmammeri, @dandanlen, @chainflip-io/web, @MxmUrw, @marcellorigotti

feat: compute vote in oracle price voter.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: use correct solana addresses.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: add electoral settings for solana program addresses.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: bouncer oracle price submission (#5983)
  bouncer/shared/update_price_feed.ts
Owners: @martin-chainflip

chore: small cosmetic changes.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: add querying Ethereum for prices.
  engine/src/witness/generic_elections.rs
  engine/src/witness/sol/oracle_witnessing.rs
  engine/src/witness/start.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @albert-llimos, @MxmUrw, @marcellorigotti, @dandanlen

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
