Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

fix: use correct solana addresses.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: bouncer boost tests improved diagnostics (#5967)
  bouncer/tests/boost.ts
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

fix: Fix polkadot.js decoding by attaching the BWName to typeinfo of various BW structs.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: fix clippy / compilation of tests.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
Owners: @MxmUrw, @marcellorigotti

Address a PR comment - fixed error detection for refund CCM with ALTs
  state-chain/chains/src/ccm_checker.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fixed benchmarking for broadcaster
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
Owners: @ramizhasan111, @dandanlen

chore: docs
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

feat: bouncer smaller timeouts and fixes
  bouncer/commands/run_test.ts
  bouncer/fast_bouncer.sh
  bouncer/full_bouncer.sh
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/get_hub_balance.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/test_commands/all_cuncurrent_tests.sh
  bouncer/tests/all_swaps.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/fast_bouncer.test.ts
  bouncer/tests/full_bouncer.test.ts
  bouncer/tests/lp_api_test.ts
  bouncer/tests/vault_swap_tests.ts
Owners: @martin-chainflip

feat: compute vote in oracle price voter.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: instead of waiting for the swap promise, and then waiting for the balance to increase, we do both in parallel.
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: Fix polkadot.js decoding for various bitcoin election types (#5972)
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

Make Missing TSS key log as error
  engine/multisig/src/client.rs
  engine/multisig/src/client/common/failure_reason.rs
  engine/multisig/src/client/multisig_client_tests.rs
Owners: @msgmaxim

fixes: - don't wait for btc confirmations when sending btc vault vault swap - always check historical blocks when calling `observeSwapRequested`
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: Make Missing TSS key log as error (#5975)
  engine/multisig/src/client.rs
  engine/multisig/src/client/common/failure_reason.rs
  engine/multisig/src/client/multisig_client_tests.rs
Owners: @msgmaxim

fix: parallelize waiting for promises in AssethubXcm test (#5974)
  bouncer/tests/assethub_xcm.ts
Owners: @martin-chainflip

fix: Fix polkadot.js decoding for various bitcoin election types (#5972)
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: Fix polkadot.js decoding for various bitcoin election types (#5972)
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: add electoral settings for solana program addresses.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: cleanup and bump
  .github/workflows/upgrade-test.yml
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/oracle_query_environment.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-pools/src/migrations/scheduled_limit_order_updates.rs
  state-chain/pallets/cf-swapping/src/migrations.rs
  state-chain/pallets/cf-swapping/src/migrations/network_fee_migration.rs
  state-chain/pallets/cf-swapping/src/migrations/swap_request_migration.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
  state-chain/runtime/src/migrations/btc_elections_migrations.rs
  state-chain/runtime/src/migrations/safe_mode.rs
  state-chain/runtime/src/migrations/solana_vault_swaps_migration.rs
Owners: @chainflip-io/platform, @nmammeri, @dandanlen, @martin-chainflip, @msgmaxim, @j4m1ef0rd

[AUTOMATED] Benchmarking results.
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-trading-strategy/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @martin-chainflip, @msgmaxim, @j4m1ef0rd

chore: add migration
  .github/workflows/upgrade-test.yml
  bouncer/tests/delegate_flip.ts
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/migrations.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
  state-chain/pallets/cf-environment/src/migrations/oracle_query_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @dandanlen

chore: remove updgrade SOL utils
  bouncer/commands/force_sol_nonces.ts
  bouncer/commands/set_sol_alt.ts
Owners: @martin-chainflip

feat: execute sc call via ethereum
  state-chain/chains/src/eth.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

merge boost migrations for bitcoin_ingress_egress
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @dandanlen

chore: add comments
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @dandanlen

chore: increase timeouts for observing some events
  bouncer/shared/deposit_liquidity.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

fix: bouncer oracle price submission
  .github/workflows/upgrade-test.yml
  bouncer/shared/update_price_feed.ts
Owners: @chainflip-io/platform, @martin-chainflip

chore: address PR comments
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

fix: bouncer oracle price submission (#5983)
  .github/workflows/upgrade-test.yml
  bouncer/shared/update_price_feed.ts
Owners: @chainflip-io/platform, @martin-chainflip

chore: small cosmetic changes.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

merge boost migrations for bitcoin_ingress_egress
  state-chain/pallets/cf-ingress-egress/src/migrations/ccm_add_data_to_decoded.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @dandanlen

chore: add comments
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/runtime/src/migrations/boost_refactor.rs
Owners: @dandanlen

fix: increase fee tracking window to 5 blocks
  engine/src/witness/eth/chain_tracking.rs
Owners: @albert-llimos

fix: skip elections setup if pallet not found
  bouncer/shared/setup_elections.ts
Owners: @martin-chainflip

fix: reduce some more potential race conditions in bouncer (#5976)
  bouncer/shared/btc_vault_swap.ts
  bouncer/shared/utils.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fix: skip elections setup if pallet not found (#5985)
  bouncer/shared/setup_elections.ts
Owners: @martin-chainflip

fix troubleshooting doc
  state-chain/TROUBLESHOOTING.md
Owners: @dandanlen

[AUTOMATED] Benchmarking results.
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-trading-strategy/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @martin-chainflip, @msgmaxim, @j4m1ef0rd

chore: [AUTOMATED] Benchmark results (#5978)
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-asset-balances/src/weights.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-cfe-interface/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-elections/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-trading-strategy/src/weights.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
Owners: @dandanlen, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @martin-chainflip, @msgmaxim, @j4m1ef0rd

feat: add querying Ethereum for prices.
  engine/src/witness/generic_elections.rs
  engine/src/witness/sol/oracle_witnessing.rs
  engine/src/witness/start.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @albert-llimos, @MxmUrw, @marcellorigotti, @dandanlen
