Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

refactor: better data types for price oracle state.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

refactor: remove query from election state, it is now derivable.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: cleaning up.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

fix: use `request_with_limit` for querying chainlink prices.
  engine/src/evm/retry_rpc/address_checker.rs
  engine/src/sol/retry_rpc.rs
  engine/src/witness/generic_elections.rs
  engine/src/witness/sol/oracle_witnessing.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/voter.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
Owners: @albert-llimos, @MxmUrw, @marcellorigotti

chore: fix warnings.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

test: instantiate state machine proptesting for oracle prices.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
Owners: @MxmUrw, @marcellorigotti

refactor: rename.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

wip: feat: add method for getting current prices in statechain format from the ES state.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: use Fraction prices throughout price elections.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

wip: adding price conversion tools.
  Cargo.lock
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: use correct number of decimals for chainlink price type.
  engine/src/witness/generic_elections.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: added role operator feat: check associations before we unregister and remove storage
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

fix: liveness ES to use SC block number (#5996)
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: restrict delegation to none validator
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

fix
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

chore: support change of delegations
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: cli validator commands for operator acceptance/removal:
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
Owners: @nmammeri

chore: update eth contract-interfaces to v1.3.2
  contract-interfaces/eth-contract-abis/v1.3.2/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.2/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.2/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.2/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.2/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.2/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.2/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.2/IVault.json
Owners: @albert-llimos

feat: add chainspec + migration configuration of `ChainlinkOraclePriceSettings`.
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @dandanlen

fixes:
  api/bin/chainflip-elections-tracker/src/elections.rs
Owners: @nmammeri

chore: insert addresses
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @dandanlen

chore: insert addresses (#6009)
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/runtime/src/migrations/generic_elections.rs
Owners: @dandanlen

chore: better names + query backup chain already when in `MaybeStale` state.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: remove delegator if it gets blocked
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

tmp election script
  bouncer/commands/elections_inspection.ts
  bouncer/shared/utils/substrate.ts
Owners: @martin-chainflip

revert filter to 4 and 2 key len
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

feat: sc calls
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/eth.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @albert-llimos, @dandanlen, @Janislav

chore: mminor
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/traits/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

chore: insert deployed contract's addresses
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @dandanlen

Addressed some PR comments. Reverted FlipSlasher. Renamed the new FlipSlasher to DelegatorSlasher Reverted Reward and slashing events
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/runtime/src/chainflip/node_rewards_and_slashing.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen, @Janislav

chore: made clippy happy
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: Renamed ManagedDelegations
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

feat: add btc elections to the election-tracker (#6007)
  api/bin/chainflip-elections-tracker/src/elections.rs
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

feat: add functor/transformation pattern to deal with vectors not being allowed in const vars.
  Cargo.lock
  state-chain/node/Cargo.toml
  state-chain/node/src/chain_spec.rs
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/generic_tools/common_traits.rs
  state-chain/pallets/cf-elections/src/generic_tools/derive_macros.rs
  state-chain/pallets/cf-elections/src/generic_tools/functor.rs
  state-chain/pallets/cf-elections/src/generic_tools/mod.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @dandanlen, @ramizhasan111, @MxmUrw, @marcellorigotti

fix: use correct settings when initializing oracle price elections.
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @dandanlen

fix: ensure correct lifecycle tracking of sub-accounts (#5994)
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

chore: insert Sc Utils addresses and image (#6010)
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  contract-interfaces/eth-contract-abis/v1.3.2/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.2/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.2/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.2/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.2/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.2/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.2/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.2/IVault.json
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

try with rust
  api/bin/chainflip-elections-tracker/src/main.rs
Owners: @nmammeri

feat: added extrinsic to cancel all pool positions
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: get_all_validators_by_operator function
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen
