Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

chore: fixups after merge of main.
  Cargo.lock
  Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine_es.rs
Owners: @MxmUrw, @marcellorigotti

refactor: addressed comments
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

refactor: Moved account derive into account roles pallet
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen, @Janislav

chore: removed event
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @Janislav, @dandanlen

feat: sketch of OP statemachine complete.
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/common_imports.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/core.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/state_machine.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: address review
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

Added benchmarking for the chp pallet
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

Added benchmarking for the upkeep hook
  state-chain/pallets/cf-lending-pools/Cargo.toml
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

Rebased onto the latest chp feature branch
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

Removed default benchamrking feature
  state-chain/pallets/cf-lending-pools/Cargo.toml
Owners: @martin-chainflip, @dandanlen, @msgmaxim

fixes: - don't warn if boost fails. - use `<` instead of `<=` when checking whether headers should be submitted to the BHW. - request headers for BHW in parallel instead of sequentially.
  engine/src/witness/btc.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: add comments wrt no validity checking in `MultipleVotes` consensus.
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/consensus.rs
Owners: @MxmUrw, @marcellorigotti

chore: update bouncer packages & lockfile.
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

delete outdate commented out tests
  state-chain/runtime/src/chainflip/bitcoin_block_processor.rs
Owners: @dandanlen

remove unnecessary clone
  engine/src/lib.rs
Owners: none

chore: remove unused `Step` struct.
  state-chain/chains/src/lib.rs
Owners: @dandanlen

chore: reverted node RUST_LOG parameters.
  localnet/init/scripts/start-node.sh
Owners: @chainflip-io/platform

chore: improve comment for `proptest` dependency.
  state-chain/chains/Cargo.toml
Owners: @dandanlen

feat: `safety_buffer` is now configurable for BHW and BW.
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: revert namechange.
  engine/src/witness/btc.rs
Owners: none

chore: delete commented code.
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
Owners: @MxmUrw, @marcellorigotti

chore: update comment.
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
Owners: @MxmUrw, @marcellorigotti

chore: update comment.
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
Owners: @MxmUrw, @marcellorigotti

feat: make safety buffer configurable (#5960)
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

fix: don't `expect` in btc witness source.
  engine/src/witness/btc/source.rs
Owners: @msgmaxim

Added separate benchmarking for charging interest, liquidation and topup
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

Simplified benchmarking for the upkeep function
  state-chain/pallets/cf-lending-pools/src/benchmarking.rs
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
  state-chain/pallets/cf-lending-pools/src/weights.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

feat: chp integration test
  Cargo.lock
  state-chain/cf-integration-tests/Cargo.toml
  state-chain/cf-integration-tests/src/lending.rs
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/pallets/cf-lending-pools/src/lib.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen, @martin-chainflip, @msgmaxim

chore: pass chp config as parameter
  state-chain/pallets/cf-lending-pools/src/chp_lending.rs
Owners: @martin-chainflip, @dandanlen, @msgmaxim

chore: delete outdated commented-out tests (#5958)
  engine/src/lib.rs
  state-chain/runtime/src/chainflip/bitcoin_block_processor.rs
Owners: @dandanlen

fix: emit `ChainStateUpdated` event if new blockheight is witnessed.
  state-chain/pallets/cf-chain-tracking/src/lib.rs
Owners: @dandanlen

chore: bitcoin elections fixes after review (#5957)
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  engine/src/witness/btc.rs
  engine/src/witness/btc/source.rs
  localnet/init/scripts/start-node.sh
  state-chain/chains/Cargo.toml
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-chain-tracking/src/lib.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/state_machine/consensus.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
Owners: @martin-chainflip, @msgmaxim, @chainflip-io/platform, @dandanlen, @MxmUrw, @marcellorigotti

chore: added storage items
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: added basic extrinsic structure
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

address comments
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

remove commented out code
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
Owners: @MxmUrw, @marcellorigotti

emit event when a reorg is detected
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/migrations/btc_elections_migrations.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

renaming
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

feat: emit event when a reorg is detected (#5959)
  engine/src/witness/btc.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_height_witnesser/state_machine.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/block_processor.rs
  state-chain/pallets/cf-elections/src/electoral_systems/block_witnesser/primitives.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/block_height_witnesser.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/statemachine_witnessing_pipeline.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/btc_elections_migrations.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

sort before submitting vote
  engine/src/witness/btc/deposits.rs
Owners: @msgmaxim

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
