Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: fixed linter
  bouncer/tests/broker_fee_collection.ts
Owners: @martin-chainflip

fix: rename ccmMetadata field on contract swap
  bouncer/shared/contract_swap.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

chore: upgrade action to latest version
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_25_package.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: changed interface of withhold_assets
  bouncer/tests/broker_fee_collection.ts
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/primitives/src/accounting.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/asset_withholding.rs
Owners: @martin-chainflip, @dandanlen

ci(upgrade test): fix artefact extraction 🐛 (#5293)
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_25_package.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

ci(upgrade test): fix artefact extraction (round 2) 🐛
  .github/workflows/ci-development.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

Print redemption amount based on `atomic_amount`.
  api/bin/chainflip-cli/src/main.rs
Owners: none

chore: removed nasty unwrap
  state-chain/pallets/cf-asset-balances/src/lib.rs
Owners: @dandanlen

chore: removed not needed handling by ref
  state-chain/cf-integration-tests/src/swapping.rs
Owners: @dandanlen

chore: try to unwrap the amount
  bouncer/tests/broker_fee_collection.ts
Owners: @martin-chainflip

Use `bigdecimal` crate instead of hand-rolled display method.
  Cargo.lock
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-cli/src/main.rs
Owners: none

chore: added get_free_balance function
  bouncer/shared/get_free_balance.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

chore: fixed linter
  bouncer/tests/broker_fee_collection.ts
Owners: @martin-chainflip

chore: fixed eslint
  bouncer/shared/get_free_balance.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/lp_api_test.ts
Owners: @martin-chainflip

chore: fixed prettier (again)
  bouncer/shared/get_free_balance.ts
Owners: @martin-chainflip

fix: migrate earned broker fees
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/migrations.rs
  state-chain/pallets/cf-asset-balances/src/migrations/v1.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: bump runtime version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: sol deposit migration
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: version bumps and changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

fix: remove expired sol channels
  CHANGELOG.md
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

WIP: First attempt at `update_pallet_config()` for threshold signature pallet.
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
Owners: @dandanlen

Fix more clippy, always send UpdatePalletConfig event.
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
Owners: @dandanlen

refactor: Removed copy/clone from AssetBalance.
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/tests.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/primitives/src/accounting.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/asset_withholding.rs
  state-chain/traits/src/mocks/liability_tracker.rs
Owners: @dandanlen

Make `PalletConfigUpdate` not depend on <T,I>.
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/tests.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
Owners: @dandanlen

bump package
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

Remove last commented code.
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
Owners: @dandanlen

Remove comments (noted in review).
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

fix build
  bouncer/commands/new_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

Move constant back into function.
  api/bin/chainflip-cli/src/main.rs
Owners: none

fix: remove expired sol channels
  CHANGELOG.md
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: version bumps and changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

fix: bump runtime version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: sol deposit migration
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: migrate earned broker fees
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/migrations.rs
  state-chain/pallets/cf-asset-balances/src/migrations/v1.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: turn upgrade test back off
  .github/workflows/ci-development.yml
Owners: none

refactor: AssetBalance type and add docs
  Cargo.lock
  state-chain/pallets/cf-asset-balances/src/lib.rs
  state-chain/pallets/cf-asset-balances/src/tests.rs
  state-chain/primitives/Cargo.toml
  state-chain/primitives/src/accounting.rs
Owners: @dandanlen

chore: removed getEarnedBrokerFees function
  bouncer/tests/broker_fee_collection.ts
Owners: @martin-chainflip

chore: remove panic test to debug pipeline
  state-chain/primitives/src/accounting.rs
Owners: @dandanlen

WIP: Implementing function for calling elliptic.
  Cargo.lock
  Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/Cargo.toml
  api/bin/chainflip-btc-deposit-monitor/build.rs
  api/bin/chainflip-btc-deposit-monitor/src/main.rs
Owners: none

chore: fix closing of unused deposit channels
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
