Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: remove unneeded allow(dead_code)
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

chore: remove allow(unreachable_patterns)
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/pallets/cf-elections/src/vote_storage/composite.rs
Owners: @dandanlen

kinda almost compiling??
  c-out.txt
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: cleanup
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

feat: minimum chunk size setting (#5314)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: adjust comment
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

chore: fmt
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
Owners: @dandanlen

chore: remove unused test field
  state-chain/cf-integration-tests/src/network.rs
Owners: @dandanlen

feat: use test defaults for runtime mocks
  state-chain/pallets/cf-account-roles/src/mock.rs
  state-chain/pallets/cf-asset-balances/src/mock.rs
  state-chain/pallets/cf-broadcast/src/mock.rs
  state-chain/pallets/cf-chain-tracking/src/mock.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-governance/src/mock.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-lp/src/mock.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-threshold-signature/src/mock.rs
  state-chain/pallets/cf-tokenholder-governance/src/mock.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-witnesser/src/mock.rs
  state-chain/runtime/src/chainflip/missed_authorship_slots.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

fix: remove old fix for Executive
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: remove unused input_to_output_amount_floor
  state-chain/amm/src/common.rs
Owners: @dandanlen

compiles
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
Owners: none

chore: fmt
  engine/src/witness/sol/sol_deposits.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
Owners: @kylezs, @dandanlen

compiles
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

fix: increase init timeout for backup test (#5317)
  engine/src/retrier.rs
Owners: @kylezs

electoral data compiles
  engine/src/elections.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

composite check consensus compiles
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

wip
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
Owners: @dandanlen

docs: fix log filtering in readme
  README.md
Owners: none

feat: expose deposit transaction hash from ingress-egress-tracker [WEB-1511]
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
Owners: @chainflip-io/web

chore: first commit adding ChainGas
  state-chain/chains/src/any.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm/api.rs
  state-chain/chains/src/evm/api/execute_x_swap_and_call.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

chore: fix small issues
  state-chain/chains/src/evm/api/execute_x_swap_and_call.rs
  state-chain/chains/src/sol/transaction_builder.rs
Owners: @dandanlen

fix: code coverage tests compiler error
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
Owners: @dandanlen

feat: cleanup aborted broadcasts (#5301)
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/runtime/src/migrations/housekeeping.rs
Owners: @dandanlen

chore: Added POC for BTC swap rejecting.
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

wip
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
Owners: @dandanlen

chore clarify comments
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
Owners: @dandanlen

fix: address review
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @kylezs, @dandanlen

Added integration test for CCM fallback mechanism.
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/sol/sol_tx_core.rs
Owners: @dandanlen

feat: custom encoding for UtxoEncodedData
  state-chain/chains/src/btc/smart_contract_encoding.rs
Owners: @dandanlen

chore: assert on encoding + clippy fixes
  engine/src/lib.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/chains/src/btc/smart_contract_encoding.rs
  state-chain/chains/src/lib.rs
Owners: @kylezs, @dandanlen

pick: chore: add egress fee for token account rent #5315
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

docs: fix log filtering in readme (#5319)
  README.md
Owners: none

chore: add sol min_prio_fee to ingress and egress estimation
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: nit
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: refactor into calculate_gas_fee
  state-chain/chains/src/sol.rs
Owners: @dandanlen

pick: chore: add egress fee for token account rent #5315
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: add doc comment
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: refactor into the struct
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: add sol min_prio_fee to ingress and egress estimation (#5323)
  state-chain/chains/src/sol.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
