Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

fix: PRO-1330 - Move Location::panic() to inside the function, so it outputs the caller of the fn and not of the async block poll fn.
  utilities/src/with_std/spmc.rs
Owners: none

add brokerFee struct
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/Cargo.toml
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/deposit_handler.rs
  state-chain/traits/src/mocks/swap_deposit_handler.rs
Owners: @dandanlen

Moved collecting positions for limit orders
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/tests.rs
  state-chain/pallets/cf-pools/src/lib.rs
Owners: @dandanlen

fix: PRO-1330 - Move Location::panic() to inside the function, so it outputs the caller of the fn and not of the async block poll fn. (#4769)
  utilities/src/with_std/spmc.rs
Owners: none

fix: setup arb vault separately
  bouncer/commands/setup_arb_vault.ts
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/upgrade_network.ts
Owners: @martin-chainflip, @kylezs

chore: refactor common logic
  bouncer/commands/setup_vaults.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/setup_arb_vault.ts
Owners: @martin-chainflip

chore: correctly order logs
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: small improvements
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: add arb encoded address
  bouncer/shared/utils.ts
Owners: @martin-chainflip

fix: remove premature disconnect
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/submit_runtime_upgrade.ts
Owners: @martin-chainflip

fix: update suspensions so rotation can go through
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: fmt
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: fmt
  bouncer/shared/utils.ts
Owners: @martin-chainflip

fix: don't use ubuntu version in name
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: shorter setup swaps timeout
  bouncer/commands/setup_swaps.ts
Owners: @martin-chainflip

fix: correct contract addresses
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @dandanlen

local arb test
  bouncer/shared/upgrade_network.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/chain_source/shared.rs
  utilities/src/with_std/spmc.rs
Owners: @kylezs, @AlastairHolmes

fmt
  engine/src/witness/common/chain_source/shared.rs
Owners: @kylezs, @AlastairHolmes

chore: restore upgrade test to run try-runtime
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

fix: setup swaps after upgrade to 1.4
  bouncer/commands/setup_swaps.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/upgrade_network.ts
Owners: @martin-chainflip, @kylezs

fix: run setup swaps after broker starts
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

feat: cf_boost_pools_depth rpc
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

Refactored collect_map_in_range to avoid memory allocation
  state-chain/amm/src/lib.rs
  state-chain/amm/src/limit_orders.rs
  state-chain/amm/src/range_orders.rs
  state-chain/amm/src/tests.rs
Owners: @dandanlen

update structs and event
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks/deposit_handler.rs
  state-chain/traits/src/mocks/swap_deposit_handler.rs
Owners: @dandanlen

fix: arb vault rotation migration (#4770)
  .github/workflows/upgrade-test.yml
  bouncer/commands/setup_arb_vault.ts
  bouncer/commands/setup_swaps.ts
  bouncer/commands/setup_vaults.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/setup_arb_vault.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/submit_runtime_upgrade.ts
  bouncer/shared/upgrade_network.ts
  bouncer/shared/utils.ts
  engine/src/witness/arb.rs
  engine/src/witness/common/chain_source/shared.rs
  state-chain/runtime/src/migrations/arbitrum_integration.rs
  utilities/src/with_std/spmc.rs
Owners: @kylezs, @martin-chainflip, @AlastairHolmes, @dandanlen

fix: use `ubuntu-22.04` for benchmark runner provisioning workflow 🐛
  .github/workflows/_100_benchmarks_runner.yml
Owners: none

chore: run upgrade test on push to main
  .github/workflows/ci-main.yml
Owners: none

chore: remove from nightly
  .github/workflows/ci-main.yml
  .github/workflows/ci-nightly.yml
Owners: none

fix: use `ubuntu-22.04` for benchmark runner provisioning workflow 🐛 (#4773)
  .github/workflows/_100_benchmarks_runner.yml
Owners: none

fix: extend upgrade timeout
  bouncer/commands/upgrade_network.ts
Owners: @kylezs

chore: run upgrade test on push to main (#4645)
  .github/workflows/ci-main.yml
  .github/workflows/ci-nightly.yml
Owners: none

add migration
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/multiple_brokers.rs
Owners: @dandanlen

fix: extend upgrade timeout (#4774)
  bouncer/commands/upgrade_network.ts
Owners: @kylezs

chore: add node_inderface and gas_estimate
  .cargo/config.toml
  contract-interfaces/arb-contract-abis/INodeInterface.json
  engine/src/evm/retry_rpc/node_interface.rs
  engine/src/evm/rpc/node_interface.rs
  engine/src/witness/arb/chain_tracking.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/arb.rs
  state-chain/node/src/chain_spec.rs
  state-chain/runtime/src/migrations/arbitrum_integration.rs
Owners: @kylezs, @AlastairHolmes, @dandanlen

Increase concurrent timeout
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip
