Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

chore: nit
  engine/src/witness/eth/sc_utils.rs
Owners: @albert-llimos

chore: insert Sc Utils addresses and image (#6010)
  .cargo/config.toml
  .github/workflows/upgrade-test.yml
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/utils.ts
  contract-interfaces/eth-contract-abis/v1.3.2/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.2/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.2/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.2/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.2/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.2/IScUtils.json
  contract-interfaces/eth-contract-abis/v1.3.2/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.2/IVault.json
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/berghain.rs
  state-chain/node/src/chain_spec/perseverance.rs
  state-chain/node/src/chain_spec/sisyphos.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @chainflip-io/platform, @martin-chainflip, @albert-llimos, @dandanlen

chore: fix timeout issue and small improvements
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/delegate_flip.ts
  bouncer/tests/fast_bouncer.test.ts
Owners: @martin-chainflip

SC calls via Ethereum (#5979)
  engine/src/witness/eth.rs
  engine/src/witness/eth/sc_utils.rs
  state-chain/chains/src/evm.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
  state-chain/runtime/src/lib.rs
Owners: @albert-llimos, @dandanlen, @Janislav

chore: fix rebase
  .github/workflows/upgrade-test.yml
  bouncer/shared/utils.ts
  bouncer/tests/evm_deposits.ts
Owners: @chainflip-io/platform, @martin-chainflip

feat: connect calls
  engine/src/witness/eth/sc_utils.rs
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
Owners: @albert-llimos, @dandanlen

fix: benchmark
  state-chain/pallets/cf-funding/src/benchmarking.rs
Owners: @Janislav, @dandanlen

chore: add call error in error
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @Janislav, @dandanlen

chore: fix image and add delegate/undelegate bouncer test
  bouncer/shared/fund_flip.ts
  bouncer/shared/redeem_flip.ts
  bouncer/shared/send_evm.ts
  bouncer/shared/setup_account.ts
  bouncer/shared/utils.ts
  bouncer/tests/delegate_flip.ts
  bouncer/tests/gaslimit_ccm.ts
  state-chain/node/src/chain_spec/testnet.rs
  state-chain/pallets/cf-environment/src/migrations/eth_sc_utils_environment.rs
Owners: @martin-chainflip, @dandanlen

chore: add caller to event
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/tests.rs
Owners: @Janislav, @dandanlen

chore: fix evm_deposits conflicts
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

chore: improve logging
  bouncer/tests/delegate_flip.ts
Owners: @martin-chainflip

chore: remove old eth interfaces
  contract-interfaces/eth-contract-abis/v1.3.1/CFTester.json
  contract-interfaces/eth-contract-abis/v1.3.1/Deposit_bytecode.json
  contract-interfaces/eth-contract-abis/v1.3.1/IAddressChecker.json
  contract-interfaces/eth-contract-abis/v1.3.1/IFLIP.json
  contract-interfaces/eth-contract-abis/v1.3.1/IKeyManager.json
  contract-interfaces/eth-contract-abis/v1.3.1/IStateChainGateway.json
  contract-interfaces/eth-contract-abis/v1.3.1/IVault.json
Owners: @albert-llimos

chore: debug upgrade test
  .github/workflows/ci-development.yml
  bouncer/tests/delegate_flip.ts
Owners: @chainflip-io/platform, @martin-chainflip

fix: migrations versions
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: fix sed command
  .github/workflows/upgrade-test.yml
  bouncer/tests/delegate_flip.ts
Owners: @chainflip-io/platform, @martin-chainflip

fix: bouncer lint
  bouncer/tests/evm_deposits.ts
Owners: @martin-chainflip

ci: restore upgrade flag
  .github/workflows/ci-development.yml
Owners: @chainflip-io/platform

chore: connect set max bid
  state-chain/runtime/src/chainflip/ethereum_sc_calls.rs
Owners: @dandanlen

test: bouncer setMaxBid
  bouncer/tests/delegate_flip.ts
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @martin-chainflip, @dandanlen

fix: add validator cuts to the calculation
  state-chain/cf-integration-tests/src/delegation.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

fix: remove type
  state-chain/pallets/cf-validator/src/delegation.rs
Owners: @dandanlen

chore: rename
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/runtime/src/chainflip/node_rewards.rs
Owners: @dandanlen

wip: add proper shape infrastructure for migrations.
  generate-migrations/src/main.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/types.rs
  generate-migrations/src/types2.rs
  generate-migrations/src/virtual_file.rs
Owners: none

ci: improve secret passing 🥷 (#6043)
  .github/workflows/_110_deploy_benchmarks_runner.yml
Owners: @chainflip-io/platform

feat: add other typedef variants to new typeexpr definition.
  generate-migrations/src/from_metadata.rs
  generate-migrations/src/main.rs
  generate-migrations/src/registry.rs
  generate-migrations/src/typediff.rs
  generate-migrations/src/types2.rs
  generate-migrations/src/virtual_file.rs
Owners: none

feat: reimplement type extraction for new types.
  generate-migrations/src/from_metadata.rs
  generate-migrations/src/main.rs
  generate-migrations/src/metadata.rs
  generate-migrations/src/types/compare.rs
  generate-migrations/src/types/definition.rs
  generate-migrations/src/types/from_metadata.rs
  generate-migrations/src/types/generalise.rs
  generate-migrations/src/types/mod.rs
  generate-migrations/src/types/normalise.rs
  generate-migrations/src/types_old.rs
Owners: none

feat: swap aborted event
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @msgmaxim, @j4m1ef0rd

wip: begin implement diffing of typeexprs.
  generate-migrations/src/types/compare.rs
  generate-migrations/src/types/definition.rs
  generate-migrations/src/types/mod.rs
  generate-migrations/src/types/shapes.rs
Owners: none

chore: suporrt localnet with static dev chainspec ⛓️
  localnet/common.sh
  localnet/init/scripts/start-node.sh
Owners: @chainflip-io/platform

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd
