Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: enable idempotency checks on try-runtime for upgrade-test
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

feat: add cf-parameters versioning
  engine/src/witness/common/cf_parameters.rs
  engine/src/witness/evm/vault.rs
Owners: @kylezs

chore: bump actions versions (#5380)
  .github/workflows/ci-cherry-pick.yml
Owners: none

chore: update with SDK changes
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

first implementation of runtime versioning
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

use api_version()
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

refactor: split out electoral system runner trait
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

tests and clean up
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix: handle status check and corrupt storage better
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

fix:
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__swap_output_serialization.snap
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

rebase fixes
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: clean up
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

tmp: full bouncer and upgrade-test
  .github/workflows/ci-development.yml
Owners: none

chore: clippy
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: clippy
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/tests.rs
Owners: @dandanlen

chore: clean up
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

doc: comment electoral system runner
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
Owners: @dandanlen

chore: remove unnecessary Results
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

chore: fix rebase issue
  engine/src/elections.rs
Owners: none

fix ci typo
  .github/workflows/ci-development.yml
Owners: none

chore: make solana nonce witnessing migration idempotent
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
Owners: @dandanlen

chore: bump actions versions (#5380)
  .github/workflows/ci-cherry-pick.yml
Owners: none

chore: enable idempotency checks on try-runtime for upgrade-test (#5391)
  bouncer/shared/try_runtime_upgrade.ts
Owners: @martin-chainflip

chore: fmt
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

feat: runtime API versioning for monitoring API (#5393)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

feat: `cf_pool_swap_rate_v3` with broker fee and DCA support (#5386)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__swap_output_serialization.snap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: runtime API versioning for monitoring API (#5393)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

feat: `cf_pool_swap_rate_v3` with broker fee and DCA support (#5386)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__swap_output_serialization.snap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: version bumps to 1.7.1
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: CHANGELOG 1.7.1
  CHANGELOG.md
Owners: none

feat: add ability to configure DepositChannelLifetime via governance
  Cargo.lock
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

feat: add ability to configure DepositChannelLifetime via governance
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

feat: runtime API versioning for monitoring API (#5393)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/monitoring_apis.rs
Owners: @dandanlen

feat: `cf_pool_swap_rate_v3` with broker fee and DCA support (#5386)
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__swap_output_serialization.snap
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: add ability to configure DepositChannelLifetime via governance
  Cargo.lock
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: version bumps to 1.7.1
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: CHANGELOG 1.7.1
  CHANGELOG.md
Owners: none

fix: use correct trait object
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: use correct trait object (#5396)
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

fix: use correct trait object (#5396)
  state-chain/custom-rpc/src/monitoring.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
