Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

ci: try new base rust image
  .github/workflows/_20_build.yml
  .github/workflows/ci-development.yml
Owners: none

update changelog
  CHANGELOG.md
Owners: none

bump runtime spec version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

ci: cleanup and unifying 🥰
  .github/workflows/_01_pre_check.yml
  .github/workflows/_02_retrieve-bins.yml
  .github/workflows/_03_release_checks.yml
  .github/workflows/_04_merge_commit_summary.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_100_benchmarks_runner.yml
  .github/workflows/_100_run_benchmarks.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/_50_release.yml
  .github/workflows/_60_upload.yml
  .github/workflows/_90_helmcharts_check.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-development.yml
  .github/workflows/upgrade-test.yml
  ci/docker/development/rust-base.Dockerfile
Owners: @kylezs

ci: fix rust base image tag 🐛
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
Owners: none

chore: bumped pallet version
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/migrations.rs
Owners: @dandanlen

Update bouncer/commands/new_swap.ts
  bouncer/commands/new_swap.ts
Owners: @martin-chainflip

Update bouncer/commands/provide_liquidity.ts
  bouncer/commands/provide_liquidity.ts
Owners: @martin-chainflip

chore: fix lint
  bouncer/commands/new_swap.ts
  bouncer/commands/provide_liquidity.ts
Owners: @martin-chainflip

ci: fix wrong debug file name 🐛 (#4682)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

ci: seperate Ubunto 20.04 and 22.04 caches 🙅‍♂️
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
Owners: none

ci: fix env var refrence
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
Owners: none

ci: add caching to unit tests 🏎️
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
Owners: none

ci: fix runner labels to enable caching 🐛
  .github/workflows/_01_pre_check.yml
Owners: none

ci: fix runners tags (again) 😇
  .github/actionlint.yaml
  .github/workflows/_01_pre_check.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  .github/workflows/_26_docker_external_networks.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/docker-build-rust-base.yml
Owners: none

ci: fix cargo audit error 🐛
  .github/workflows/_01_pre_check.yml
Owners: none

ci: fix cargo audit 🤦‍♂️
  .github/workflows/_01_pre_check.yml
Owners: none

chore: remove caching from cargo audit
  .github/workflows/_01_pre_check.yml
Owners: none

chore: use different runner
  .github/workflows/_01_pre_check.yml
Owners: none

chore: use different runner
  .github/workflows/_01_pre_check.yml
Owners: none

ci: cargo issues
  .github/workflows/_01_pre_check.yml
  .github/workflows/ci-development.yml
Owners: none

ci: try github hosted runners
  .github/workflows/_01_pre_check.yml
  .github/workflows/ci-development.yml
Owners: none

ci: try older base image
  .github/workflows/_01_pre_check.yml
Owners: none

chire(rust-base): build image with no cache 🧼
  .github/workflows/docker-build-rust-base.yml
Owners: none

chore: use updated rust base image
  .github/workflows/_01_pre_check.yml
Owners: none

ci: use latest rust base image 🦀
  .github/workflows/_01_pre_check.yml
  .github/workflows/_10_test.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/ci-benchmarks.yml
Owners: none

chore: replace SOL and SOLUSDC for Sol and SolUsdc
  bouncer/commands/send_solusdc.ts
  bouncer/shared/get_balance.ts
  bouncer/shared/get_sol_balance.ts
  bouncer/shared/get_solusdc_balance.ts
  bouncer/shared/send.ts
  bouncer/shared/send_solusdc.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: small updates
  bouncer/commands/setup_vaults.ts
  bouncer/shared/send.ts
Owners: @martin-chainflip

chore: dont hardcode number of nonces
  bouncer/commands/setup_vaults.ts
Owners: @martin-chainflip

ci: fix wrong debug file name 🐛 (#4682) (#4689)
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: tweeak gas
  bouncer/run.sh
  bouncer/shared/gaslimit_ccm.ts
Owners: @martin-chainflip

chore: fix run.sh
  bouncer/run.sh
Owners: @martin-chainflip

feat: allow upgrade-test to perseverance release
  .github/workflows/release-perseverance.yml
Owners: none

Combined utxo transfer logic to combine it with consolidation. Consolidation now transfer both utxos from the current vault as well as the previous vault.
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/btc/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/broadcaster.rs
Owners: @dandanlen

chore: remove temp for 1.2 -> 1.3 upgrade test
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: single binary CFE upgrades
  Cargo.lock
  Cargo.toml
  Makefile.toml
  api/lib/src/lib.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine-runner/build.rs
  engine-runner/src/main.rs
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
  engine/src/lib.rs
  engine/src/main.rs
  localnet/init/scripts/start-engine.sh
  localnet/manage.sh
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  utilities/src/with_std/logging.rs
Owners: @chainflip-io/platform, @dandanlen

production and release
  .cargo/config.toml
  Makefile.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
Owners: none

chore: remove unnecessary print
  engine/src/lib.rs
Owners: none

refactor: use separate dylib crate
  .cargo/config.toml
  Cargo.lock
  Makefile.toml
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-runner/Cargo.toml
  engine/Cargo.toml
  engine/Makefile.toml
  engine/scripts/dylib_version.sh
  engine/src/lib.rs
Owners: none

chore: use usize
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none
