Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

feat: private broker channel witnessing
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/btc.rs
  engine/src/state_chain_observer/client/storage_api.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/private_deposit_channels.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

fix: address review
  engine/src/state_chain_observer/client/storage_api.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/private_deposit_channels.rs
Owners: @kylezs

refactor: address some PR comments
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: rename bouncer evm vault swap file
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/swapping.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

feat: add version and affiliates to UTXO encoding
  api/lib/src/lib.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
Owners: @kylezs, @dandanlen

Add a V3 for `cf_pool_swap_rate_v3` call that will consider broker and affiliate fees as well as DCA.
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

Custom TypeInfo derivation macro for generic pallets
  Cargo.lock
  Cargo.toml
  state-chain/generic-typeinfo-derive/Cargo.toml
  state-chain/generic-typeinfo-derive/src/lib.rs
  state-chain/pallets/cf-broadcast/Cargo.toml
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-ingress-egress/Cargo.toml
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-threshold-signature/Cargo.toml
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

restore Cargo.toml
  Cargo.toml
Owners: none

Feat: Private Broker Channel Witnessing (#5383)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/btc.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault.rs
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/private_deposit_channels.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

chore: Fixed var name
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

tests: Bouncer test for broker level screening (#5377)
  bouncer/commands/run_test.ts
  bouncer/shared/send_btc.ts
  bouncer/test_commands/broker_level_screening.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Remove now unused `tainted_transaction_events` subscription.
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

Cleaning up CFDM testing.
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/deposit_monitor_test.ts
Owners: @martin-chainflip

WIP: Add bouncer tests.
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/send_btc.ts
  bouncer/test_commands/broker_level_screening.ts
  bouncer/tests/broker_level_screening.ts
  localnet/init/scripts/start-all-engines.sh
Owners: @martin-chainflip, @chainflip-io/platform

Apply suggestions from @kylezs's review.
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: remove nonce witnessing update migration
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: remove solana egress success witness migration
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @dandanlen

chore: remove delete old epoch data
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
Owners: @dandanlen

chore: remove owner to channel details migration
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
Owners: @dandanlen

feat: update custom_rpc, runtime_api and broker api for broker level screening (#5341)
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

fix: scale-encode version byte
  state-chain/chains/src/btc/vault_swap_encoding.rs
Owners: @dandanlen

fix: flatten artifacts on download
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: rename ElectoralSystemStatus -> ElectionPalletStatus (#5367)
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/tests.rs
Owners: @dandanlen

fix: always sweep on RPC free balance (#5376)
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: better not contributing error message (#5368)
  engine/src/elections.rs
Owners: none

fix: make boost detection more accurate (#5369)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests/screening.rs
Owners: @dandanlen

chore: remove unused stream_utils (#5373)
  engine/src/lib.rs
  engine/src/stream_utils.rs
Owners: none

fix: retry with search history enabled after some attempts (#5370)
  engine/src/sol/retry_rpc.rs
Owners: none

fix: rpc subscription return types (#5374)
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

tests: Bouncer test for broker level screening (#5377)
  bouncer/commands/run_test.ts
  bouncer/shared/send_btc.ts
  bouncer/test_commands/broker_level_screening.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

fix: take into account only active suspensions (#5359)
  state-chain/pallets/cf-validator/src/rotation_state.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: bump all versions to 1.8.0 and remove old migrations. (#5327)
  .github/workflows/upgrade-test.yml
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @kylezs, @dandanlen

feat: update custom_rpc, runtime_api and broker api for broker level screening (#5341)
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: add version and affiliates to UTXO encoding (#5385)
  api/lib/src/lib.rs
  engine/src/witness/btc/vault_swaps.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
Owners: @kylezs, @dandanlen

Removed Affiliate fees Used `try_execute_without_violations` instead of `swap_with_network_fee` to estimate swap result.
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

feat: basic support for affiliate registration
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/primitives/src/lib.rs
Owners: @dandanlen

feat: RPC in broker api and address some PR comments
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  bouncer/tests/btc_vault_swap.ts
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @martin-chainflip, @dandanlen

refactor: go back to better error types on encoded address
  api/lib/src/lib.rs
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: affiliate lookup on vault deposit
  engine/src/witness/arb.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @kylezs, @dandanlen

chore: make solana nonce witnessing migration idempotent
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
