Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chainflip-io/platform, @chainflip-io/web, @nmammeri, @albert-llimos, @martin-chainflip, @msgmaxim, @dandanlen, @syan095, @ramizhasan111, @MxmUrw, @marcellorigotti, @Janislav, @j4m1ef0rd

.github/CODEOWNERS:

.github @chainflip-io/platform

/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web
/api/ @nmammeri

/bouncer/shared/sol_vault_swap.ts @albert-llimos
/bouncer/tests/gaslimit_ccm.ts @albert-llimos
/bouncer/ @martin-chainflip

/charts/ @chainflip-io/platform

/contract-interfaces/ @albert-llimos

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim
/engine/src/evm/ @albert-llimos
/engine/src/sol/ @albert-llimos
/engine/src/witness/btc/ @msgmaxim
/engine/src/witness/sol/ @albert-llimos
/engine/src/witness/evm/ @albert-llimos
/engine/src/witness/eth/ @albert-llimos
/engine/src/witness/arb/ @albert-llimos

engine-dylib/ @nmammeri @dandanlen
engine-proc-macros/ @nmammeri @dandanlen
engine-runner-bin/ @nmammeri @dandanlen
engine-upgrade-utils/ @nmammeri @dandanlen

/foreign-chains/ @albert-llimos @syan095

/localnet/ @chainflip-io/platform

/state-chain/ @dandanlen

/state-chain/amm/ @martin-chainflip

/state-chain/cfe-events/ @msgmaxim

/state-chain/chains/arb.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/arb/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/eth/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm.rs @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/evm/ @albert-llimos @dandanlen @ramizhasan111
/state-chain/chains/hub/ @martin-chainflip @dandanlen
/state-chain/chains/sol.rs @albert-llimos @syan095 @ramizhasan111
/state-chain/chains/sol/ @albert-llimos @syan095 @ramizhasan111

/state-chain/custom-rpc/ @chainflip-io/web @nmammeri


/state-chain/pallets/cf-broadcast/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-threshold-signing/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-vaults/ @ramizhasan111 @dandanlen
/state-chain/pallets/cf-elections/ @MxmUrw @marcellorigotti
/state-chain/pallets/cf-funding/ @Janislav @dandanlen
/state-chain/pallets/cf-lending-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-pools/ @martin-chainflip @dandanlen @msgmaxim
/state-chain/pallets/cf-swapping/ @msgmaxim @j4m1ef0rd
/state-chain/pallets/cf-tokenholder-governance/ @Janislav @dandanlen
/state-chain/pallets/cf-trading-strategy/ @msgmaxim @j4m1ef0rd

allow warp sync from single peer
  Cargo.lock
  Cargo.toml
Owners: none

chore: prettier
  bouncer/shared/utils/swap_context.ts
Owners: @martin-chainflip

chore: make clippy happy.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
Owners: @MxmUrw, @marcellorigotti

add ElectoralRuntimeApi for eth
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

feat: allow warp sync from single peer (#6017)
  Cargo.lock
  Cargo.toml
Owners: none

chore: fixed benchmark + changed error message
  api/lib/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @nmammeri, @dandanlen

chore: fixed compile error
  api/lib/src/lib.rs
Owners: @nmammeri

fix: remove unused errors and edit descriptions
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: avoid unnecessary clone
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: disallow delegation for operators (fixes PRO-2433)
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

test: add test for when deny is the operator default
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: block / allow implementations & make naming more consistent.
  api/lib/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
Owners: @nmammeri, @dandanlen

fix: add all values to custom rpc layer.
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @nmammeri, @dandanlen

chore: clippy
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: CFE check for CF chain node connection (#6014)
  engine/src/state_chain_observer/client.rs
Owners: none

chore: fixed benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

feat: delegate and undelegate (#6006)
  api/bin/chainflip-cli/src/main.rs
  api/bin/chainflip-cli/src/settings.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @nmammeri, @chainflip-io/web, @dandanlen

feat: add safemode for oracle price elections.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/runtime/src/chainflip/bitcoin_elections.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/safe_mode.rs
  state-chain/traits/src/safe_mode.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: changed implementation to use all bids of delegators/validators
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: added build of snapshot + bid top up
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: added naive implementation of bonding
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: process all events in a block in parallel (#6013)
  engine/src/witness/btc/deposits.rs
  engine/src/witness/eth/state_chain_gateway.rs
  engine/src/witness/evm/key_manager.rs
  engine/src/witness/evm/vault.rs
Owners: @msgmaxim, @albert-llimos

fix: respect internal_swap parameter when estimating ingress egress fees in simulate_swap
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

don't error if tx is Confirmed
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
Owners: @albert-llimos

chore: address comments
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

feat: implement transferring all Dot balances to HubDot as migration
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/polkadot_deprecation.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

chore: address comments
  engine/src/witness/eth/sc_utils.rs
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @albert-llimos, @Janislav, @dandanlen

chore: minor
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @Janislav, @dandanlen

feat: add transactional tx executing
  state-chain/pallets/cf-funding/src/lib.rs
Owners: @Janislav, @dandanlen

fix: use `TryInto` and don't unwrap when converting values received from Chainlink on Ethereum.
  engine/src/witness/generic_elections.rs
Owners: none

chore: added current status of auction integration
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: use new `PriceFeedApi` trait instead of `ChainEnvironment`.
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

Changed some LP rpc call's return type to BlockUpdate - which contains block info, such as block number, hash etc.
  api/bin/chainflip-lp-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/lp.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @nmammeri, @chainflip-io/web, @dandanlen

chore: added comment and log_or_panic
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

chore: clippy
  state-chain/pallets/cf-validator/src/delegation.rs
  state-chain/pallets/cf-validator/src/lib.rs
Owners: @dandanlen

feat: add safemode migration.
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/safe_mode.rs
  state-chain/traits/src/safe_mode.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen

chore: fixed benchmark
  state-chain/pallets/cf-validator/src/benchmarking.rs
Owners: @dandanlen

chore: try to remove new dependency to fix ci error.
  Cargo.lock
  api/cf-node-client/Cargo.toml
Owners: @nmammeri

feat: track SC block height when price was updated.
  state-chain/custom-rpc/src/snapshots/custom_rpc__tests__runtime_safe_mode_serialization.snap
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @chainflip-io/web, @nmammeri, @MxmUrw, @marcellorigotti, @dandanlen

feat: add `OraclePricesUpdated` event.
  state-chain/pallets/cf-elections/src/electoral_systems/oracle_price/state_machine.rs
  state-chain/runtime/src/chainflip/generic_elections.rs
Owners: @MxmUrw, @marcellorigotti, @dandanlen
