Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

chore: bump election pallet version
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: additional test for invalid swap case
  state-chain/pallets/cf-elections/src/electoral_systems/tests/solana_vault_swap_accounts.rs
Owners: @dandanlen

chore: minor
  state-chain/pallets/cf-elections/src/electoral_systems/solana_vault_swap_accounts.rs
Owners: @dandanlen

fix: remove expects
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: bump old engine version
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: clearer error message
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: bump election pallet version (#5435)
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

feat: migration
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/solana_vault_swaps_migration.rs
Owners: @dandanlen

chore: test upgrade
  .github/workflows/ci-development.yml
Owners: none

chore: update migration versions
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: update version
  state-chain/pallets/cf-elections/src/lib.rs
Owners: @dandanlen

refactor: move register affiliates into api
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/queries.rs
Owners: none

fix: no intermediary swap amount for single-legs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: verision bumps, changelog for 1.7.2
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: verision bumps, changelog for 1.7.2
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: update transcationInId and bouncer
  bouncer/shared/perform_swap.ts
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/swap_context.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/evm_deposits.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/gaslimit_ccm.ts
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: run CI
  .github/workflows/ci-development.yml
Owners: none

feat: simple conversion using From
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/primitives/src/lib.rs
Owners: @kylezs, @dandanlen

chore: reduce boilerplate
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

chore: add doc comment
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: formatting
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: btc vault swap with affiliates (#5413)
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  bouncer/shared/delete_all_orders_lp_api.ts
  bouncer/shared/json_rpc.ts
  bouncer/shared/utils.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_fee_collection.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/lp_api_test.ts
  engine/src/witness/arb.rs
  engine/src/witness/btc/vault_swaps.rs
  engine/src/witness/eth.rs
  state-chain/chains/src/btc/vault_swap_encoding.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/affiliate_registry.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

chore: add logging and decrease timeout
  bouncer/shared/utils.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: not try runtime
  bouncer/shared/upgrade_network.ts
Owners: @kylezs

chore: add more prints
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: run only one Solana Vault swap
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: use processed commitment
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

chore: use confirmed
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

chore: revert sendAndConfirmTransaction
  bouncer/shared/sol_vault_swap.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: fix
  bouncer/shared/sol_vault_swap.ts
Owners: @martin-chainflip

chore: add print and extra swap
  bouncer/shared/utils.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: remove unnecessary context transition
  bouncer/shared/swap_context.ts
Owners: @martin-chainflip

chore: log electoral settings
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: readd missing line
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

feat: allow for providing params to ElectoralSystem test checks
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
Owners: @dandanlen

chore: improve logging
  bouncer/shared/utils.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: log message logs number of times
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
Owners: @dandanlen

add assethub to localnet
  ci/docker/development/polkadot/assethub.raw.json
  localnet/common.sh
  localnet/docker-compose.yml
  localnet/helper.sh
Owners: @chainflip-io/platform

chore: added first implementation draft
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

tests: Added test for update_broker_bond + test for try update bond
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
