Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

WIP3: fix import
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

finish migration
  Cargo.lock
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

WIP3: more checks in the post-upgrade
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

delete SharedData!
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

simplify electoral systems
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

clippy and fmt
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: improve logic
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

update localnet polkadot runtime to v1.3.3
  localnet/docker-compose.yml
Owners: @chainflip-io/platform

fix: address RuntimeCall size limit
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @kylezs, @dandanlen

refactor: use api methods without json
  Cargo.lock
  api/lib/Cargo.toml
  api/lib/src/lib.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
Owners: none

chore: address clippy
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @chainflip-io/web, @kylezs, @dandanlen

chore: localnet recreate script can use defaults
  localnet/create.sh
  localnet/recreate.sh
Owners: @chainflip-io/platform

chore: added broker_fees argument for future use
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

feat: update contract swap signatures; enforce min deposit amount
  engine/src/witness/arb.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: more cleanup and refactoring
  bouncer/shared/contract_swap.ts
  bouncer/shared/send.ts
  bouncer/shared/swapping.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

chore: version bumps & changelog
  CHANGELOG.md
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @chainflip-io/web, @dandanlen

feat: minimum chunk size setting (#5314)
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
Owners: @dandanlen

chore: bump runtime version
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: add contract swaps to dca test
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/fill_or_kill.ts
Owners: @martin-chainflip

wip
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @kylezs, @dandanlen

chore: Prune historical values in Validator pallet (#5292)
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

fix: don't exit if we can't remove a file that already doesn't exist (#5328)
  localnet/common.sh
Owners: @chainflip-io/platform

chore: add token account rent for ccm_fee_estimation
  state-chain/chains/src/sol.rs
Owners: @dandanlen

chore: engine refactor
  bouncer/shared/contract_swap.ts
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
Owners: @martin-chainflip, @kylezs

feature: Marking txs when prewitness and reject when we process the depo
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

fix
  state-chain/chains/src/sol/api.rs
Owners: @dandanlen

wip
  .github/workflows/_20_build.yml
  .github/workflows/ci-development.yml
  engine-runner-bin/build.rs
Owners: none

wip
  .github/workflows/ci-development.yml
  .github/workflows/release-berghain.yml
Owners: none

fix bug: change_utxo not always present
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

change comment
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

feat: pre-witnessed rejection handling
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fmt
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

update logic in the rpc to match the callback
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: client rpc error types
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/queries.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/chain_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/unsigned.rs
  engine/src/state_chain_observer/client/storage_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @dandanlen

chore: add runtime to workspace deps
  Cargo.toml
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
  api/lib/Cargo.toml
  engine/Cargo.toml
  engine/generate-genesis-keys/Cargo.toml
  engine/multisig/Cargo.toml
  state-chain/cf-integration-tests/Cargo.toml
  state-chain/custom-rpc/Cargo.toml
  state-chain/node/Cargo.toml
Owners: @chainflip-io/web, @msgmaxim, @dandanlen

feat: more general test utilities
  Cargo.lock
  state-chain/test-utilities/Cargo.toml
  state-chain/test-utilities/src/rich_test_externalities.rs
Owners: @dandanlen

sequoia version
  Cargo.lock
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
Owners: none

feat: basic remote externalities test runner
  Cargo.lock
  Cargo.toml
  state-chain/runtime-tests/Cargo.toml
  state-chain/runtime-tests/src/main.rs
  state-chain/runtime-tests/src/tests.rs
  state-chain/runtime-tests/src/tests/example.rs
Owners: @dandanlen

fix: unused import
  state-chain/runtime-tests/src/main.rs
Owners: @dandanlen

feat: print storage size info
  Cargo.lock
  state-chain/runtime-tests/Cargo.toml
  state-chain/runtime-tests/src/tests.rs
Owners: @dandanlen
