Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

chore: fix for ccm and more updates
  bouncer/shared/perform_swap.ts
  state-chain/chains/src/arb.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @martin-chainflip, @dandanlen

Commented out a print statement in the unit test
  state-chain/chains/src/sol/transaction_builder.rs
Owners: @dandanlen

Update localnet/common.sh
  localnet/common.sh
Owners: @chainflip-io/platform

feat: witnessing btc smart contract swaps
  engine/src/witness/arb.rs
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/evm_deposits.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/btc.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/traits/src/lib.rs
Owners: @kylezs, @dandanlen

chore: gas tweaks and bouncer updates
  bouncer/shared/swapping.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/gaslimit_ccm.ts
  state-chain/chains/src/arb.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/eth.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/evm/api.rs
  state-chain/chains/src/evm/api/execute_x_swap_and_call.rs
  state-chain/chains/src/sol.rs
  state-chain/runtime/src/chainflip.rs
Owners: @martin-chainflip, @dandanlen

chore: using ScheduledTxForReject for refunding
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: don't exit if we can't remove a file that already doesn't exist (#5328)
  localnet/common.sh
Owners: @chainflip-io/platform

chore: update gas limit test
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

chore: nit
  bouncer/shared/swapping.ts
  bouncer/tests/gaslimit_ccm.ts
Owners: @martin-chainflip

fixes
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
Owners: @chainflip-io/web

chore: update tests
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/arb.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Owners: @dandanlen

make deposit_details optional
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
Owners: @chainflip-io/web

renamed a member field
  engine/src/witness/sol.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

refactor: swap payload enum
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

chore: address minor review comments
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
Owners: @kylezs

Unified the rest of of dependencies into the root cargo.toml
  Cargo.lock
  Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/lib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-upgrade-utils/Cargo.toml
  engine/Cargo.toml
  engine/generate-genesis-keys/Cargo.toml
  engine/multisig/Cargo.toml
  engine/multisig/src/crypto/ed25519.rs
  foreign-chains/solana/sol-prim/Cargo.toml
  state-chain/chains/Cargo.toml
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-flip/Cargo.toml
  state-chain/pallets/cf-witnesser/Cargo.toml
  state-chain/primitives/Cargo.toml
  state-chain/runtime-utilities/macros/Cargo.toml
  state-chain/runtime/Cargo.toml
  utilities/Cargo.toml
Owners: @msgmaxim, @dandanlen

Reverted unintended change.
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

chore: bump all versions to 1.8.0 and remove old migrations.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
Owners: @dandanlen

fix: flatten unzipped artifacts
  .github/workflows/upgrade-test.yml
Owners: @kylezs

test: run full bouncer
  .github/workflows/ci-development.yml
Owners: none

refactor: Changed accounting of expired transactions
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

refactor: using translate for migration
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
Owners: @dandanlen

test: extra logging on sc client
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

fix tests
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-2.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-3.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-4.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls.snap
Owners: @chainflip-io/web

refactor: using append, refactored test
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: start implementation
  engine/src/witness/arb.rs
  engine/src/witness/eth.rs
  engine/src/witness/evm/vault.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/primitives/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
  state-chain/traits/src/mocks/egress_handler.rs
Owners: @kylezs, @dandanlen

chore: address comment
  state-chain/chains/src/sol/transaction_builder.rs
Owners: @dandanlen

chore: bouncer solana program swaps (#5318)
  bouncer/shared/contract_swap.ts
  bouncer/shared/initialize_new_chains.ts
  bouncer/shared/solana_keypair.json
  bouncer/shared/utils.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/vault.ts
Owners: @martin-chainflip

fix: client rpc error types
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Owners: none

Fixed bouncer test for Solana CCMs
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

Fixed bouncer lint
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: replace manual scale encoding for ts-scale
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

feat: de-duplicate param validation logic
  Cargo.lock
  api/lib/Cargo.toml
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Owners: @dandanlen

test: fix deposit witnessing tests
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
Owners: @kylezs

feat: Check for safe mode before encoding
  api/lib/src/lib.rs
Owners: none

chore: also ust ts-scale on the receiving end
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

Updated out dependencies to the (or later than the) versions used by PolkadotSdk Updated
  Cargo.lock
  Cargo.toml
  engine/Cargo.toml
  engine/src/witness/btc.rs
  engine/src/witness/btc/deposits.rs
  engine/src/witness/btc/smart_contract.rs
  state-chain/cf-integration-tests/src/threshold_signing.rs
Owners: @kylezs, @dandanlen

chore: increase redeem test timout
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip

wip
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/all-but-macro-def
  state-chain/pallets/cf-elections/all-but-macro-def.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @kylezs, @dandanlen

chore: increase timeout
  bouncer/tests/fund_redeem.ts
Owners: @martin-chainflip
