Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

fix: don't allow report overwrite
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

feat: verify downloaded dylibs with gpg
  .github/workflows/_20_build.yml
  .github/workflows/ci-development.yml
  .github/workflows/release-berghain.yml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

feat: import Mainnet GPG key for artifact verification 🔏
  .github/workflows/_20_build.yml
Owners: none

feat: runner verifies downloaded dylibs
  .github/workflows/_20_build.yml
  .github/workflows/release-berghain.yml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: Renamed event
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

feat: improvements:
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/mocks/balance_api.rs
Owners: @dandanlen

chore: bump all versions to 1.8.0 and remove old migrations.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
Owners: @dandanlen

fix: flatten unzipped artifacts
  .github/workflows/upgrade-test.yml
Owners: @kylezs

chore: add asset to egress_fee
  state-chain/pallets/cf-swapping/src/lib.rs
Owners: @dandanlen

chore: consistent CI param naming
  .github/workflows/_20_build.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/ci-development.yml
  .github/workflows/ci-main-merge-queue.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-sisyphos.yml
Owners: none

chore: removed not needed RefundParameters, added test
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

chore: more consistent params in Broker API (#5342)
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
Owners: none

chore: add engine account_info logging
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: replace manual scale encoding for ts-scale (#5335)
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: add engine account_info logging (#5347)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: use node version from `.nvmrc` 📌 (#5336)
  .github/workflows/_01_pre_check.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: Submit a slot number alongside nonce (#5297)
  Cargo.lock
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: update SDK with new encoding logic
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/tests/DCA_test.ts
Owners: @martin-chainflip

chore: remove unnecessary bouncer ts-scale
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: lint
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: update to right name
  bouncer/shared/utils.ts
Owners: @martin-chainflip

chore: fix missing rename
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

pick: chore: add engine account_info logging #5347
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: clippy
  engine-runner-bin/build.rs
Owners: none

refactor: Rejecting
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/api.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/traits/src/mocks/api_call.rs
Owners: @dandanlen

chore: fix compiler errors
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: add engine account_info logging #5347 (#5348)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: subtract fees
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fmt
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

fix bug: change_utxo not always present
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

change comment
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

update logic in the rpc to match the callback
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

address comments
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

address comments: check old key as well
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

update rpc btc_utxos
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

use log::info!
  state-chain/runtime/src/chainflip.rs
Owners: @dandanlen

refactor: split out electoral system runner trait
  engine/src/elections.rs
  engine/src/elections/voter_api.rs
  engine/src/state_chain_observer/client/electoral_api.rs
  engine/src/witness/sol.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/blockchain/delta_based_ingress.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/egress_success.rs
  state-chain/pallets/cf-elections/src/electoral_systems/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @kylezs, @dandanlen

fix: handle status check and corrupt storage better
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

tests and clean up
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/electoral_system.rs
  state-chain/pallets/cf-elections/src/electoral_system_runner.rs
  state-chain/pallets/cf-elections/src/electoral_systems/composite.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mock.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/liveness.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_median.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/unsafe_median.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/mock.rs
  state-chain/pallets/cf-elections/src/tests.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

rebase fixes
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @dandanlen
