Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs

fix build
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
Owners: @martin-chainflip

bump version
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

feat: add sol chain tracking metric
  engine/src/witness/sol.rs
Owners: @kylezs

feat: add sol chain tracking metric (#5366)
  engine/src/witness/sol.rs
Owners: @kylezs

feat: engine
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/node/src/chain_spec.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

feat: vault swap details
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

fix: `request_swap_deposit_address_with_affiliates` refund address is consistent with destination address type (#5360)
  api/lib/src/lib.rs
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @martin-chainflip, @dandanlen

feat: add creation slot and update image
  bouncer/shared/contract_interfaces.ts
  bouncer/shared/contract_swap.ts
  contract-interfaces/sol-program-idls/download-sol-program-idls.sh
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/cf_tester.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.json
  contract-interfaces/sol-program-idls/v1.0.0-swap-endpoint/vault.ts
  localnet/docker-compose.yml
  state-chain/node/src/chain_spec/testnet.rs
Owners: @martin-chainflip, @chainflip-io/platform, @dandanlen

chore: fix anchor import
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: better not contributing error message
  engine/src/elections.rs
Owners: none

chore: fix lint
  bouncer/shared/vault_swap.ts
Owners: @martin-chainflip

chore: rename ElectoralSystemStatus -> ElectionPalletStatus
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/tests.rs
Owners: @dandanlen

fix: keyholder check should use `HistoricalActiveEpochs` (#5325)
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

feat: handle rotation tx construction failures (#5307)
  state-chain/cf-integration-tests/src/authorities.rs
  state-chain/pallets/cf-threshold-signature/src/key_rotator.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Owners: @dandanlen

test(bouncer): add test for new utility (#5324)
  bouncer/commands/run_test.ts
  bouncer/commands/setup_vaults.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/polkadot_utils.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/request_swap_deposit_address_with_affiliates.ts
  bouncer/tsconfig.json
Owners: @martin-chainflip

ci: upgrade action version to supress deprecation warnings ⚙️ (#5330)
  .github/workflows/_03_release_checks.yml
  .github/workflows/_11_coverage.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: expose deposit transaction hash from ingress-egress-tracker (#5320)
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-2.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-3.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls-4.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/snapshots/chainflip_ingress_egress_tracker__witnessing__state_chain__tests__handle_deposit_calls.snap
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
Owners: @chainflip-io/web

fix: don't exit if we can't remove a file that already doesn't exist (#5328)
  localnet/common.sh
Owners: @chainflip-io/platform

chore: localnet recreate script can use defaults (#5338)
  localnet/create.sh
  localnet/recreate.sh
Owners: @chainflip-io/platform

feat: Solana CCM fallback (#5316)
  Cargo.lock
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  engine/src/witness/sol.rs
  engine/src/witness/sol/egress_witnessing.rs
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/chains/src/ccm_checker.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-broadcast/src/lib.rs
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/solana_egress_success_witness.rs
Owners: @martin-chainflip, @kylezs, @dandanlen

fix: scale types for pending ceremonies (#5286)
  state-chain/chains/src/btc.rs
  state-chain/chains/src/dot.rs
  state-chain/chains/src/evm.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/mocks.rs
  state-chain/chains/src/none.rs
  state-chain/chains/src/sol.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
Owners: @dandanlen

chore: Prune historical values in Validator pallet (#5292)
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/migrations/delete_old_epoch_data.rs
  state-chain/pallets/cf-validator/src/tests.rs
Owners: @dandanlen

chore: add engine account_info logging (#5347)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

feat: Submit a slot number alongside nonce (#5297)
  Cargo.lock
  engine/src/witness/sol.rs
  engine/src/witness/sol/nonce_witnessing.rs
  state-chain/pallets/cf-elections/Cargo.toml
  state-chain/pallets/cf-elections/src/electoral_systems.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks.rs
  state-chain/pallets/cf-elections/src/electoral_systems/mocks/access.rs
  state-chain/pallets/cf-elections/src/electoral_systems/monotonic_change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/change.rs
  state-chain/pallets/cf-elections/src/electoral_systems/tests/monotonic_change.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/migrations.rs
  state-chain/pallets/cf-elections/src/migrations/change_old.rs
  state-chain/pallets/cf-elections/src/vote_storage.rs
  state-chain/pallets/cf-elections/src/vote_storage/change.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/lib.rs
Owners: @kylezs, @dandanlen

chore: use node version from `.nvmrc` 📌 (#5336)
  .github/workflows/_01_pre_check.yml
  .github/workflows/_05_force_version_bump.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/upgrade-test.yml
Owners: @kylezs

feat: structured error return types for rpcs (#5346)
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  api/bin/chainflip-lp-api/Cargo.toml
  api/bin/chainflip-lp-api/src/main.rs
  api/lib/src/queries.rs
  engine/src/state_chain_observer/client.rs
  engine/src/state_chain_observer/client/base_rpc_api.rs
  engine/src/state_chain_observer/client/chain_api.rs
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
  engine/src/state_chain_observer/client/extrinsic_api/unsigned.rs
  engine/src/state_chain_observer/client/storage_api.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/monitoring.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @chainflip-io/web, @dandanlen

bug: change_utxo not always present (#5340)
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: tainted transaction reporting (#5310)
  engine/src/witness/btc/deposits.rs
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_owner_to_channel_details.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/balance_api.rs
  state-chain/traits/src/mocks/deposit_handler.rs
Owners: @kylezs, @dandanlen

feat: engine-runner verifies gpg signature of old dylib when downloaded (#5339)
  .github/workflows/_20_build.yml
  .github/workflows/_40_post_check.yml
  .github/workflows/ci-development.yml
  .github/workflows/ci-main-merge-queue.yml
  .github/workflows/release-berghain.yml
  .github/workflows/release-sisyphos.yml
  bouncer/shared/upgrade_network.ts
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
Owners: @kylezs

chore: consistent naming prewitnessed (#5351)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
Owners: @dandanlen

chore: add address to solana logging (#5353)
  engine/src/witness/sol/nonce_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

fix: ignore dust underflows in order fills rpc (#5352)
  state-chain/custom-rpc/src/order_fills.rs
Owners: @dandanlen

fix: make boost detection more accurate
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

chore: added current work in progress
  bouncer/shared/send_btc.ts
  bouncer/tests/broker_level_screening.ts
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @martin-chainflip, @dandanlen

chore: fix issues and renamings
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  foreign-chains/solana/sol-prim/src/consts.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol.rs
  state-chain/chains/src/sol/api.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: rename ElectoralSystemStatus -> ElectionPalletStatus (#5367)
  state-chain/pallets/cf-elections/src/benchmarking.rs
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/pallets/cf-elections/src/tests.rs
Owners: @dandanlen

chore: add ccm metadata
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/chains/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @kylezs, @dandanlen

chore: get block number from runtime
  state-chain/pallets/cf-elections/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: vault_swap_request remove origin
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @dandanlen

chore: update with creation slot and prints
  bouncer/shared/vault_swap.ts
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/chains/src/lib.rs
  state-chain/chains/src/sol/benchmarking.rs
  state-chain/chains/src/sol/transaction_builder.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
Owners: @martin-chainflip, @kylezs, @dandanlen
