Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @dandanlen, @msgmaxim

fix: BenchmarkValue shit, clippy and election order
  engine/src/witness/sol.rs
  engine/src/witness/sol/program_swaps_witnessing.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/chains/src/benchmarking_value.rs
  state-chain/chains/src/lib.rs
  state-chain/runtime/src/chainflip/solana_elections.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
Owners: @kylezs, @dandanlen

feat: is_vote_needed
  state-chain/pallets/cf-elections/src/electoral_systems/solana_swap_accounts_tracking.rs
Owners: @dandanlen

feat: explicitly restrict private channels to btc only
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/weights.rs
Owners: @dandanlen

chore: fix test
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

chore: add check
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/all_swaps.ts
Owners: @martin-chainflip

chore: remove logging
  bouncer/shared/vault_swap.ts
Owners: @martin-chainflip

tests: integrated broker level screening test
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: nit
  bouncer/shared/vault_swap.ts
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

chore: Tidy up
  bouncer/shared/send_btc.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: refactor ANCHOR_PROGRAM_DISCRIMINATOR_LENGTH
  engine/src/witness/sol/program_swaps_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
Owners: @kylezs

chore: eslint / prettier
  bouncer/shared/send_btc.ts
  bouncer/test_commands/broker_level_screening.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: added some comments + smallish refactors
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

refactor: invert the hash check conditions
  engine/src/sol/rpc.rs
Owners: none

chore: parse unknown to string type
  bouncer/shared/send_btc.ts
Owners: @martin-chainflip

chore: strip url out of error message
  engine/src/sol/rpc.rs
Owners: none

chore: bump actions versions
  .github/workflows/ci-cherry-pick.yml
Owners: none

chore: Make test verification more explicit
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

chore: expand macro
  contract-interfaces/sol-program-idls/v1.0.0/types/swap_endpoint.ts
  contract-interfaces/sol-program-idls/v1.0.0/types/vault.ts
  engine/src/witness/sol/program_swaps_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @kylezs, @dandanlen

wip: move accounts in to idl macro
  engine/src/witness/sol/sol_deposits.rs
  state-chain/chains/src/sol/sol_tx_core.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @kylezs, @dandanlen

chore: bump actions versions (#5380)
  .github/workflows/ci-cherry-pick.yml
Owners: none

refactor: move private channel storage into cf-swapping
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

test: Btc vault swap bouncer test
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/commands/run_test.ts
  bouncer/shared/send_btc.ts
  bouncer/tests/btc_vault_swap.ts
Owners: @martin-chainflip

feat: new vault swap encoding rpc
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

test: Btc vault swap bouncer test
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/commands/run_test.ts
  bouncer/shared/send_btc.ts
  bouncer/tests/btc_vault_swap.ts
Owners: @martin-chainflip

chore: also update fetch account info
  engine/src/witness/sol/program_swaps_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @kylezs, @dandanlen

Apply suggestions from review.
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

Squashed commit of the following:
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  state-chain/custom-rpc/Cargo.toml
  state-chain/custom-rpc/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
Owners: @dandanlen

chore: addressed comments
  bouncer/commands/run_test.ts
  bouncer/shared/send_btc.ts
  bouncer/tests/broker_level_screening.ts
Owners: @martin-chainflip

Return all channels for *all* channel actions.
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

chore: removed from runAllConcurrentTests
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

feat: sol idl types and checked account decoding
  Cargo.lock
  engine/Cargo.toml
  engine/src/witness/sol/program_swaps_witnessing.rs
  engine/src/witness/sol/sol_deposits.rs
  state-chain/chains/src/sol/sol_tx_core/program_instructions.rs
Owners: @kylezs, @dandanlen

chore: nit and run ci
  .github/workflows/ci-development.yml
  engine/src/witness/sol/program_swaps_witnessing.rs
Owners: @kylezs

chore: revert ci
  .github/workflows/ci-development.yml
Owners: none

fix: take into account only active suspensions (#5359)
  state-chain/pallets/cf-validator/src/rotation_state.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: support for opening/closing private broker channels (#5361)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @dandanlen

Create tainted event subscription in broker API instead of forwarding from the node.
  api/bin/chainflip-broker-api/src/main.rs
  state-chain/custom-rpc/src/lib.rs
Owners: @dandanlen

feature: added mode to run some tests concurrent in localnet
  bouncer/tests/all_concurrent_tests.ts
Owners: @martin-chainflip

Apply clippy suggestion.
  api/bin/chainflip-broker-api/src/main.rs
Owners: none

chore: bump all versions to 1.8.0 and remove old migrations.
  Cargo.lock
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  state-chain/cf-integration-tests/src/lib.rs
  state-chain/cf-integration-tests/src/migrations/serialize_solana_broadcast.rs
  state-chain/node/Cargo.toml
  state-chain/pallets/cf-broadcast/src/migrations.rs
  state-chain/pallets/cf-broadcast/src/migrations/initialize_broadcast_timeout_storage.rs
  state-chain/pallets/cf-broadcast/src/migrations/migrate_timeouts.rs
  state-chain/pallets/cf-broadcast/src/migrations/remove_aborted_broadcasts.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations.rs
  state-chain/runtime/src/migrations/add_liveness_electoral_system_solana.rs
  state-chain/runtime/src/migrations/housekeeping.rs
  state-chain/runtime/src/migrations/serialize_solana_broadcast.rs
Owners: @dandanlen

refactor: invert the sol rpc hash check conditions + remove url from error messages (#5379)
  engine/src/sol/rpc.rs
Owners: none

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @martin-chainflip
/state-chain/pallets/cf-elections/ @kylezs
/state-chain/amm/ @martin-chainflip

/state-chain/ @dandanlen

/utilities/with_std/task_scope @kylezs

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @kylezs
/engine/src/witness/ @kylezs
/engine/src/witness.rs @kylezs
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
