Repository chainflip-io/chainflip-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martin-chainflip, @kylezs, @chainflip-io/web, @chainflip-io/platform, @AlastairHolmes, @dandanlen, @msgmaxim

feat: update metric's buckets values (#4708)
  utilities/src/with_std/metrics.rs
Owners: none

chore: remove workaround left
  bouncer/shared/utils.ts
Owners: @martin-chainflip

feat: update metric's buckets values (#4708)
  utilities/src/with_std/metrics.rs
Owners: none

chore: remove swapping workaround
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

chore: refactor + test change amount calculation
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/tests.rs
Owners: @dandanlen

pick to release/1.3 no package scripts
  .github/workflows/_20_build.yml
  .github/workflows/_25_package.yml
  .github/workflows/_30_publish.yml
  .github/workflows/_40_post_check.yml
  Cargo.lock
  Cargo.toml
  api/lib/src/lib.rs
  bouncer/commands/read_workspace_tomls.ts
  ci/docker/development/chainflip-engine.Dockerfile
  ci/docker/production/chainflip-engine.Dockerfile
  engine-dylib/Cargo.toml
  engine-dylib/build.rs
  engine-dylib/src/lib.rs
  engine-proc-macros/Cargo.toml
  engine-proc-macros/build.rs
  engine-proc-macros/src/lib.rs
  engine-runner-bin/Cargo.toml
  engine-runner-bin/build.rs
  engine-runner-bin/src/main.rs
  engine-upgrade-utils/Cargo.toml
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/build.rs
  engine/package/berghain/chainflip-engine1.3.service
  engine/package/perseverance/chainflip-engine1.3.service
  engine/package/sisyphos/chainflip-engine1.3.service
  engine/src/lib.rs
  engine/src/main.rs
  localnet/init/scripts/start-engine.sh
  localnet/manage.sh
  state-chain/pallets/cf-chain-tracking/src/migrations/set_fee_multiplier.rs
  utilities/Cargo.toml
  utilities/src/with_std/logging.rs
Owners: @martin-chainflip, @chainflip-io/platform, @dandanlen

made clippy happy
  api/lib/src/lp.rs
Owners: none

fix: move package scripts to runner-bin
  engine-runner-bin/package/berghain/chainflip-engine.service
  engine-runner-bin/package/perseverance/chainflip-engine.service
  engine-runner-bin/package/preinst-tests/mocks/mock_commands.sh
  engine-runner-bin/package/preinst-tests/tests/setup.bats
  engine-runner-bin/package/preinst-tests/tests/test_preinst.bats
  engine-runner-bin/package/sisyphos/chainflip-engine.service
  engine-runner-bin/package/test/chainflip-engine.service
Owners: none

chore: fix contract_swap
  bouncer/shared/contract_swap.ts
Owners: @martin-chainflip

chore: minor changes:
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/traits/src/mocks/ingress_egress_fee_handler.rs
Owners: @dandanlen

fix: make benchmarks work again (#4716)
  bouncer/shared/fund_redeem.ts
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-broadcast/src/benchmarking.rs
  state-chain/pallets/cf-broadcast/src/weights.rs
  state-chain/pallets/cf-chain-tracking/src/weights.rs
  state-chain/pallets/cf-emissions/src/weights.rs
  state-chain/pallets/cf-environment/src/weights.rs
  state-chain/pallets/cf-flip/src/weights.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-governance/src/weights.rs
  state-chain/pallets/cf-ingress-egress/src/weights.rs
  state-chain/pallets/cf-lp/src/benchmarking.rs
  state-chain/pallets/cf-lp/src/weights.rs
  state-chain/pallets/cf-pools/src/benchmarking.rs
  state-chain/pallets/cf-pools/src/weights.rs
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/weights.rs
  state-chain/pallets/cf-swapping/src/benchmarking.rs
  state-chain/pallets/cf-swapping/src/weights.rs
  state-chain/pallets/cf-threshold-signature/src/benchmarking.rs
  state-chain/pallets/cf-threshold-signature/src/lib.rs
  state-chain/pallets/cf-threshold-signature/src/weights.rs
  state-chain/pallets/cf-tokenholder-governance/src/weights.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/pallets/cf-vaults/src/weights.rs
  state-chain/pallets/cf-witnesser/src/benchmarking.rs
  state-chain/pallets/cf-witnesser/src/weights.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/account_role_registry.rs
Owners: @martin-chainflip, @dandanlen

feat: gas swaps use swapping queue (#4697)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/asset_converter.rs
  state-chain/traits/src/mocks/ingress_egress_fee_handler.rs
  state-chain/traits/src/mocks/swap_queue_api.rs
  state-chain/traits/src/mocks/tracked_data_provider.rs
Owners: @dandanlen

building
  Cargo.lock
  Cargo.toml
  api/bin/chainflip-broker-api/Cargo.toml
  api/bin/chainflip-cli/Cargo.toml
  api/bin/chainflip-lp-api/Cargo.toml
  api/lib/Cargo.toml
  engine-dylib/Cargo.toml
  engine-proc-macros/Cargo.toml
  engine-runner-bin/Cargo.toml
  engine-upgrade-utils/src/lib.rs
  engine/Cargo.toml
  engine/src/lib.rs
  state-chain/node/Cargo.toml
  state-chain/runtime/Cargo.toml
Owners: @dandanlen

fix comment
  engine-upgrade-utils/src/lib.rs
Owners: none

chore: revert commitment to finalized
  foreign-chains/solana/sol-rpc/src/calls/get_fee_for_message.rs
  foreign-chains/solana/sol-rpc/src/calls/get_signatures_for_address.rs
  foreign-chains/solana/sol-rpc/src/calls/get_transaction.rs
Owners: none

Added SwapType to SwapExecuted event
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Owners: @dandanlen

build 1.3 dylib
  .github/workflows/_20_build.yml
  .github/workflows/_24_docker.yml
  .github/workflows/_25_package.yml
  Cargo.lock
  Cargo.toml
  engine-dylib/Cargo.toml
Owners: none

fix: integration test amounts
  state-chain/cf-integration-tests/src/new_epoch.rs
Owners: @dandanlen

feat: continuous transfer of old utxos (#4680)
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/new_epoch.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/btc/utxo_selection.rs
  state-chain/pallets/cf-environment/src/lib.rs
  state-chain/pallets/cf-environment/src/mock.rs
  state-chain/pallets/cf-environment/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: uncomment pools pallet migration
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

feat: use BoundedVec for vanity names
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-account-roles/Cargo.toml
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: uncomment pools pallet migration
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: remove misleading error
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: uncomment pools pallet migration (#4725)
  state-chain/runtime/src/lib.rs
Owners: @dandanlen

fix: correctly handle rounding errors
  Cargo.lock
  state-chain/pallets/cf-ingress-egress/Cargo.toml
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
Owners: @dandanlen

test: check all assets
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Owners: @dandanlen

test: use different amounts in tests for boost
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
Owners: @dandanlen

chore: add comment to a benchmark
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
Owners: @dandanlen

chore: update weights
  state-chain/pallets/cf-ingress-egress/src/weights.rs
Owners: @dandanlen

Moved start/stop bidding from Funding to Validator pallet. Moved the ActiveBidder storage to Validator pallet. Moved corresponding tests, events, error, benchmarking
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/src/witnessing/state_chain.rs
  state-chain/cf-integration-tests/src/funding.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/cf-integration-tests/src/witnessing.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-funding/src/benchmarking.rs
  state-chain/pallets/cf-funding/src/lib.rs
  state-chain/pallets/cf-funding/src/mock.rs
  state-chain/pallets/cf-funding/src/tests.rs
  state-chain/pallets/cf-funding/src/weights.rs
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Owners: @chainflip-io/web, @dandanlen

chore: mainly gas fix for Arbitrum
  bouncer/shared/contract_swap.ts
  bouncer/shared/swapping.ts
Owners: @martin-chainflip

fix: remove misleading error (#4726)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

fix: remove misleading error (#4726)
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @dandanlen

test: add test for main arbitrum rpc
  engine/src/settings.rs
Owners: none

chore: commit
  charts/chainflip-node/templates/engine-settings.yaml
  charts/chainflip-node/values.yaml
  engine/config/testing/config/Settings.toml
  engine/src/constants.rs
  engine/src/settings.rs
  localnet/init/config/Settings.toml
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Owners: @chainflip-io/platform, @dandanlen

chore: use array instead of iter
  engine-proc-macros/src/lib.rs
Owners: none

use from and better names
  engine-dylib/src/lib.rs
  engine-proc-macros/src/lib.rs
  engine-upgrade-utils/src/lib.rs
Owners: none

move exit status to top level
  engine/src/lib.rs
  utilities/src/with_std/logging.rs
Owners: none

chore: remove stale comment
  engine-runner-bin/src/main.rs
Owners: none

chore: bump cli version
  bouncer/package.json
  bouncer/pnpm-lock.yaml
Owners: @martin-chainflip

.github/CODEOWNERS:

/bouncer/ @martin-chainflip

/bouncer/shared/upgrade_network.ts @kylezs
/bouncer/commands/upgrade_network.ts @kylezs
.github/workflows/upgrade-test.yml @kylezs

/state-chain/custom-rpc/ @chainflip-io/web
/api/bin/chainflip-ingress-egress-tracker @chainflip-io/web

/engine/config/CI/config/Settings.toml @chainflip-io/platform
/localnet/ @chainflip-io/platform

/state-chain/pallets/cf-pools/ @AlastairHolmes
/state-chain/amm/ @AlastairHolmes

/state-chain/ @dandanlen

/utilities/with_std/task_scope @AlastairHolmes

/engine/multisig/ @msgmaxim
/engine/src/p2p/ @msgmaxim
/engine/src/p2p.rs @msgmaxim

/engine/state_chain_observer/client/ @AlastairHolmes
/engine/src/witness/ @kylezs @AlastairHolmes
/engine/src/witness.rs @kylezs @AlastairHolmes
/engine/src/eth/ @kylezs
/engine/src/btc/ @kylezs
/engine/src/dot/ @kylezs
/engine/src/retrier.rs @kylezs
