Repository chainflip-io/chainflip-backend, pull requests merged in 2024-09, with the labels that each got.

#5203 test: add new LP to execute new tests in parallel
  bouncer/commands/setup_lp_account.ts
  bouncer/shared/create_and_delete_multiple_orders.ts
  bouncer/shared/fund_flip.ts
  bouncer/shared/limit_order.ts
  bouncer/shared/range_order.ts
  bouncer/shared/setup_lp_account.ts
  bouncer/shared/setup_swaps.ts
  bouncer/shared/upgrade_network.ts
  bouncer/shared/utils.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/create_and_delete_multiple_orders.ts
  state-chain/node/src/chain_spec/testnet.rs
Labels: non-breaking

#5226 tests: Swapping unit tests cleanup
  state-chain/pallets/cf-broadcast/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/ccm.rs
  state-chain/pallets/cf-swapping/src/tests/config.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fees.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
  state-chain/test-utilities/src/rich_test_externalities.rs
Labels: State Chain

#5273 refactor: user friendly bouncer new swap cmd
  bouncer/commands/new_swap.ts
  bouncer/shared/create_lp_pool.ts
  bouncer/shared/utils.ts
Labels: Bouncer

#5284 feat: localnet scripts to create and recreate easier
  localnet/common.sh
  localnet/create.sh
  localnet/manage.sh
  localnet/recreate.sh
Labels: localnet

#5289 refactor: use chainflip api for DCA test
  bouncer/commands/new_swap.ts
  bouncer/package.json
  bouncer/pnpm-lock.yaml
  bouncer/shared/contract_swap.ts
  bouncer/shared/new_swap.ts
  bouncer/shared/perform_swap.ts
  bouncer/shared/swapping.ts
  bouncer/shared/utils.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/fill_or_kill.ts
  bouncer/tests/gaslimit_ccm.ts
Labels: Bouncer
