Repository chainflip-io/chainflip-backend, pull requests merged in 2024-08, with the labels that each got.

#5103 refactor: bouncer cmd for FoK swap
  bouncer/commands/new_swap.ts
Labels: Bouncer

#5108 prewitness deposits without delay
  engine/src/witness/common/chunked_chain_source/chunked_by_vault/monitored_items.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Labels: non-breaking

#5146 fix: Don't panic in SCC extrinsic detection (PRO-1250)
  engine/src/state_chain_observer/client/extrinsic_api/signed/submission_watcher.rs
Labels: CFE, CLI / API

#5111 test: FoK 0 refund duration
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
Labels: State Chain

#5144 feat: DCA parameter validation
  state-chain/cf-integration-tests/src/solana.rs
  state-chain/cf-integration-tests/src/swapping.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/custom-rpc/src/snapshots/custom_rpc__test__environment_serialization.snap
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/remove_max_swap_retry_duration.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/primitives/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/test-utilities/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Labels: State Chain

#5136 feat: bouncer can observe past events
  bouncer/shared/fill_or_kill.ts
  bouncer/shared/gaslimit_ccm.ts
  bouncer/shared/utils.ts
  bouncer/shared/utils/substrate.ts
Labels: Bouncer

#5137 test: Bouncer test for DCA Swap
  bouncer/shared/DCA_test.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_concurrent_tests.ts
Labels: Bouncer

#5182 Feat: Add DCA details to scheduled swaps subscription
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
Labels: State Chain

#5192 feat: use encoded address in ccm deposit metadata in events
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/pallets/cf-swapping/src/tests/dca.rs
  state-chain/pallets/cf-swapping/src/tests/fill_or_kill.rs
  state-chain/traits/src/swapping.rs
Labels: State Chain
