Repository chainflip-io/chainflip-backend, pull requests merged in 2024-11, with the labels that each got.

#5396 fix: use correct trait object
  state-chain/custom-rpc/src/monitoring.rs
Labels: non-breaking

#5384 Feat: New vault swap encoding RPC & bouncer test
  api/bin/chainflip-broker-api/src/main.rs
  api/bin/chainflip-cli/src/main.rs
  api/lib/src/lib.rs
  api/lib/src/lp.rs
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/commands/run_test.ts
  bouncer/shared/evm_vault_swap.ts
  bouncer/shared/send_btc.ts
  bouncer/shared/swapping.ts
  bouncer/tests/DCA_test.ts
  bouncer/tests/all_swaps.ts
  bouncer/tests/broker_level_screening.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/fill_or_kill.ts
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/chains/src/address.rs
  state-chain/custom-rpc/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/runtime_apis.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/swap_limits_provider.rs
Labels: State Chain, Bouncer

#5410 feat: Btc vault swap bouncer test can open a private channel
  api/bin/chainflip-broker-api/src/main.rs
  api/lib/src/lib.rs
  bouncer/tests/all_concurrent_tests.ts
  bouncer/tests/btc_vault_swap.ts
  engine/src/state_chain_observer/client/base_rpc_api.rs
  state-chain/runtime/src/lib.rs
Labels: CLI / API, Bouncer

#5431 fix(node/systemd): add `--max-runtime-instances` 🐛
  state-chain/node/package/berghain/chainflip-archive-node.service
  state-chain/node/package/perseverance/chainflip-archive-node.service
  state-chain/node/package/sisyphos/chainflip-archive-node.service
Labels: non-breaking

#5436 fix: bouncer btc client mutex for vault swaps
  bouncer/commands/create_raw_btc_tx.ts
  bouncer/shared/send_btc.ts
  bouncer/tests/btc_vault_swap.ts
  bouncer/tests/lp_api_test.ts
Labels: Bouncer
