Repository chainflip-io/chainflip-backend, pull requests merged in 2024-06, with the labels that each got.

#4939 chore: use rpath in profile for linking dylibs
  Cargo.toml
  engine-runner-bin/README.md
Labels: non-breaking

#4940 feat: run upgrade-test on push to release branches
  .github/workflows/release-sisyphos.yml
Labels: non-breaking

#4976 Remove dead-code
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks/asset_converter.rs
Labels: State Chain

#4987 feat: scheduled swap sub price estimation fallback
  state-chain/amm/src/common.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/lib.rs
Labels: State Chain

#4994 fix: eagerly prune ExtraCallData
  state-chain/pallets/cf-witnesser/src/lib.rs
  state-chain/pallets/cf-witnesser/src/mock.rs
  state-chain/pallets/cf-witnesser/src/mock/dummy.rs
  state-chain/pallets/cf-witnesser/src/tests.rs
Labels: non-breaking

#5011 fix: record_fees
  state-chain/pallets/cf-lp/src/lib.rs
  state-chain/pallets/cf-lp/src/tests.rs
Labels: bug, State Chain, non-breaking, cherry-pick
