Repository chainflip-io/chainflip-backend, pull requests merged in 2024-04, with the labels that each got.

#4708 feat: update metric's buckets values
  utilities/src/with_std/metrics.rs
Labels: non-breaking, cherry-pick

#4697 feat: gas swaps use swapping queue
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-pools/src/lib.rs
  state-chain/pallets/cf-pools/src/mock.rs
  state-chain/pallets/cf-pools/src/tests.rs
  state-chain/pallets/cf-swapping/src/lib.rs
  state-chain/pallets/cf-swapping/src/mock.rs
  state-chain/pallets/cf-swapping/src/tests.rs
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/liquidity.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/asset_converter.rs
  state-chain/traits/src/mocks/ingress_egress_fee_handler.rs
  state-chain/traits/src/mocks/swap_queue_api.rs
  state-chain/traits/src/mocks/tracked_data_provider.rs
Labels: State Chain

#4726 fix: remove misleading error
  state-chain/pallets/cf-ingress-egress/src/lib.rs
Labels: non-breaking

#4731 chore: fix cargo audit
  Cargo.lock
  api/bin/chainflip-ingress-egress-tracker/Cargo.toml
Labels: non-breaking

#4719 refactor: move vanity names to account roles pallet
  api/lib/src/lib.rs
  state-chain/cf-integration-tests/src/account.rs
  state-chain/cf-integration-tests/src/mock_runtime.rs
  state-chain/cf-integration-tests/src/network.rs
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-account-roles/Cargo.toml
  state-chain/pallets/cf-account-roles/src/benchmarking.rs
  state-chain/pallets/cf-account-roles/src/lib.rs
  state-chain/pallets/cf-account-roles/src/migrations.rs
  state-chain/pallets/cf-account-roles/src/tests.rs
  state-chain/pallets/cf-account-roles/src/weights.rs
  state-chain/pallets/cf-pools/src/migrations.rs
  state-chain/pallets/cf-validator/src/benchmarking.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/migrations.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-validator/src/weights.rs
  state-chain/runtime/src/lib.rs
Labels: State Chain

#4742 chore: SetAggKeyWithAggKey should not error to indicate that a transaction is not needed
  state-chain/chains/src/arb/api.rs
  state-chain/chains/src/btc/api.rs
  state-chain/chains/src/dot/api.rs
  state-chain/chains/src/eth/api.rs
  state-chain/chains/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Labels: non-breaking

#4745 feat: Add prewitness deposit events
  state-chain/pallets/cf-ingress-egress/src/benchmarking.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool.rs
  state-chain/pallets/cf-ingress-egress/src/boost_pool/tests.rs
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
Labels: State Chain

#4761 feat: add pool created events
  bouncer/shared/submit_runtime_upgrade.ts
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
Labels: State Chain

#4769 fix: PRO-1330 - Move Location::panic() to inside the function, so it outputs the caller of the fn and not of the async block poll fn.
  utilities/src/with_std/spmc.rs
Labels: bug

#4779 feat: added safe mode for ingress egress pallet
  state-chain/pallets/cf-ingress-egress/src/lib.rs
  state-chain/pallets/cf-ingress-egress/src/migrations/add_boost_pools.rs
  state-chain/pallets/cf-ingress-egress/src/mock_btc.rs
  state-chain/pallets/cf-ingress-egress/src/mock_eth.rs
  state-chain/pallets/cf-ingress-egress/src/tests.rs
  state-chain/pallets/cf-ingress-egress/src/tests/boost.rs
  state-chain/runtime/src/lib.rs
  state-chain/runtime/src/migrations/arbitrum_integration.rs
  state-chain/runtime/src/safe_mode.rs
Labels: State Chain

#4803 refactor: minor cleanup of retrier code and vault pallet
  engine/src/btc/retry_rpc.rs
  engine/src/dot/retry_rpc.rs
  engine/src/evm/retry_rpc.rs
  engine/src/evm/retry_rpc/address_checker.rs
  engine/src/retrier.rs
  state-chain/pallets/cf-vaults/src/vault_activator.rs
Labels: CFE, State Chain, refactor

#4813 fix: don't set code red on "agg-key set by gov-key"
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Labels: State Chain
